<dom-module id="multi-level-report">
  <style>
    .dl-horizontal dt {
      float: left;
      width: 160px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: normal !important;
    }
    .dl-horizontal dd {
      margin-left: 96px !important;
    }
    .dl-horizontal dt {
      width: 90px !important;
    }
  .dl-horizontal.multi-level-report dt.multi-level-report {
        width: 110px !important;
        text-align: left;
      }
    .FixWidth {
      width: 50% !important;
    }
    
    .FixWidthDD {
      margin-left: 52% !important;
    }
     .panel-body {
      min-height: 0px;
    }
    .panel-title.multi-level-report {
      font-size: 14px;
      margin-top: 0 !important;
    }
        /*******************************
        * ACCORDION WITH TOGGLE ICONS
        * Does not work properly if "in" is added after "collapse".
        * Get free snippets on bootpen.com
        *******************************/
    
    .panel-group .panel {
      border-radius: 0;
      box-shadow: none;
      border-color: #EEEEEE;
    }
    
    .panel-default > .panel-heading {
      padding: 0;
      border-radius: 0;
      color: #212121;
      background-color: #FAFAFA;
      border-color: #EEEEEE;
    }
    
    .panel-title {
      font-size: 14px;
    }
    
    .panel-title > a {
      display: block;
      padding: 15px;
      text-decoration: none;
    }
    
    .more-less {
      float: right;
      color: #212121;
    }
    
    .panel-default > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #EEEEEE;
    }
    /* ----- v CAN BE DELETED v ----- */
  </style>
  <template>
    <template is="dom-repeat" items="{{reportList}}" as="report">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="{{report.headerId}}" style="margin: 0px !important;border-radius: 0px !important;">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#report" href="#{{report.id}}" aria-expanded="true" aria-controls="{{report.id}}">
              <i class="more-less glyphicon glyphicon-plus"></i> {{report.name}}
            </a>
          </h4>
        </div>
        <div id="{{report.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{report.headerId}}">
          <div class="panel-body">
            <template is="dom-if" if="{{_hasSubReports(report)}}">
              <multi-level-report report-List={{report.subReports}}></multi-level-report>
            </template>
            <template is="dom-if" if="{{_showReport(report)}}">
                <dl class="dl-horizontal">
                  <template is="dom-repeat" items="{{report.fields}}" as="field">
                    <div class="col-lg-6" style="margin-top:2px">
                      <dt class="FixWidth">{{field.label}}:&nbsp;</dt>
                      <dd class="FixWidthDD">{{field.value}}</dd>
                    </div>
                  </template>
                </dl>
            </template>
          </div>
        </div>
      </div>
    </template>
  </template>
  <script>
    Polymer({
      is: "multi-level-report",
      properties: {
        reportList: {
          type: Array,
          notify: true,
          value: []
        }
      },
      _hasSubReports: function (report) {
        if (report && report.name && report.hasSubReports) {
          return true;
        }
        return false;
      },
      _showReport: function (report) {
        if (report && report.name && !report.hasSubReports) {
          return true;
        }
        return false;
      },
      ready: function () {
      },
      attached: function () {
        var self = this;
      }
    });
  </script>
</dom-module>