<dom-module id="dropdown-element">
  <style>
    li a, li a {
      font-size: 12px;
    }
    li > a {
      margin: 4px;
      font-weight: normal;
      line-height: 25px;
      color: inherit;
      text-align: left;
      border-radius: 3px;
    }
     li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }
    li > a:hover, li > a:focus {
      color: #262626;
      text-decoration: none;
      background-color: #f5f5f5;
    }
  </style>
  <template>
    <li><a href="{{dropdownHref}}">
      <content></content>
    </a></li>
  </template>
  <script>
    Polymer({
      is : "dropdown-element",
      properties: {
        dropdownHref: {
          type: "string",
          notify: true
        }
      }
    });
  </script>
</dom-module>
