<html-import html-href="app-view/activitylist.html"></html-import>
<dom-module id="activity-wrapper">
  <template>
    <http-request id="http"></http-request>
    <div class="panel-body">
      <template is="dom-if" if="{{_rerenderList(activityList)}}">
        <activity-list id="list" activity-list="{{activityList}}" has-alert={{hasAlert}}></activity-list>
      </template>
    </div>
    <url-parser id="url"></url-parser>
  </template>
  <script>
    Polymer({
      is: "activity-wrapper",
      properties: {
        applicationNumber: {
          type: String,
          notify: true
        },
        activityList: {
          type: Object,
          notify: true,
          value: {}
        },
        hasAlert: {
          type: Boolean,
          notify: true
        },
        devMode: {
          type: String,
          notify: true,
          value: "test"
        },
        rerender: {
          type: Boolean,
          notify: true,
          value: false
        }
      },
      ready: function () {
        var self = this;
        self.addEventListener('reload', self._reloadActivityList.bind(self));
        self._getApplication();
      },
      showSendEmail: function (e) {
        this.$.sendEmail.showModal();
      },
      _processActivityData: function (data) {
        var self = this;
        if (data.length > 0) {
          for (var i = 0; i < data.length; i++) {
            if (data[i].description.indexOf("$$") > 0) {
              var description = data[i].description;
              var textContent = description.substring(0, description.indexOf("$$"));
              var htmlContent = description.substring(description.indexOf("$$"));
              data[i].HTML = htmlContent.replace(/[$$]/g, "");
              data[i].isHTML = true;
              data[i].description = textContent;
            }
          }
        }
        return data;
      },
      _fetchActivity: function () {
        var self = this;
        var url = '/application/' + self.applicationNumber;
        if(self.application.userId !== undefined){
          url = url + "/application/" + self.application.userId;
        }
        self.$.http.get(url, window.config.services.activityList).then(function (data) {
          self.set('activityList', self._processActivityData(data));
          if (!self.activityList || !self.activityList.length) {
            self.set('hasAlert', true);
          } else {
            self.set('hasAlert', false);
          }
          function activityInit() {
            if (self.$$('#list')) {
              self.$$('#list').init();
            } else {
              setTimeout(activityInit, 1000);
            }
          }
          setTimeout(function () {
            activityInit();
          }, 5000);
        });
        this.async(function () {}.bind(this));
      },
      _reloadActivityList: function (e) {
        this.rerender = true;
        this._fetchActivity();
        console.log("activityList.length is  ", this.activityList.length);
      },
      _getApplication: function () {
          var self = this;
          var url = "/application/" + self.applicationNumber;
          var dataAttributes = window.config.services.dataAttributes;
          self.$.http.get(url, dataAttributes).then(function (data) {
              self.set('application', data.application);
              self._fetchActivity();
          }).fail(function (e) {
              console.log("get application error is ", e);
          });
      },
      _rerenderList: function () {
        return true;
      }
    });
  </script>
</dom-module>