<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/dropdown-list.html"></html-import>
<html-import html-href="ui-elements/dropdown-element.html"></html-import>
<dom-module id="activity-list">
    <style>
        .HideCol {
            display: none;
        }
        
        .alert {
            text-align: center;
        }
        
        #payment-search {
            width: 250px;
        }
        
        #length-selector {
            width: auto;
            display: inline-block;
            margin-right: 5px;
        }
        
        .header-right {
            position: absolute;
            right: 20px;
        }
        
        .footer-right {
            float: right;
        }
        
        .header {
            margin: 20px 0;
        }
        
        .header .input-group {
            width: 1px;
        }
        
        label {
            font-weight: normal;
        }
        
        .well {
            margin-top: 30px;
            text-align: center;
        }
        
        .status {
            text-align: left;
        }
        
        .tablecontainer {
            border-color: red;
        }
    </style>
    <template>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>

        <div id="emailContent" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title EmailSubject">Email Content</h4>
                    </div>
                    <div class="modal-body">
                        <div id="EmailModelContent"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tablecontainer">
            <div class="header">
                <span class="header-left">
                <label>
                    <select name="table_length" id="length-selector" class="form-control">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> activity per page
                </label>
            </span>
                <span class="header-right">
                <div class="inline-block">
                    <div class="input-group">
                        <input type="text" id="payment-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
        </div>
        </span>
        </div>

        <table id="activity" class="table issue-tracker">
            <thead>
                <tr>
                    <th>Application Number</th>
                    <th>Activity Title</th>
                    <th>Description</th>
                    <th>Creation Date</th>
                    <th class="HideCol"></th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{activityList}}" as="item">
                    <tr>
                        <td>{{item.entityId}}</td>
                        <td><span>{{item.title}}</span></td>
                        <td>
                            {{item.description}}
                            <template is="dom-if" if="{{showViewHtmlLink(item)}}">
                                <a href="javascript:void()" model$={{item}} on-click="ShowHTML">View Content</a>
                            </template>
                        </td>
                        <td>{{formatDate(item.activityDate)}}</td>
                        <td class="HideCol"><span>{{item.activityDate}}</span></td>
                    </tr>
                </template>
            </tbody>
        </table>

        <div hidden$="{{!hasAlert}}" id="status-messageActivity" class="animated fadeIn well">No activity found</div>

        <div class="foot" hidden$="{{!hasActivities(activityList)}}">
            <div class="footer-right">
                <div id="paginationContainerActivity"></div>
            </div>
            <div class="footer-left">
                <div id="informationContainerActivity"></div>
            </div>
        </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "activity-list",
            properties: {
                id: String
            },
            properties: {
                orderedLoans: {
                    type: Array,
                    notify: true
                }
            },
            showViewHtmlLink: function (item) {
                if (item.isHTML != undefined && item.isHTML) {
                    return true;
                }
                return false;
            },
            ShowHTML: function (event) {
                event.preventDefault();
                var html = event.model.__data__.item.HTML;
                var subject = event.model.__data__.item.title;
                if (html.indexOf("<body>") > 0) {
                    html = html.substring(html.indexOf("<body>") + 7, html.indexOf("</body>"));
                }
                $("h4.EmailSubject").text(subject);
                $('#EmailModelContent').html(html);
                $('#emailContent').modal('show');
                $('#EmailModelContent').find('a').removeAttr("href");
            },
            ready: function () {
                this.hasMultipleOptions = false;
            },
            init: function () {
                if ($(this.$.activity)['DataTable'] != undefined) {
                    var table = this.table = $(this.$.activity).DataTable({
                        stateSave: false,
                        sDom: '<"top">rt<"bottom"ip><"clear">',
                        order: [[4, "desc"]],
                        columnDefs: [
                            { "orderData": 4, "targets": [3] },
                            { "width": "20%", "targets": 3 }
                        ]
                    })
                    .on('order.dt search.dt', function () {
                        console.log("inside order.dt ***");
                        this.setOrderedLoansIds();
                    }.bind(this));
                    // Custom search
                    $(this.$["payment-search"]).on('input', function () {
                        table.search(this.value).draw();
                    });
                    var self = this;
                    // Custom Length Selector
                    $(this.$["length-selector"]).on("change", function () {
                        table.page.len(this.value).draw();
                    })

                    $("#paginationContainerActivity").append($("#activity_paginate"));
                    $("#informationContainerActivity").append($("#activity_info"));
                    // Check if running in Chrome
                    if (window.chrome) {
                        $(".dataTables_empty").html($("#status-messageActivity"));
                    }
                    if (!window.chrome) {
                        setTimeout(function () {
                            table.draw();
                        })
                        setTimeout(function () {
                            $(".dataTables_empty").html($("#status-messageActivity"));
                        })
                    }

                    this.setOrderedLoansIds();
                }
            },
            attached: function () {
            },

            activityCount: function () {
                this.testFetchActivity();
                return this.activityList.length;
            },
            formatDate: function (date) {
                if (date !== undefined) {
                    return moment.tz(date, window.config.timezone).format("MM/DD/YYYY LT");
                }
                return "";
            },
            hasActivities: function () {
                return this.activityList.length > 0;
            },
            setOrderedLoansIds: function () {
                var result = [];
                var loans = this.table.rows({
                    order: 'applied',
                    // page: 'current',
                    search: 'applied'
                }).nodes();
                for (var i = 0; i < loans.length; i++) {
                    result.push($(loans[i]).find('td').first().text());
                }
                this.orderedLoans = result;
            }
        });
    </script>
</dom-module>