<dom-module id="file-data">
    <template>
        <div class="row">
            <form is="iron-form" class="form-horizontal" name="searchFileDataForm">
                <dynamic-form form-configuration={{searchObj}} values="{{searchObj.values}}"></dynamic-form><br/>
                <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Search</paper-button>
            </form>
        </div>
        <div class="row tablecontainer">
            <table id="searchData" class="table table-striped" width="100%" cellspacing="0">
            </table>
        </div>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "file-data",
            properties: {
                jsonObj: {
                    type: Object,
                    notify: true
                },
                currentFilterName: {
                    type: String,
                    notify: true,
                    value: ""
                },
                tableObj: {
                    type: Object,
                    notify: false
                },
                searchObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "FromDate": {
                                "title": "From Date",
                                "type": "date",
                                "class": "twoColumn",
                                "format": "DD-MM-YYYY",
                                "validations": {
                                    "required": true
                                }
                            },
                            "ToDate": {
                                "title": "To Date",
                                "type": "date",
                                "class": "twoColumn",
                                "format": "DD-MM-YYYY",
                                "validations": {
                                    "required": false
                                }
                            }
                        },
                        values: {
                            FromDate: "",
                            ToDate: ""
                        }
                    }
                }
            },
            formatDate: function (date) {
                if (date !== undefined) {
                    return moment.tz(date, window.config.timezone).format("DD-MM-YYYY");
                }
                return "";
            },
            searchDate: function (date) {
                //MM-DD-YYYY Format used for search data from hunter nad finnacle file
                if (date !== undefined) {
                    return moment.tz(date, window.config.timezone).format("MM-DD-YYYY");
                }
                return "";
            },
            clearTable: function (table) {
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy();
                }
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    self.clearTable(table);
                }
                self.tableObj = $(this.$$('#searchData')).DataTable({
                    retrieve: true,
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    "language": {
                        "zeroRecords": "No data found."
                    },
                    "data": resultData,
                    "columns": self.jsonObj[this.currentFilterName].columns,
                    "columnDefs": self.jsonObj[this.currentFilterName].columnDefs,
                    "order": self.jsonObj[this.currentFilterName].order
                });

                $('#searchData tbody').on('click', 'button', function () {
                    var data = self.tableObj.row($(this).parents('tr')).data();
                    self.openLoanView(data);
                });
            },
            openLoanView: function (e) {
                var event = e;
                var self = this;
                self.set("statusName", e.statusName);
                this.applicationNumber = e.applicationNumber;
                window.location = "/#/app-details/filter:fileSearch/app:" + this.applicationNumber;
            },
            _verifyForm: function (event) {
                event.preventDefault();
                var params = this.$.url.getParams();
                var filter = params.filter;
                var self = this;
                var searchObj = self.searchObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var loanFilter = window.config.services.loanFilters;
                var fromDate = searchObj.values.FromDate;
                var toDate = searchObj.values.ToDate;
                var selectedDates = "";
                var fileType = "Exported to Hunter";
                if (filter === "finnacle") {
                    fileType = "Exported to Finacle";
                }
                var url = "/filterontaggedtime/" + fileType;
                if (fromDate !== "") {
                    selectedDates = "/" + self.searchDate(fromDate);
                    if (toDate !== "") {
                        selectedDates = selectedDates + "/" + self.searchDate(toDate);
                    }
                    url = url + selectedDates
                    self.$.http.post(url, null, loanFilter).then(function (result) {
                        result = result.length > 0 ? result : [];
                        self._showResult(result);
                    }).fail(function (e) {
                        console.log("Search error is ", e);
                        self._showResult([]);
                    });
                }
                else {
                    alert("Please select from date");
                }
            },
            _loadJson: function () {
                var self = this;
                var configEndpoint = window.config.services.backofficeconfiguration;
                var url = "/" + window.configName + "/filters";
                self.$.http.get(url, configEndpoint).then(function (data) {
                    var currFilterName = "HunterFinnacle File";
                    self.set("currentFilterName", currFilterName);
                    var columnLength = data[self.currentFilterName].columns.length;
                    for (var i = 0; i < columnLength; i++) {
                        if (data[self.currentFilterName].columns[i].render != undefined) {
                            var render = data[self.currentFilterName].columns[i].render;
                            if (data[self.currentFilterName].columns[i].isFunction) {
                                data[self.currentFilterName].columns[i].render = eval("(" + render + ")");
                            }
                            else {
                                data[self.currentFilterName].columns[i].render = eval(render);
                            }
                        }
                    }
                    self.set("jsonObj", data);
                }).fail(function (e) {
                    console.log("load config error is ", e);
                });
            },
            attached: function () {
                var self = this;
                if (window.jQuery && $.fn.DataTable) {
                    self._loadJson();
                } else {
                    window.addEventListener("WebComponentsReady", self._loadJson());
                }
            }
        });
    </script>
</dom-module>