<html-import html-href="app-view/filter.html"></html-import>
<dom-module is="app-view">
  <style>
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
      color: #555555 !important;
      cursor: default;
      background: white;
      border-bottom: #f3f3f4;
      border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
      border-image: none;
      border-style: solid;
      border-width: 1px;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
    }
  </style>
  <template>
    <div class="row" id="filterContainer">
      <template is="dom-if" if="{{_isItemsLoaded(itemsLoaded)}}">
        <div class="col-md-12">
          <filter-table id="filter" filter-items="{{items}}" filter-mapping="{{filterCodeMapping}}" has-alert="{{hasAlert}}" ordered-loans="{{orderedLoans}}"
            export-url="{{exportUrl}}"></filter-table>
        </div>
      </template>
    </div>
    <http-request id="http"></http-request>
    <url-parser id="url"></url-parser>
  </template>
  <script>
    Polymer({
      is: "app-view",
      properties: {
        items: {
          type: Array,
          value: []
        },
        itemsLoaded: {
          type: Boolean,
          notify: true,
          value: false
        },
        applicationNumber: {
          type: String,
          notify: true
        },
        filterCodeMapping: {
          type: Object,
          notify: true,
          value: {
            leads: "200.10",
            penoffer: "200.20",
            penofferselection: "200.30",
            penbankLinking: "tag/Pending Bank Linking",
            pensignature: "tag/Pending Signature",
            fundingreview: "400.10",
            cancelled: "600.10",
            notinterested: "600.20",
            expired: "600.30",
            rejected: "600.40",
            pendocs: "tag/Pending Documents",
            approved: "400.20"
          }
        },
        exportUrl: {
          type: String,
          notify: true,
          value: ""
        }
      },
      _isItemsLoaded: function () {
        if (this.itemsLoaded) {
          return true;
        }
        return false;
      },
      _application_loaded: function (event) {
        this.set('applicantNumber', event.detail.applicantId);
      },
      _endPointUrl: function (filter) {
        var self = this;
        var code = self.filterCodeMapping[filter];
        if (code == undefined) {
          var exportTemplateName = self.defaultTemplateNameObj.all;
          self.set('exportUrl', "/export/all/" + exportTemplateName);
          return "/all";
        } else if (code.includes("tag")) {
          var exportTemplateName = self.defaultTemplateNameObj.tags;
          self.set('exportUrl', "/export/" + exportTemplateName + "/" + code);
          return "/" + code;
        } else {
          var exportTemplateName = self.defaultTemplateNameObj.status;
          self.set('exportUrl', "/export/" + exportTemplateName + "/status/" + code);
          return "/status/" + code;
        }
      },
      attached: function () {
        var self = this;
        var params = self.$.url.getParams();
        self.hasAlert = false;
        self.orderedLoans = [];
        self.filterTitle = params.filter;
        this._fetchExportedTemplateName();
        self.set("items", []);
        self.hasAlert = true;
      },
      _fetchExportedTemplateName: function () {
        var self = this;
        var configEndpoint = window.config.services.backofficeconfiguration;
        var url = "/" + window.configName + "/exportTemplateName";
        self.$.http.get(url, configEndpoint).then(function (data) {
          self.set('defaultTemplateNameObj', data);
          self._initializeFilterItems();
        }).fail(function (e) {
          console.log("fetch config error is ", e);
        });
      },
      _initializeFilterItems: function () {
        var self = this;
        var params = self.$.url.getParams();
        var url = self._endPointUrl(params.filter);
        var loanFilters = window.config.services.loanFilters;
        self.$.http.get(url, loanFilters).then(function (data) {
          self.set('items', data.sort().reverse());
          self.itemsLoaded = true;
          if (!self.items || !self.items.length) {
            self.set('hasAlert', true);
          } else {
            self.set('hasAlert', false);
          }
          self.async(function () {
            self.$$("#filter").addEventListener("viewLoan", self.openLoanView.bind(self));
          });
        }).fail(function (e) {
          console.log("Filter error is ", e);
        });
      },
      openLoanView: function (e) {
        var event = e;
        var self = this;
        self.set("statusName", e.detail.statusName);
        console.log("index openLoanView called");
        this.applicationNumber = e.detail.loanReference;
        var params = self.$.url.getParams();
        window.location = "/#/app-details/filter:" + params.filter + "/app:" + this.applicationNumber;
      },
      ready: function () {
      }
    })
  </script>
</dom-module>