
<dom-module is="app-view">
    <template>
        <!-- <span>Dashboard</span> -->

      <h2>List of Applications Submitted</h2>
      <template is="dom-repeat" items="[[repos]]">
            <span>{{item.name}}</span>
        </template>
        <template is="dom-if"  if={{_hasApplications(applications)}}>
          <table><tr><th>Loan #</th><th>Name</th><th>Date Applied</th><th>Phone Number</th><th>Loan Amount</th><th>Status</th></tr>
        </template>
        <template is="dom-repeat" items="[[applications]]">
              <tr>
                <td>{{item.applicationNumber}}</td><td>{{_concateName(item.applicantFirstName,item.applicantMiddleName,
                  item.applicantLastName)}}</td><td>{{item.submitted}}</td>
                <td>{{item.applicantPhone}}</td><td>{{item.loanRequested}}</td><td>{{item.statusName}}</td>
              </tr>
          </template>
      <!--  <iron-ajax
            id="requestRepos"
            url="https://api.github.com/users/burczu/repos"
            params='{"type":"all"}'
            handle-as="json"
            on-response="handleResponse">-->
        </iron-ajax>
    </template>
    <script>
        Polymer({
            is: "app-view",
            properties: {
                repos: {
                    type: Array
                },
                applications:{
                  type:Array,
                  value:[]
                }
            },
            _hasApplications:function(){
              if(this.applications.length >0){
                return true;
              }
              return false;
            },
            _concateName:function(firstName,middleName,lastName){
              return firstName+' '+middleName+' '+lastName;
            },
            ready: function () {
                //this.$.requestRepos.generateRequest();
                this.applications = [
  {
    "applicationId": "57f79fe35536e50007a6f336",
    "applicationNumber": "LCUSA-0000008",
    "applicant": "Test T Test",
    "loanRequested": 7000,
    "requestTermType": "Monthly",
    "requestTermValue": 12.5,
    "initialOfferAmount": 5678,
    "applicantFirstName": "Test",
    "applicantLastName": "Test",
    "applicantMiddleName": "T",
    "applicantPhone": null,
    "applicantWorkEmail": "TestSigma@gmail.com",
    "applicantPersonalEmail": "test@gmail.com",
    "applicantPanNumber": "45345345",
    "applicantAadharNumber": "12345",
    "applicantEmployer": "SIS",
    "applicantAddressLine1": "test1",
    "applicantAddressLine2": "test3",
    "applicantAddressLine3": null,
    "applicantAddressLine4": null,
    "applicantAddressCity": "Ahmedabad",
    "applicantAddressCountry": "India",
    "applicantAddressIsDefault": false,
    "applicantAddressIsVerified": false,
    "submitted": "2016-10-07T13:15:15.861046+00:00",
    "expirationDate": "0001-01-01T00:00:00+00:00",
    "statusCode": "200.01",
    "statusName": "Created/Lead",
    "statusDate": "0001-01-01T00:00:00+00:00",
    "sourceId": "Ref123",
    "sourceType": "Merchant",
    "tags": [],
    "id": "580760b355f8080007627073"
  },
  {
    "applicationId": "57f884945536e50007a6f33a",
    "applicationNumber": "LCUSA-0000012",
    "applicant": "Amit Y Dave",
    "loanRequested": 300000,
    "requestTermType": "Monthly",
    "requestTermValue": 12.5,
    "initialOfferAmount": 5678,
    "applicantFirstName": "Amit",
    "applicantLastName": "Dave",
    "applicantMiddleName": "Y",
    "applicantPhone": null,
    "applicantWorkEmail": "",
    "applicantPersonalEmail": "contactsam25@gmail.com",
    "applicantPanNumber": "45345345",
    "applicantAadharNumber": "12345",
    "applicantEmployer": null,
    "applicantAddressLine1": "D",
    "applicantAddressLine2": "LOL",
    "applicantAddressLine3": null,
    "applicantAddressLine4": null,
    "applicantAddressCity": "Bangalore",
    "applicantAddressCountry": "India",
    "applicantAddressIsDefault": false,
    "applicantAddressIsVerified": false,
    "submitted": "2016-10-08T05:31:00.363953+00:00",
    "expirationDate": "0001-01-01T00:00:00+00:00",
    "statusCode": "200.01",
    "statusName": "Created/Lead",
    "statusDate": "0001-01-01T00:00:00+00:00",
    "sourceId": "Ref123",
    "sourceType": "Merchant",
    "tags": [],
    "id": "580760c255f8080007627075"
  },
  {
    "applicationId": "57f88d585536e50007a6f33b",
    "applicationNumber": "LCUSA-0000013",
    "applicant": "Amit Y Dave",
    "loanRequested": 300000,
    "requestTermType": "Monthly",
    "requestTermValue": 12.5,
    "initialOfferAmount": 5678,
    "applicantFirstName": "Amit",
    "applicantLastName": "Dave",
    "applicantMiddleName": "Y",
    "applicantPhone": null,
    "applicantWorkEmail": "",
    "applicantPersonalEmail": "contactsam25@gmail.com",
    "applicantPanNumber": "45345345",
    "applicantAadharNumber": "12345",
    "applicantEmployer": null,
    "applicantAddressLine1": "D",
    "applicantAddressLine2": "LOL",
    "applicantAddressLine3": null,
    "applicantAddressLine4": null,
    "applicantAddressCity": "Bangalore",
    "applicantAddressCountry": "India",
    "applicantAddressIsDefault": false,
    "applicantAddressIsVerified": false,
    "submitted": "2016-10-08T06:08:25.010973+00:00",
    "expirationDate": "0001-01-01T00:00:00+00:00",
    "statusCode": "200.01",
    "statusName": "Created/Lead",
    "statusDate": "0001-01-01T00:00:00+00:00",
    "sourceId": "Ref123",
    "sourceType": "Merchant",
    "tags": [],
    "id": "580760c255f8080007627076"
  }];

}/*,
            handleResponse: function (data) {
                this.repos = data.detail.response;
            }*/
        })
    </script>
</dom-module>
