<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="final-offer-re">
    <template>
        <div class="slide-action">
            <button id="generateOffer" on-click="generateFinalOffer" class="btn btn-primary activity-action-btn">Generate Final Offer</button>
        </div>
        <div id="offerGenerationMessge" style="display: none;"><p>{{message}}</p></div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "final-offer-re",
            properties: {
                message: {
                    type: String,
                    notify: true,
                    value: ""
                },
                messageList: {
                    type: Object,
                    notify: false,
                    value: {
                        Failed: "Unable to generate offer",
                        Completed: "Application is in Final Offer Selection",
                        Rejected: "Application rejected",
                        ManualReview: "Application is in Manual Review"
                    }
                }
            },
            ready: function () {
            },
            generateFinalOffer: function () {
                var self = this;
                var offerEndPoint = window.config.services.appProcessor;
                var url = "/offer/" + self.applicationNumber + "/reGenerateFinaloffer/false";
                self.$.http.post(url, {}, offerEndPoint).then(function (data) {
                    console.log("application data is ", data);
                    var message = self.messageList[data.status];
                    if (data.status == "Failed") {
                        message = "Unable to generate offer.";
                    };
                    self.set('message', message);
                    $('#generateOffer').hide();
                    $('#offerGenerationMessge').show();
                    self.raiseAppRefreshEvent();
                })
                .fail(function (e) {
                    console.log("application error is ", e);
                });
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>