<link rel="import" href="../ui-elements/grid-component.html">
<html-import html-href="spinny/index.html"></html-import>
<dom-module is="offers-grid">
    <style>
        .table>tbody>tr>td {
            vertical-align: middle;
        }
        
        td .btn {
            margin: 0 !important;
        }
        
        .hide {
            display: none;
        }
        
        .show {
            display: block;
        }
        
        .divHeader {
            text-align: left;
            font-size: 18px;
            color: #676a6c;
            font-weight: bold;
            border: 1px solid #e7e7e7;
            background-color: #F5F5F6;
            padding-left: 10px;
        }
    </style>
    <template>
        <div style="padding:10px;">
            <div class="divHeader">Computed Offers </div>

            <grid-component grid-Id="offersGrid" column-headers="{{columnHeaders}}" column-definations="{{columnDefinations}}" grid-data="{{computedOffers}}"
                grid-width="100%" selected-rowdata="{{selectedOffer}}">

                </grid-component>
                <br/>
                <div id="dealSection" class="hide">
                    <div class="divHeader">Add Deal </div>
                    <table class="table table-bordered">
                        <tr>
                            <td>Amount</td>
                            <td><span>[[dealObject.LoanAmount]]</span></td>
                        </tr>
                        <tr>
                            <td>Term(Month)</td>
                            <td><span>[[dealObject.DurationType]]</span></td>
                        </tr>
                        <tr>
                            <td>Rate</td>
                            <td>
                                <!--<input type="text" on-change="stuffChanged(this)" value="[[dealObject.SellRate]]"></input>-->
                                <paper-input type="text" name="SellRate" value="[[dealObject.SellRate]]" on-change="stuffChanged"></paper-input>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button on-click="addDeal" class="btn btn-primary">Add Deal</button>&nbsp;
                                <button on-click="cancelDeal" class="btn btn-primary">Cancel</button>
                            </td>
                        </tr>
                    </table>
                </div>
                 <!--<div id="status-message1" class="animated fadeIn well" style="display: none;">
                    No offer generated yet.
                </div>-->
        </div>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>

    <script>
        Polymer({
            is: "offers-grid",
            properties: {
                columnHeaders: {
                    type: Array,
                    notify: true,
                    value: ['loanAmount', 'Amount', 'Term(Month)', 'Rate']
                },
                columnDefinations: {
                    type: Array,
                    notify: true,
                    value: [{ name: "loanAmount" },{ name: "maxAmount" }, { name: "maxDuration" }, { name: "maxFactor" }]
                },
                computedOffers: {
                    type: Array,
                    notify: true
                },
                selectedOffer: {
                    type: Object,
                    notify: true,
                    observer: 'showDealSection'
                },
                dealObject: {
                    type: Object,
                    notify: true,
                    value: {
                        AccountNumber: '01234567890123',
                        AccountType: 'Saving',
                        AmountFunded: 0,
                        BankName: 'Sun Trust',
                        CommissionAmount: 0,
                        CommissionRate: 0,
                        DurationType: 0,
                        LoanAmount: 0,
                        RepaymentAmount: 0,
                        RoutingNumber: '012345678',
                        SellRate: 0,
                        TermPayment: 0
                    }
                },
                fireEvent: {
                    type: Object,
                    notify: true,
                    value: {
                        "AppDetailsPageRefresh": true
                    }
                }
            },
            extractValue: function (event) {
                switch (event.target.tagName) {
                    case "INPUT":
                        return event.target.value;
                    default:
                        return;
                }
            },
            stuffChanged: function (event) {
                console.log('hello');
                var tagName = event.target.tagName;
                var fieldName = event.target.name;
                var value = this.extractValue(event);
                this.set('dealObject.' + fieldName, value);
            },
            cancelDeal: function () {
                $('#dealSection').removeClass('show');
                $('#dealSection').addClass('hide');
            },
            addDeal: function () {
                var self = this;
                var commissionAmount = 0; //parseInt(self.dealObject.AmountFunded) * parseFloat(self.dealObject.CommissionRate);
                self.set('dealObject.CommissionAmount', commissionAmount);
                var offerEndPoint = window.config.services.offerengine;
                var url = "/application/" + self.applicationNumber + "/offerengine/deal";
                console.log('deal data', self.dealObject)
                var dealList = [];
                self.set('dealObject.LoanAmount', self.dealObject.AmountFunded);
                dealList.push(self.dealObject);
                var dealReq = {
                    'dealOffers': dealList
                };
                self.$.http.post(url, dealReq, offerEndPoint).then(function (data) {
                    console.log('Add deal data', data);
                    self.raiseAppRefreshEvent();
                    //$('#status-message1').show();
                    //$('#status-message1').html('Deal added successfully');
                    self.cancelDeal();//to hide deal div

                }).fail(function (e) {
                    console.log("application error is ", e);
                });
            },
            showDealSection: function () {

                var self = this;
                var p = self.selectedOffer;
                self.set('dealObject.LoanAmount',p.maxAmount);
                self.set('dealObject.AmountFunded', p.loanAmount);
                self.set('dealObject.DurationType', p.maxDuration);
                self.set('dealObject.SellRate', p.maxFactor);
                $('#dealSection').removeClass('hide');
                $('#dealSection').addClass('show');
            },
            ready: function () {
                console.log("Offer view is called");
                var self = this;
                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            loadOffers: function () {
                var self = this;
                var offerEndPoint = window.config.services.offerengine;
                var url = "/application/" + self.applicationNumber + "/offerengine/getapplicationoffers";

                self.$.http.get(url, offerEndPoint).then(function (data) {
                    console.log(data);
                    if (data.offers && data.offers != null) {
                        data.offers.forEach(function(offer) {
                            offer.loanAmount = offer.maxAmount;
                            offer.maxAmount=formats.money(offer.maxAmount,'USA',0);                           
                            offer.maxDuration=offer.maxDuration;
                            offer.maxFactor=offer.maxFactor;
                        });
                        self.set('computedOffers', data.offers);
                         var grid = document.querySelector('#offersGrid');
                         grid.columns[0].hidden = true;
                    }
                }).fail(function (e) {
                    console.log("application error is ", e);
                });
            },
            init: function () {
                var self = this;
                self.loadOffers();
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            },
        });
    </script>
</dom-module>