<script src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/jquery.roundslider/1.0/roundslider.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/jquery.roundslider/1.0/roundslider.min.js"></script>
<html-import html-href="spinny/index.html"></html-import>
<dom-module is="offer-view">
  <style>
    .panel-body {
      min-height: 200px;
    }
    
    .nav-tabs {
      margin-bottom: -1px;
    }
    
    .cell {
      margin: 5px;
      padding: 5px;
    }
    
    .show {
      display: block;
    }
    
    .hide {
      display: none;
    }
    
    .rslider {
      display: inline-block;
      margin-top: 20px;
      margin-left: 40px;
    }
    
    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 31%;
      display: inline-block;
      height: 300px;
      margin-top: 5px;
      margin-left: 10px;
      vertical-align: top;
    }
    /* On mouse-over, add a deeper shadow */
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    /* Add some padding inside the card container */
    
    .container {
      padding: 2px 16px;
    }
    
    h4,
    h3 {
      font-size: 15px;
      text-align: center;
      margin-bottom: 4px;
      text-transform: uppercase;
      font-weight: 600;
      color: #d8d8d8;
    }
    
    h3 {
      font-size: 18px !important;
      color: #000000 !important;
    }
    
    .max {
      right: 8px;
      text-align: right;
    }
    
    .min,
    .max {
      color: #0B9B93;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
      display: inline-block;
      width: 44%;
      padding: 10px 5px;
    }
    
    .max span {
      margin-top: 3px;
      display: block;
      color: #999;
    }
    
    .min span {
      display: block;
      margin-top: 3px;
      color: #999;
    }
    
    table {
      border-collapse: collapse;
      margin-top: 20px;
    }
    
    th,
    td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #ddd;
      border: 1px solid #ddd;
    }
    
    th {
      text-align: left;
      font-size: 18px;
      color: #0B9B93;
      font-weight: bold;
    }
    
    tr:nth-child(odd) {
      background-color: #f2f2f2
    }
    
    td > input {
      width: 75px;
    }
    
  </style>
  <template>
    <!--<div class="ibox float-e-margins loan-summary">
      <div class="ibox-title">
        <h2><strong>Offers</strong></h2>
      </div>
      <div class="ibox-content">
        <div class="panel-body">
          <div class="tab-content">
            <table id="computedOffer" class="table" width="100%" cellspacing="0">
            </table>
            <div id="status-message1" class="animated fadeIn well" style="display: none;">
              No offer generated yet.
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <div>
      <div class="card">
        <h4><b>FUNDING AMOUNT</b></h4>
        <h3><b>{{minAmount}}</b></h3>
        <div id="slider1" class="rslider"></div>

        <div class="min">Min<br/>
          <span>{{minAmount}}</span>
        </div>
        <div class="max">Max<br/>
          <span>{{maxAmount}}</span>
        </div>
      </div>
      <div class="card">
        <h4><b>Term</b></h4>
        <h3><b>[[minDuration]]</b></h3>
        <div id="slider2" class="rslider"></div>

        <div class="min">Min<br/>
          <span>[[minDuration]]</span>
        </div>
        <div class="max">Max<br/>
          <span>[[maxDuration]]</span>
        </div>
      </div>
      <div class="card">
        <h4><b>UPSELL</b></h4>
        <h3><b>[[minFactor]]</b></h3>
        <div id="slider3" class="rslider"></div>

        <div class="min">Min<br/>
          <span>[[minFactor]]</span>
        </div>
        <div class="max">Max<br/>
          <span>[[maxFactor]]</span>
        </div>
      </div>

    </div>
    <div>
      <table class="pure-table">
        <thead>
          <tr>
            <th colspan="7">Deal Term</th>

          </tr>
        </thead>

        <tbody>
          <tr class="pure-table-odd">
            <td>Funding Amount</td>
            <td>Payback Amount</td>
            <td>Payback Days /Daily Payment</td>
            <td>Factor Rate</td>
            <!--<td>Processing Fees</td>-->
            <td>Commission (%) / Commission ($):</td>
            <td rowspan="2">
              <button on-click="addDeal">Add Deal</button>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="AmountFunded" onchange="stuffChanged(this)" value="[[dealObject.AmountFunded]]">
                </input>
            </td>
            <td>
              <input type="text" name="RepaymentAmount" onchange="stuffChanged(this)" value="[[dealObject.RepaymentAmount]]">
                </input>
            </td>
            <td>
              <input type="text" name="TermPayment" onchange="stuffChanged(this)" value="[[dealObject.TermPayment]]">
                </input>
            </td>
            <td>
              <input type="text" name="SellRate" onchange="stuffChanged(this)" value="[[dealObject.SellRate]]">
                </input>
            </td>
            <!--<td> <input type="text" name="AmountFunded" 
            on-change="stuffChanged" value="[[dealObject.AmountFunded]]"></input></input>
            </td>-->
            <td>
              <input type="text" name="CommissionRate" onchange="stuffChanged(this)" 
              value="[[dealObject.CommissionRate]]">
                </input>
            </td>
          </tr>
    </div>
    <http-request id="http"></http-request>
  </template>
  <script>
    Polymer({
      is: "offer-view",
      properties: {
        minAmount: {
          type: String,
          notify: true,
          value: ''
        },
        maxAmount: {
          type: String,
          notify: true,
          value: ''
        },
        minFactor: {
          type: String,
          notify: true,
          value: ''
        },
        maxFactor: {
          type: String,
          notify: true,
          value: ''
        },
        minDuration: {
          type: String,
          notify: true,
          value: ''
        },
        maxDuration: {
          type: String,
          notify: true,
          value: ''
        },
        computedOffer: {
          type: Object,
          notify: true
        },
        dealObject: {
          type: Object,
          notify: true,
          value: {
            AccountNumber: '01234567890123',
            AccountType: 'Saving',
            AmountFunded: '',
            BankName: 'Sun Trust',
            CommissionAmount: '',
            CommissionRate: '',
            DurationType: '',
            LoanAmount: '',
            RepaymentAmount: '',
            RoutingNumber: '012345678',
            SellRate: '',
            TermPayment: ''
          }
        }
      },
      extractValue: function (event) {
        switch (event.target.tagName) {
          case "INPUT":
            return event.target.value;
          default:
            return;
        }
      },
      stuffChanged: function (event) {
        var tagName = event.target.tagName;
        var fieldName = event.target.name;
        var value = this.extractValue(event);
        this.set('dealObject.' + fieldName, value);
      },
      _setSliderParams: function () {
        var self = this;
        if (self.computedOffer && self.computedOffer != null) {
          if (self.computedOffer.offers && self.computedOffer.offers != null && self.computedOffer.offers.length > 0) {
            var offer = self.computedOffer.offers[0];
            self.set('dealObject.DurationType', offer.durationType);
            self.set('dealObject.LoanAmount', offer.minAmount);
            self.set('minAmount', offer.minAmount);
            self.set('maxAmount', offer.maxAmount);
            self.set('minFactor', offer.minFactor);
            self.set('maxFactor', offer.maxFactor);
            self.set('minDuration', offer.minDuration);
            self.set('maxDuration', offer.maxDuration);
          }
        }
      },
      ready: function () {
        console.log("Offer view is called");
      },
      attached: function () {
        var self = this;

        if (window.jQuery && $.fn.DataTable) {
          self.init()();
        } else {
          window.addEventListener("WebComponentsReady", self.init());
        }
      },
      init: function () {
        var self = this;
        self.loadOffers();
      },
      loadOffers: function () {
        var self = this;
        var offerEndPoint = window.config.services.offerengine;
        var url = "/application/" + self.applicationNumber + "/offerengine/getapplicationoffers";

        self.$.http.get(url, offerEndPoint).then(function (data) {
          self.set("computedOffer", data);
          self.initSliders();
        }).fail(function (e) {
          $('#status-message1').show();
          console.log("application error is ", e);
        });
      },
      initSliders: function () {
        self = this;
        self._setSliderParams();
        $("#slider1").roundSlider({
          width: 15,
          radius: 70,
          value: self.minAmount,
          sliderType: "min-range",
          min: self.minAmount,
          max: self.maxAmount,

          drag: function (args) {
            // handle the drag event here
          },
          change: function (args) {
            // handle the change event here
          }
        });
        $("#slider2").roundSlider({
          width: 15,
          radius: 70,
          value: self.minDuration,
          sliderType: "min-range",
          min: self.minDuration,
          max: self.maxDuration,
          drag: function (args) {
            // handle the drag event here
          },
          change: function (args) {
            // handle the change event here
          }
        });
        $("#slider3").roundSlider({
          width: 15,
          radius: 70,
          value: self.minFactor,
          sliderType: "min-range",
          step: 0.1,
          min: self.minFactor,
          max: self.maxFactor,
          drag: function (args) {
            // handle the drag event here
          },
          change: function (args) {
            // handle the change event here
          }
        });
      },
      initInitOfferDT: function () {
        var self = this;
        var table = this.table = $(this.$.computedOffer).DataTable({
          sDom: '<"top">rt<"bottom"ip><"clear">',
          "data": this.computedOffer.offers,
          "columns": [{
            "data": "minAmount",
            "title": "Min Loan Amount",
            "render": $.fn.dataTable.render.number(',', '.', 0, '$')
          },
          {
            "data": "maxAmount",
            "title": "Max Loan Amount",
            "render": $.fn.dataTable.render.number(',', '.', 0, '$')
          },
          {
            "data": "minFactor",
            "title": "Min Factor",
            "render": function (data, type, full, meta) {
              return data + '%';
            }
          },
          {
            "data": "maxFactor",
            "title": "Max Factor",
            "render": function (data, type, full, meta) {
              return data + '%';
            }
          },
          {
            "data": "minDuration",
            "title": "Min Duration",
          },
          {
            "data": "maxDuration",
            "title": "Max Duration",
          },
          {
            "data": "durationType",
            "title": "Duration Type",
          }
          ],
          "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            switch (aData.isSelected) {
              case true:
                $(nRow).addClass('success')
                break;
            }
          }
        })

        // Check if running in Chrome
        if (window.chrome) {
          $(".dataTables_empty").html($("#status-message"));
        }
        if (!window.chrome) {
          setTimeout(function () {
            table.draw();
          })
          setTimeout(function () {
            $(".dataTables_empty").html($("#status-message"));
          })
        }

      },
      addDeal: function () {
        var self = this;
        var commissionAmount = parseInt(self.dealObject.AmountFunded) * parseFloat(self.dealObject.CommissionRate);
        self.set('dealObject.CommissionAmount', commissionAmount);
        var offerEndPoint = window.config.services.appProcessor;
        var url = "/application/" + self.applicationNumber + "/add/deal";
        console.log('deal data', self.dealObject)
        var dealList = [];
        dealList.push(self.dealObject);
        var dealReq = {
          'dealOffers': dealList
        };
        self.$.http.post(url, dealReq, offerEndPoint).then(function (data) {
          console.log('Add deal data', data);
        }).fail(function (e) {
          $('#status-message1').show();
          console.log("application error is ", e);
        });
      }
    });
  </script>
</dom-module>