<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="present-final-offer">
    <template>
        <div class="slide-action">
            <button id="presentOffer" on-click="presenFinalOffer" class="btn btn-primary activity-action-btn">Present Final Offer</button>
        </div>
        <div id="PresentofferGenerationMessge" style="display: none;"><p>{{message}}</p></div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "present-final-offer",
            properties: {
                message: {
                    type: String,
                    notify: true,
                    value: ""
                }
            },
            presenFinalOffer: function (event) {
                var self = this;
                var offerEndPoint = window.config.services.appProcessor;
                var url = "/status-management/" + self.applicationNumber + "/manualreview-finaloffermade";
                self.$.http.post(url, {}, offerEndPoint).then(function (data) {
                    var message = "Application is in Final Offer Selection";
                    self.set('message',message);
                    $('#presentOffer').hide();
                    $('#PresentofferGenerationMessge').show();
                    self.raiseAppRefreshEvent();
                })
                .fail(function (e) {
                    console.log("application error is ", e);
                });
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>