<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="select-initial-offer">
    <template>
        <div id="offerAlreadySelectedDiv" style="display: none;">
            <p>offer is already selected.</p>
        </div>
        <div id="error-message" class="alert alert-danger" hidden$="{{!error}}">
          Please choose any offer to proceed.
        </div>
        <div id="offerSelectionDiv">
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th>
                        <div class="disbursement-info">
                            <label>Amount</label>
                        </div>
                    </th>
                    <th>
                        <div class="disbursement-info">
                            <label>Duration</label>
                        </div>
                    </th>
                </tr>
                <template id="test" is="dom-repeat" items="{{offers}}" as="offer">
                    <tr>
                        <td>
                            <div>
                                <label>
                                    <input on-click="selectOffer" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                                </label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p> &#8377 <span class="amount">{{offer.finalOfferAmount}}</span></p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>{{offer.loanTenure}} Months</p>
                            </div>
                        </td>
                    </tr>
                </template>
            </table>
            <div class="slide-action">
                <button on-click="selectInitialOffer" class="btn btn-primary activity-action-btn">Select Offer</button>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "select-initial-offer",
            properties: {
                offers: {
                   type:Array,
                   notify:true,
                   value:[]
                },
                selectedOfferId: {
                    type: String,
                    notify: true,
                    value: ""
                },
                applicationNumber: {
                    type: Array,
                    notify: true
                },
                error:{
                  type:Boolean,
                  notify:true,
                  value:false
                }
            },
            _isAnyOfferSelected: function() {
                var self = this;
                var offers = self.offers;
                if(offers.length > 0){
                    for(var i=0; i< offers.length; i++){
                        if(offers[i].isSelected){
                            $('#offerAlreadySelectedDiv').show();
                            $('#offerSelectionDiv').hide();
                            break;
                        }
                    }
                }
            },
            _loadOffers: function(){
                var self = this;
                self.$.http.get("/offer/"+self.applicationNumber+"/initialoffer", window.config.services.appProcessor)
                .then(function (data) {
                    self.set("offers",data.offers);
                    self._isAnyOfferSelected();
                })
                .fail(function (e) {
                    console.log("application error is ", e);
                });
            },
            selectOffer: function(e){
                this.set("selectedOfferId",e.model.__data__.offer.offerId);
                this.set("error",false);
            },
            selectInitialOffer: function(){
                var self = this;
                var url = "/offer/"+self.applicationNumber+"/acceptinitialoffer/"+self.selectedOfferId;
                var offerEndPoint = window.config.services.appProcessor;
                if(self.selectedOfferId != ""){

                    self.$.http.put(url, {}, offerEndPoint)
                    .then(function(data){
                        $('#offerAlreadySelectedDiv p').html("Initial Offer accepted.");
                        $('#offerAlreadySelectedDiv').show();
                        $('#offerSelectionDiv').hide();
                        self.raiseAppRefreshEvent();
                    })
                    .fail(function(e){
                        console.log("application error is ", e);
                    });
                }else {
                  self.set("error",true);
                }
            },
            ready:function(){
                this._loadOffers();
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>