<html-import html-href="app/dynamic-form/dynamic-form.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<dom-module id="full-search">
    <style>
        .tablecontainer {
            margin: 40px auto 0;
        }
        
        .row {
            margin: 0 auto !important;
        }
    </style>
    <template>
        <div class="row">
            <form is="iron-form" class="form-horizontal" name="searchForm">
                <dynamic-form form-configuration={{searchObj}} values="{{searchObj.values}}"></dynamic-form><br/>
                <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Search</paper-button>
            </form>
        </div>
        <div class="row tablecontainer">
            <table id="searchData" class="table table-striped" width="100%" cellspacing="0">
            </table>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "full-search",
            properties: {
                tableObj: {
                    type: Object,
                    notify: false
                },
                configAppliedOn :{
                    type : Object,
                    value : []
                },
                configExpiryOn :{
                    type : Object,
                    value : []
                },
                searchObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "MobileNumber": {
                                "title": "Mobile number",
                                "type": "textbox",
                                "class": "twoColumn",
                                "validations": {
                                    "required": false
                                }
                            },
                            "Name": {
                                "title": "Name",
                                "type": "textbox",
                                "class": "twoColumn",
                                "validations": {
                                    "required": false
                                }
                            },
                            "BusinessTaxID": {
                                "title": "Business TaxID",
                                "type": "textbox",
                                "class": "twoColumn",
                                "validations": {
                                    "required": false
                                }
                            },
                            "BusinessEmail": {
                                "title": "Business Email",
                                "type": "email",
                                "class": "twoColumn",
                                "validations": {
                                    "required": false
                                }
                            },
                            "LegalBusinessName": {
                                "title": "LegalBusinessName",
                                "type": "textbox",
                                "class": "twoColumn",
                                "validations": {
                                    "required": false
                                }
                            },
                            "StatusCode": {
                                "title": "Status",
                                "type": "dropdown",
                                "class": "twoColumn",
                                "selectList": [],
                                "selectedValue": "",
                                "validations": {
                                    "required": false
                                }
                            },
                            "AppliedOnDuration": {
                                "title": "Application Date",
                                "type": "dropdown",
                                "class": "twoColumn",
                                "selectList": [],
                                "selectedValue": "",
                                "validations": {
                                    "required": false
                                }
                            },
                            "ExpiryOnDuration": {
                                "title": "Expiry Date",
                                "type": "dropdown",
                                "class": "twoColumn",
                                "selectList": [],                                
                                "selectedValue": "",
                                "validations": {
                                    "required": false
                                }
                            }
                        },
                        values: {
                            MobileNumber: "",
                            Name: "",
                            BusinessTaxID: "",
                            BusinessEmail: "",
                            LegalBusinessName: "",
                            StatusCode: "",
                            AppliedOnDuration :0,
                            AppliedOnDurationType : "",
                            ExpiryOnDuration :0,
                            ExpiryOnDurationType : ""
                        }
                    }
                }
            },
            formatDate: function (date) {
                if (date !== undefined) {
                    return moment.tz(date, window.config.timezone).format("MM/DD/YYYY");
                }
                return "";
            },
            _IsVisible: function (objdata) {
                if (objdata)
                    return true;
                else
                    return false;
            },
            clearTable: function (table) {
                if (table !== null && table !== undefined) {
                    table.clear();
                    table.destroy();
                }
            },
            _showResult: function (resultData) {
                var self = this;
                var table = self.tableObj;
                if (table !== null && table !== undefined) {
                    self.clearTable(table);
                }
                self.tableObj = $(this.$$('#searchData')).DataTable({
                    retrieve: true,
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    "language": {
                        "zeroRecords": "No data found."
                    },
                    "data": resultData,
                    "order": [[2, "desc"]],
                    "columnDefs": [{
                        targets: 2,
                        orderable: true
                    }],
                    "columns": [
                        {
                            "data": "applicationNumber",
                            "title": "App. #"
                        },
                        {
                            "data": "submitted",
                            "title": "App. Date",
                            "render": function (data) {
                                return "<span>" + self.formatDate(data) + "</span>"
                            }
                        },
                        {
                            "data": "legalBusinessName",
                            "title": "Business Name"
                        },
                        {
                            "data": "businessPhone",
                            "title": "Phone"
                        },
                        {
                            "data": "requestedAmount",
                            "title": "Req Loan Amount",
                            "render": $.fn.dataTable.render.number(',', '.', 0, '$')
                        },
                        {
                            "data": "expiryDate",
                            "title": "Expiry Date",
                            "render": function (data) {
                                return "<span>" + self.formatDate(data) + "</span>"
                            }
                        },
                        {
                            "data": "sourceType",
                            "title": "Soruce"
                        },
                        {
                            "data": "",
                            "isFunction": true,
                            "render": eval("(function(data,type,full,meta) { return \"<button class='btn btn-primary btn-xs' data-ref$='{{item.loanReferenceNumber}}' on-click='openLoanView'>Details</button>\"})")
                        }
                    ]
                });

                $('#searchData tbody').on('click', 'button', function () {
                    var data = self.tableObj.row($(this).parents('tr')).data();
                    self.openLoanView(data);
                });
            },
            openLoanView: function (e) {
                var event = e;
                var self = this;
                self.set("statusName", e.statusName);
                this.applicationNumber = e.applicationNumber;
                window.location = "/#/app-details/filter:search/app:" + this.applicationNumber;
            },
            _verifyForm: function (event) {
                event.preventDefault();
                var self = this;
                var searchObj = self.searchObj;                
                if(searchObj.values.AppliedOnDuration>0)
                {
                    searchObj.values.AppliedOnDurationType = self._getObjectByProperty(self.configAppliedOn,"duration",searchObj.values.AppliedOnDuration).durationtype;
                }
                if(searchObj.values.ExpiryOnDuration>0)
                {
                    searchObj.values.ExpiryOnDurationType = self._getObjectByProperty(self.configExpiryOn,"duration",searchObj.values.ExpiryOnDuration).durationtype;
                }
                var form = Polymer.dom(event).localTarget.parentElement;
                var loanFilter = window.config.services.loanFilters;
                var url = "/searchapplications";
                if (form.validate()) {
                    self.$.http.post(url, searchObj.values, loanFilter).then(function (result) {
                        result = result.length > 0 ? result : [];
                        self._showResult(result);
                    }).fail(function (e) {
                        console.log("Search error is ", e);
                        self._showResult([]);
                    });
                }
            },
             _getObjectByProperty: function (array, propName, value) {
                var Obj = array.filter(function (e) {
                    return e[propName] === value;
                })[0];
                return Obj || {};
            },
            _loadApplicationDateList: function () {
                var self = this;
                var configEndpoint = window.config.services.backofficeconfiguration;
                var url = "/" + window.configName + "/appliedOnOptions";
                self.$.http.get(url, configEndpoint).then(function (result) {                  
                    var StatusObj = result;
                    self.set('configAppliedOn', result);
                    if (StatusObj) {
                        var tempList = [];
                        for (var i = 0; i < StatusObj.length; i++) {
                            tempList.push({ key: StatusObj[i]["duration"], value: StatusObj[i]["text"] });
                        }
                        var searchObj = self.get('searchObj');
                        searchObj.controls.AppliedOnDuration.selectList = tempList;
                        self.set('searchObj', $.extend({}, self.get('searchObj'), searchObj));
                    }
                })
                    .fail(function (e) {
                        console.log("not able to load AppliedOnOptions configurations.", e);
                    });
            },
             _loadExpiryDateList: function () {
                var self = this;
                var configEndpoint = window.config.services.backofficeconfiguration;
                var url = "/" + window.configName + "/expiryOnOptions";
                self.$.http.get(url, configEndpoint).then(function (result) {                  
                    var StatusObj = result;
                   self.set('configExpiryOn', result);
                    if (StatusObj) {
                        var tempList = [];
                        for (var i = 0; i < StatusObj.length; i++) {
                            tempList.push({ key: StatusObj[i]["duration"], value: StatusObj[i]["text"] });
                        }
                        var searchObj = self.get('searchObj');
                        searchObj.controls.ExpiryOnDuration.selectList = tempList;
                        self.set('searchObj', $.extend({}, self.get('searchObj'), searchObj));
                    }
                })
                    .fail(function (e) {
                        console.log("not able to load ExpiryOnOptions configurations.", e);
                    });
            },
            _loadStatusList: function () {
                var self = this;
                var configurationEndPoint = window.config.services.configuration;
                var url = "/status-management/entityTypes";
                self.$.http.get(url, configurationEndPoint).then(function (result) {
                    var StatusObj = result.application.statuses;
                    if (StatusObj) {
                        var tempList = [];
                        for (var i = 0; i < StatusObj.length; i++) {
                            tempList.push({ key: StatusObj[i]["code"], value: StatusObj[i]["name"] });
                        }
                        var searchObj = self.get('searchObj');
                        searchObj.controls.StatusCode.selectList = tempList;
                        self.set('searchObj', $.extend({}, self.get('searchObj'), searchObj));
                    }
                })
                    .fail(function (e) {
                        console.log("not able to load status configurations.", e);
                    });
            },
            init: function () {
                var self = this;
                self._loadStatusList();
                self._loadApplicationDateList();
                self._loadExpiryDateList();
            },
            ready: function () {
            },
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            }            
        });
    </script>
</dom-module>