<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    // Removes end / from app.baseUrl which page.base requires for production
    if (window.location.port === '') {  // if production
      page.base(app.baseUrl.replace(/\/$/, ''));
    }

    // Middleware
    function scrollToTop(ctx, next) {
      app.scrollPageToTop();
      next();
    }

    function closeDrawer(ctx, next) {
      app.closeDrawer();
      next();
    }

    function setFocus(selected){
      // document.querySelector('section[data-route="' + selected + '"] .page-title').focus();
    }

    // Routes
    page('*', scrollToTop, closeDrawer, function(ctx, next) {
      next();
    });

    page('/', function() {
      app.route = 'home';
      app.step = 0;
      app.hideProgressBar = true;
    });

    page(app.baseUrl, function() {
      app.route = 'home';
      app.step = 0;
      app.hideProgressBar = true;
    });

    page('/amount-required', function() {
      app.route = 'amount-required';

      app.step = 1;
      app.hideProgressBar = false;
    });

    page('/reason', function() {
      app.route = 'reason';

      app.step = 2;
      app.hideProgressBar = false;
    });

    page('/who-are-you', function() {
      app.route = 'who-are-you';

      app.step = 3;
      app.hideProgressBar = false;
    });

    page('/what-do-you-do', function() {
      app.route = 'what-do-you-do';

      app.step = 4;
      app.hideProgressBar = false;
    });

    page('/general-expenses', function() {
      app.route = 'general-expenses';

      app.step = 5;
      app.hideProgressBar = false;
    });

    page('/personal-details', function() {
      app.route = 'personal-details';

      app.step = 6;
      app.hideProgressBar = false;
    });

    page('/general-agreement', function() {
      app.route = 'general-agreement';

      app.step = 7;
      app.hideProgressBar = false;
    });



    page('/amount-offered', function() {
      app.route = 'amount-offered';

      app.step = 8;
      app.hideProgressBar = false;
    });

    page('/users/:name', function(data) {
      app.route = 'user-info';
      app.params = data.params;

      app.step = 1;
      app.hideProgressBar = false;
    });

    page('/contact', function() {
      app.route = 'contact';
    });

    // 404
    page('*', function() {
      app.$.toast.text = 'Can\'t find: ' + window.location.href  + '. Redirected you to Home Page';
      app.$.toast.show();
      page.redirect(app.baseUrl);
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
