<html-import html-href="app/dynamic-form/dynamic-form.html"></html-import>
<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="fact-modal">
    <style>
        .modal-dialog {
            width: 1200px;
            margin: 30px auto;
        }
        .modal-body {
            padding: 20px 60px 30px 60px;
        }
        .hide-other-method { 
            display: none;
        }
    </style>
    <template>
        <http-request id="http"></http-request>
        <custom-modal id="[[generateId(factObj)]]" class="modal-drop" on-modal-hidden="resetModal">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">[[factObj.fact]]</h4>
                        </div>
                        <div class="modal-body">
                            <template is="dom-if" if="[[_DisplayFactDetails(factObj)]]">
                                <div class="row">
                                    <h3>The fact {{factObj.displayName}} is verified. Below are the verification details:</h3>
                                    <fact-details fact="[[factObj]]"></fact-details>
                                </div>
                            </template>
                            <template is="dom-if" if="[[!_IsEmployeeFact(factObj)]]">
                                <template is="dom-repeat" items="[[factObj.tabs]]" as="tab">
                                    <div id$="[[tab.method]]" class="row">
                                        <template is="dom-if" if="[[_ShouldDisplayButton(factObj)]]">
                                            <h3>The fact [[factObj.displayName]]. Not initiated.</h3>
                                            <button class="btn btn-primary activity-action-btn" model$="[[factObj]]" on-click="_initiatFactVerification">Initiate Now</button>
                                        </template>
                                        <template is="dom-if" if="[[_IsVerificationInitiated(factObj)]]">
                                            <h3>The fact [[factObj.displayName]] verification initiated. You can verify now.</h3>
                                            <template is="dom-if" if="[[_displayExtraInfo(factObj)]]">
                                                <h4>Address proof - Document Type</h4>
                                                <ul>
                                                    <template is="dom-repeat" items="[[docTypeList]]" as="doc">
                                                        <li>[[doc]]</li>
                                                    </template>
                                                </ul>
                                            </template>
                                            <br>
                                            <p class="errorMessage" style="display: none;"></p>
                                            <form is="iron-form" class="form-horizontal" name$="[[tab.method]]">
                                                <dynamic-form form-configuration="[[tab]]" values="[[tab.values]]"></dynamic-form><br/>
                                                <paper-button class="btn btn-primary activity-action-btn" model$="[[factObj]]" on-click="_verifyForm" raised>Verify</paper-button>
                                            </form>
                                        </template>
                                    </div>
                                </template>
                            </template>
                            <template is="dom-if" if="[[_IsEmployeeFact(factObj)]]">
                                <div class="row">
                                    <template is="dom-if" if="[[_ShouldDisplayButton(factObj)]]">
                                        <h3>The fact [[factObj.displayName]]. Not initiated.</h3>
                                        <paper-button class="btn btn-primary activity-action-btn" model$="[[factObj]]" on-click="_initiatFactVerification" raised>Initiate Now</paper-button>
                                    </template>
                                    <template is="dom-if" if="[[_IsVerificationInitiated(factObj)]]">
                                        <h3>The fact [[factObj.displayName]] verification initiated. You can verify now.</h3>
                                        <paper-dropdown-menu label="Select Method" allowOutsideScroll required>
                                            <paper-listbox id="methods" class="dropdown-content" attr-for-selected="myid" selected="[[selectedMethod]]" on-iron-select="_displayForm">
                                                <template is="dom-repeat" items="[[employeeMethodsList]]">
                                                    <paper-item myid="[[item.key]]">[[item.value]]</paper-item>
                                                </template>
                                            </paper-listbox>
                                        </paper-dropdown-menu>
                                        <br /><br />
                                        <p class="errorMessage" style="display: none;"></p>
                                        <template is="dom-repeat" items="[[employeeFactObj]]" as="tab">
                                            <div id="[[tab.method]]" style="display: none; margin: 15px auto;" class="methods">
                                                <form is="iron-form" class="form-horizontal" name$="[[tab.method]]">
                                                    <dynamic-form form-configuration="[[tab]]" values="[[tab.values]]"></dynamic-form><br/>
                                                    <paper-button class="btn btn-primary activity-action-btn" model$="[[factObj]]" on-click="_verifyForm" raised>Verify</paper-button>
                                                </form>
                                            </div>
                                        </template>
                                    </template>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </custom-modal>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "fact-modal",
            properties: {
                factObj: {
                    type: Object,
                    notify: true
                },
                docTypeList: {
                    type: Array,
                    notify: true,
                    value: ['Driving License', 'Passport', 'UID (Aadhaar card)', 'Utility Bill', 'Leave and License Agreement', 'Municipal Corporation Bill', 'Property Tax Receipt', 'Water Tax Bill']
                },
                selectedMethod: {
                    type: String,
                    notify: true,
                    value: ""
                },
                employeeMethodsList: {
                    type: Array,
                    notify: true,
                    value: [
                        {key: 'blank', value: ''},
                        {key: 'EmploymentForm26ASManual', value: 'Form 26 Verification'},
                        {key: 'PhysicalEmploymentVerification', value: 'Physical Employement Verification'}
                    ]
                },
                employeeFactObj: {
                    type: Array,
                    notify: true,
                    value: [
                        {
                            "source": "Form26ASForm",
                            "method": "EmploymentForm26ASManual",
                            "controls": {
                                "applicantNameMatch": {
                                    "title": "Does the name of the applicant match that of the document?",
                                    "type": "checkbox",
                                    "validations": {
                                        "required": false
                                    }
                                },
                                "employerNameMatch": {
                                    "title": "Does the employer name on the application match that of the document?",
                                    "type": "checkbox",
                                    "validations": {
                                        "required": false
                                    }
                                },
                                "form26": {
                                    "title": "Is the Form 26 AS less than 3 months old?",
                                    "type": "checkbox",
                                    "validations": {
                                        "required": false
                                    }
                                },
                                "panCardMatch": {
                                    "title": "Does the PAN number on the application match that on the document?",
                                    "type": "checkbox",
                                    "validations": {
                                        "required": false
                                    }
                                }
                            },
                            "values": {
                                "form26": false,
                                "panCardMatch": false,
                                "employerNameMatch": false,
                                "applicantNameMatch": false
                            }
                        },
                        {
                            "source": "PhysicalEmployement",
                            "method": "PhysicalEmploymentVerification",
                            "controls": {
                                "findEmployeatOffice": {
                                    "title": "Did you find employee at office?",
                                    "type": "checkbox",
                                    "validations": {
                                        "required": false
                                    }
                                },
                                "dateTimeVerify": {
                                    "title": "Date and Time",
                                    "type": "date",
                                    "format": "DD-MM-YYYY"
                                }
                            },
                            "values": {
                                "dateTimeVerify": "",
                                "findEmployeatOffice": false
                            }
                        }
                    ]
                }
            },
            ready: function () {
                var self = this;
            },
            generateId: function(factObj) {
                return factObj.fact + factObj.displayOrder;
            },
            _displayForm: function (event) {
                if(event.target.selected !== ''){
                    $('.methods').hide();
                    $('#' + event.target.selected).show();
                }
            },
            _displayExtraInfo: function(factObj) {
                if (factObj.fact === "KYC-Address")
                    return true;
                return false;
            },
            show: function () {
                this.$$('#'+ this.generateId(this.factObj)).showModal();
            },
            _checkIfNullObject: function(obj){
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _DisplayFactDetails: function (factObj) {
                var self = this;
                if(factObj.attempts.length > 0)
                    return true;
            },
            _IsVerificationInitiated: function(item) {
                if(item.initiated){
                    return true;
                }
                return false;
            },
            _ShouldDisplayButton: function(item) {
                if(item.verifyButton){
                    return true;
                }
                return false;
            },
            _IsEmployeeFact: function (item) {
                if(item.fact === "EmploymentVerification"){
                    return true;
                }
                return false;
            },
            _getAttemptStatus: function(attempts,methodSource){
                var attemptObj = attempts.filter(function(e){
                    return e.sourceName === methodSource;
                })[0];
                return attemptObj ? attemptObj.result : "None";
            },
            _checkVerificationStatusForSource: function (sourceName, sources, status) {
                var attemptObj = sources.filter(function (e) {
                    return e.sourceName === sourceName && e.result === status;
                }); return attemptObj.length > 0 ? true : false;
            },
            _checkVerificationStatus: function(factObj, requiredObj){
                var self = this;
                if(!self._checkIfNullObject(factObj)){
                    requiredObj.attempts = factObj.attempts;
                    requiredObj.verificationSources = factObj.verificationSources;
                    if(factObj.hasOwnProperty("verificationStatus")){
                        if(factObj.verificationStatus === "None"){
                            requiredObj.initiated = true;
                            requiredObj.verifyButton = false;
                        }
                        if(factObj.verificationStatus === "Failed"){
                            requiredObj.initiated = false;
                            requiredObj.verifyButton = true;
                        }
                        if(factObj.verificationStatus === "Passed"){
                            requiredObj.initiated = false;
                            requiredObj.verifyButton = false;
                        }
                    }
                }
                return requiredObj;
            },
            _initiatFactVerification: function(event) {
                var self = this;
                var eventModel = event.model;
                var $element = $(event.target);
                var factObj = eventModel.get('factObj');
                var verificationEngine = window.config.services.verificationEngine;
                var url = "/application/" + self.applicationNumber + "/" + factObj.fact + "/initiate-manualverification";
                self.$.http.post(url, {}, verificationEngine).then(function(data){
                    $element.prev().hide();
                    $element.hide();
                    eventModel.set('factObj', $.extend({}, factObj, { initiated: true }));
                })
                .fail(function(e){
                    console.log("application error is ", e);
                });
            },
            _verifyForm: function (event){
                event.preventDefault();
                var self = this;
                var eventModel = event.model;
                var tab = eventModel.get('tab');
                var factObj = self.factObj;
                var verificationEngine = window.config.services.verificationEngine;
                var form = Polymer.dom(event).localTarget.parentElement;
                var baseUrl = "/application/" + self.applicationNumber + "/" + factObj.fact;
                $('.errorMessage').hide();
                if(form.validate()){
                    var payload = tab.values;
                    var factInfo =  "/" + tab.method + "/" + tab.source;
                    var url = baseUrl + factInfo;
                    var $element = $('#' + tab.method);
                    self.$.http.post(url, payload, verificationEngine).then(function(data){
                        data.verificationStatus = self._getAttemptStatus(data.attempts, tab.source);
                        var requiredObj = { verificationSources: [], attempts: [], initiated: false, verifyButton: true };
                        $element.hide();
                        data.attempts = $.merge(factObj.attempts, data.attempts);
                        data.verificationSources = $.merge(factObj.verificationSources, data.verificationSources)
                        self.set('factObj', $.extend({}, factObj, self._checkVerificationStatus(data, requiredObj)));
                    }).fail(function(e){
                        var result = JSON.parse(e.responseText);
                        if(e.status === 400  && result.message === "Document is Pending") {
                            $('.errorMessage').html("Document upload is still pending");
                            $('.errorMessage').show();
                        }
                        else{
                            var detailsUrl = "/detail";
                            self.$.http.get(baseUrl + detailsUrl, verificationEngine).then(function (result) {
                                var data = result[0];
                                data.verificationStatus = self._getAttemptStatus(data.attempts, tab.source);
                                var requiredObj = { verificationSources: [], attempts: [], initiated: true, verifyButton: false };
                                data.attempts = $.merge(factObj.attempts, data.attempts);
                                data.verificationSources = $.merge(factObj.verificationSources, data.verificationSources)
                                self.set('factObj', $.extend({}, factObj, self._checkVerificationStatus(data, requiredObj)));
                            }).fail(function(es){
                                console.log("application error is ", es);
                            });
                        }
                    });
                }
            },
            resetModal: function() {
                $('.methods').hide();
                this.selectedMethod = "blank";
                this.set('employeeMethodsList', $.extend([], this.employeeMethodsList));
                this.raiseVerificationDashboardRefreshEvent();
            },
            raiseVerificationDashboardRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>