<html-import html-href="app/dynamic-form/dynamic-form.html"></html-import>
<html-import html-href="fact-verification/fact-details.html"></html-import>
<dom-module is="fact-verification">
    <style>
        .panel-body {
            min-height: 200px;
        }
        .nav-tabs {
            margin-bottom: -1px;
        }
        .hide-other-method { 
            display: none;
        }
    </style>
    <template>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <template is="dom-repeat" items="{{facts}}">
                                <li class$="[[_getTabClass(index)]]">
                                    <a data-toggle="tab" data-target$="{{_getFactName(item)}}">
                                        <i class="fa fa-user"></i>{{item.displayName}}
                                    </a>
                                </li>
                            </template>
                        </ul> 
                        <div class="tab-content">
                            <template is="dom-repeat" items="{{facts}}" observe="item.initiated item.verifyButton" as="factObj">
                                <div id$="{{factObj.fact}}" class$="[[_getTabPanClass(index)]]">
                                    <template is="dom-if" if="{{!_DisplayFactDetails(factObj)}}">
                                        <template is="dom-repeat" items="{{factObj.tabs}}" as="tab">
                                            <div class="panel-body" id$="{{tab.method}}" class$="[[_checkTabToDisplayBasedOnStatus(factObj, index)]]">
                                                <template is="dom-if" if="{{_ShouldDisplayButton(factObj)}}">
                                                    <h3>The fact {{factObj.displayName}}. Not initiated.</h3>
                                                    <button class="btn btn-primary activity-action-btn" model$="{{factObj}}" on-click="_initiatFactVerification">Initiate Now</button>
                                                </template>
                                                <template is="dom-if" if="{{_IsVerificationInitiated(factObj)}}">
                                                    <h3>The fact {{item.displayName}} verification initiated. You can verify now.</h3>
                                                    <form is="iron-form" class="form-horizontal" name$="{{tab.method}}">
                                                        <dynamic-form form-configuration={{tab}} values="{{tab.values}}"></dynamic-form><br/>
                                                        <paper-button class="btn btn-primary activity-action-btn" model$="{{factObj}}" on-click="_verifyForm" raised>Verify</paper-button>
                                                    </form>
                                                </template>
                                            </div>
                                        </template>
                                    </template>
                                    <template is="dom-if" if="{{_DisplayFactDetails(factObj)}}">
                                        <div class="panel-body">
                                            <h3>The fact {{factObj.displayName}} is verified. Below are the verification details:</h3>
                                            <fact-details fact="{{factObj}}"></fact-details>
                                        </div>
                                    </template>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "fact-verification",
            _getTabClass: function (index) {
                return index === 0 ? 'active' : '';
            },
            _getTabPanClass: function (index) {
                return index === 0 ? 'tab-pane active' : 'tab-pane';
            },
            _getFactName: function (item) {
                return '#' + item.fact;
            },
            _DisplayFactDetails: function(item) {
                if(item.initiated === false && item.verifyButton === false){
                    return true;
                }
                return false;
            },
            _checkTabToDisplayBasedOnStatus: function(item, index) {
                var self = this;
                var tabs = item.tabs;
                if(tabs.length > 1){
                    var tab = tabs[index];
                    if(item.attempts.length > 0){
                        if(self._checkVerificationStatusForSource(tab.source, item.attempts, "Failed")){
                            return 'panel-body hide-other-method';
                        }
                        if(!self._checkVerificationStatusForSource(tab.source, item.attempts, "Failed")){
                            return 'panel-body';
                        }
                    }
                    else {
                        return index !== 0 ? 'panel-body hide-other-method' : 'panel-body'; //default hide second method tab.
                    }
                }
                else {
                    return 'panel-body'; // if Only one method in fact display the same.
                }
            },
            _IsVerificationInitiated: function(item) {
                if(item.initiated){
                    return true;
                }
                return false;
            },
            _ShouldDisplayButton: function(item) {
                if(item.verifyButton){
                    return true;
                }
                return false;
            },
            _initiatFactVerification: function(event) {
                var self = this;
                var eventModel = event.model;
                var $element = $(event.target);
                var factObj = eventModel.get('factObj');
                var verificationEngine = window.config.services.verificationEngine;
                var url = "/application/" + self.applicationNumber + "/" + factObj.fact + "/initiate-manualverification";
                self.$.http.post(url, {}, verificationEngine).then(function(data){
                    $element.prev().hide();
                    $element.hide();
                    eventModel.set('factObj', $.extend({}, factObj, { initiated: true }));
                })
                .fail(function(e){
                    console.log("application error is ", e);
                });
            },
            _getAttemptStatus: function(attempts,methodSource){
                var attemptObj = attempts.filter(function(e){
                    return e.sourceName === methodSource;
                })[0];
                return attemptObj ? attemptObj.result : "None";
            },
            _verifyForm: function (event){
                event.preventDefault();
                var self = this;
                var eventModel = event.model;
                var tab = eventModel.get('tab');
                var verificationEngine = window.config.services.verificationEngine;
                var form = Polymer.dom(event).localTarget.parentElement;
                if(form.validate()){
                    var payload = tab.values;
                    var baseUrl = "/application/" + self.applicationNumber + "/";
                    var factInfo = tab.fact + "/" + tab.method + "/" + tab.source;
                    var url = baseUrl + factInfo;
                    var $element = $('#' + tab.method);
                    self.$.http.post(url, payload, verificationEngine).then(function(data){
                        data.verificationStatus = self._getAttemptStatus(data.attempts, tab.source);
                        var requiredObj = { verificationSources: [], attempts: [], initiated: false, verifyButton: true };
                         $element.hide();
                        if(data.verificationStatus === "Failed"){
                            if($element.next().is('div')){ //if no next method is there no need to display next div.
                                data.verificationStatus = "None";
                                $element.next().show();
                            }
                        }
                        var tempOBj = self._checkVerificationStatus(data, requiredObj);
                        eventModel.set('factObj', $.extend({}, eventModel.get('factObj'), requiredObj));
                    }).fail(function(e){
                        console.log("application error is ", e);
                    });
                }
            },
            _checkIfNullObject: function(obj){
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _transformFacts:function(facts, factConfig){
                var self = this;
                var result = facts.filter(function(e) {
                    return (e.methods = e.methods.filter( function(e) {
                        return (e.sources = e.sources.filter(function(e){
                            return e.type === 'Form';
                        })).length > 0;
                    })).length > 0;
                });
                var mapResult = result.map(function (e) {
                    return {
                        displayName: factConfig[(e.methods[0]).name] != undefined ? factConfig[(e.methods[0]).name].displayName : "",
                        fact: e.name,
                        displayOrder: factConfig[(e.methods[0]).name] != undefined ? factConfig[(e.methods[0]).name].displayOrder : 0,
                        tabs: e.methods.map(function (t) {
                            return {
                                fact: e.name,
                                tabName: t.name,
                                method: t.name,
                                source: t.sources[0].name,
                                document: t.sources[0].settings.documentRequired,
                                values: {},
                                controls: factConfig[t.name] != undefined ? factConfig[t.name].controls : {}
                            };
                        }),
                        initiated: false,
                        verifyButton: true
                    }
                });

                var finalResult = mapResult.filter(function(e){
                    return (e.tabs.filter(function(t){
                        return (!(self._checkIfNullObject(t.controls)));
                    })).length > 0;
                });
                return finalResult;
            },
            _loadFacts: function(){
                var self =this;
                var verificationEngine = window.config.services.verificationEngine;
                self.$.http.get("/application", verificationEngine).then(function (data) {
                  self._loadJson(data);
                }).fail(function (e) {
                    console.log("_loadFacts error is ", e);
                });
            },
            _getFactByFactName: function(facts, factName){
                var fact = facts.filter(function(e){
                    return e.factName === factName;
                });
                return fact[0] || {};
            },
            _checkVerificationStatus: function(factObj, requiredObj){
                var self = this;
                if(!self._checkIfNullObject(factObj)){
                    requiredObj.attempts = factObj.attempts;
                    requiredObj.verificationSources = factObj.verificationSources;
                    if(factObj.hasOwnProperty("verificationStatus")){
                        if(factObj.verificationStatus === "None"){
                            requiredObj.initiated = true;
                            requiredObj.verifyButton = false;
                        }
                        if(factObj.verificationStatus === "Failed"){
                            requiredObj.initiated = false;
                            requiredObj.verifyButton = true;
                        }
                        if(factObj.verificationStatus === "Passed"){
                            requiredObj.initiated = false;
                            requiredObj.verifyButton = false;
                        }
                    }
                }
                return requiredObj;
            },
            _checkVerificationStatusForSource: function (sourceName, sources, status) {
                var attemptObj = sources.filter(function(e){
                    return e.sourceName === sourceName && e.result === status;
                });
                return attemptObj.length > 0 ? true : false;
            },
            _checkVerificationStatusBasedOnTabs: function (factConfig, factObj, requiredObj) {
                var self = this;
                var tempObj = self._checkVerificationStatus(factObj, requiredObj);
                if(factConfig.tabs.length === 1){
                    return tempObj;
                }
                else {
                    //checking the status of first Method if its failed then need to display second method form if its not passed.
                    var tab1 = factConfig.tabs[0];
                    var tab2 = factConfig.tabs[1];
                    if(tempObj.attempts.length > 0 && self._checkVerificationStatusForSource(tab1.source, tempObj.attempts, "Failed")){
                        tempObj.initiated = true;
                        tempObj.verifyButton = false;
                    }
                    if (tempObj.attempts.length > 0 && self._checkVerificationStatusForSource(tab2.source, tempObj.attempts, "Passed")){
                        requiredObj.initiated = false;
                        requiredObj.verifyButton = false;
                    }
                    return tempObj;
                }
            },
            _getAllFactStatus: function(factsConfig) {
                var self = this;
                var verificationEngine = window.config.services.verificationEngine;
                var url = "/application/" + self.applicationNumber;
                self.$.http.get(url, verificationEngine).then(function (data) {
                    var allFactStatus = data;
                    for(var i=0; i < factsConfig.length; i++){
                        var factObj = self._getFactByFactName(allFactStatus, factsConfig[i].fact);
                        var requiredObj = { verificationSources: [], attempts: [], initiated: false, verifyButton: true };
                        factsConfig[i] = $.extend({}, factsConfig[i], self._checkVerificationStatusBasedOnTabs(factsConfig[i], factObj, requiredObj));
                    }
                    self.set("facts", factsConfig);
                }).fail(function (e) {
                    console.log("_loadFacts error is ", e);
                });
            },
            _loadJson: function (factsInfo) {
                var self = this;
                var configEndpoint = window.config.services.backofficeconfiguration;
                var url = "/" + window.configName +"/facts";
                self.$.http.get(url, configEndpoint).then(function (data) {
                    var facts = self._transformFacts(factsInfo, data);
                    facts = facts.sort(function(obj1, obj2) {
                        return obj1.displayOrder - obj2.displayOrder;
                    });
                    self._getAllFactStatus(facts);
                }).fail(function (e){
                   console.log("load config error is ", e);
                });
            },
            attached:function(){
                this._loadFacts();
            },
            properties: {
                facts: {
                    type: Object,
                    notify: true,
                    value: []
                }
            }
        });
    </script>
</dom-module>
