<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="save-ancillary">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="AncillaryApplication">
                    <dynamic-form form-configuration={{ancillaryObj}} values="{{ancillaryObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "save-ancillary",
            properties: {
                ancillaryObj : {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            Religion: {
                                title: "Religion",
                                type: "dropdown",
                                selectList: [
                                    { key: 'Hindu', value: 'Hindu' },
                                    { key: 'Muslim', value: 'Muslim' },
                                    { key: 'Christian', value: 'Christian' },
                                    { key: 'Sikh', value: 'Sikh' },
                                    { key: 'Zoroastrian', value: 'Zoroastrian' },
                                    { key: 'Jain', value: 'Jain' },
                                    { key: 'Other', value: 'Other' }
                                ],
                                selectedValue: "",
                                validations: {
                                    required: true
                                }
                            },
                            Category: {
                                title: "Category",
                                type: "radiogroup",
                                radioList: [
                                    { key: "General", value: "General" },
                                    { key: "SC", value: "SC" },
                                    { key: "ST", value: "ST" },
                                    { key: "OBC", value: "OBC" },
                                    { key: "Other", value: "Other" }
                                ]
                            },
                            DocumentDate: {
                                title: "Document Date",
                                type: "date",
                                format: "DD-MM-YYYY",
                                validations: {
                                    required: true
                                }
                            },
                            MothersMaidenName: {
                                title: "Mothers Maiden Name",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 1,
                                    MaxLen: 10
                                }
                            },
                            CurrentResidenceYears: {
                                title: "Current Residence Years",
                                type: "singleDecimal",
                                validations: {
                                    required: true
                                }
                            },
                            CurrentCityYears: {
                                title: "Current City Years",
                                type: "singleDecimal",
                                validations: {
                                    required: true
                                }
                            },
                            CurrentWorkExperience: {
                                title: "Current Work Experience",
                                type: "singleDecimal",
                                validations: {
                                    required: true
                                }
                            }
                        },
                        values: {
                            Religion: "",
                            Category: "General",
                            DocumentDate: new Date(),
                            MothersMaidenName: "",
                            CurrentResidenceYears:0.0,
                            CurrentCityYears:0.0,
                            CurrentWorkExperience:0.0
                        }
                    }
                }
            },
            attached: function() {
                this._getAncillaryData();
            },
            _formatDate: function (date){
                if(date !== "")
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                else
                    return moment.tz(window.config.timezone).format("YYYY-MM-DD");
            },
            _getAncillaryData: function () {
                var self = this;
                var ancillaryObj = self.ancillaryObj;
                var url = "/application/" + self.applicationNumber + "/ancillaryData";
                var dataAttrEndPoint = window.config.services.dataAttributes;
                self.$.http.get(url, dataAttrEndPoint).then(function (data) {
                    if(data){
                        ancillaryObj.values = data;
                        ancillaryObj.values.DocumentDate = self._formatDate(data.DocumentDate);
                        ancillaryObj.controls.Religion.selectedValue = data.Religion;
                        self.set('ancillaryObj', $.extend({}, self.get('ancillaryObj'), ancillaryObj));
                    }
                })
                .fail(function (e) {
                    var ancillaryObj = self.get('ancillaryObj');
                    var Obj = {
                        Religion: "",
                        Category: "General",
                        DocumentDate: self._formatDate(""),
                        MothersMaidenName: "",
                        CurrentResidenceYears:0.0,
                        CurrentCityYears:0.0,
                        CurrentWorkExperience:0.0
                    };
                    ancillaryObj.controls.Religion.selectedValue = "";
                    ancillaryObj.values = Obj;
                    self.set('ancillaryObj', $.extend({}, self.get('ancillaryObj'), ancillaryObj));
                    console.log("get ancillarydata error is ", e);
                });
            },
            _formReset: function (event) {
              var form = Polymer.dom(event).localTarget.parentElement;
              form.reset();
            },
            _verifyForm: function (e) {
                e.preventDefault();
                var self = this;
                var form = Polymer.dom(e).localTarget.parentElement;
                var offerEndPoint = window.config.services.offerEngine;
                if(form.validate()){
                    var payload = self.ancillaryObj.values;
                    payload.Religion = self.ancillaryObj.controls.Religion.selectedValue;
                    payload.DocumentDate = moment.tz(payload.DocumentDate, window.config.timezone).format("YYYY-MM-DD");
                    var url = "/application/" + self.applicationNumber + "/ancillarydata";
                    self.$.http.post(url, payload, offerEndPoint).then(function (data) {
                        console.log("save ancillarydata called successfully ", data);
                        $(e.target).parents().find('save-ancillary').parent().hide();
                        var listOfParentelements = $("loan-activity");
                        for (i = 0; i < listOfParentelements.length; i++) {
                            $(listOfParentelements[i]).children().first().show();
                        }
                        self.raiseAppRefreshEvent();
                    })
                    .fail(function (e) {
                        console.log("save ancillarydata error is ", e);
                    });
                }
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>