<html-import html-href="personal-details/business-details.html"></html-import>
<html-import html-href="personal-details/basic-details.html"></html-import>
<html-import html-href="personal-details/ownership-details.html"></html-import>
<html-import html-href="personal-details/financial-details.html"></html-import>
<dom-module id="application-details">
    <style>
        .nav li.active>a {
            color: #555555;
        }
        
        .paperdialog {
            border: 2px solid black;
            border-radius: 5px;
            padding: 1%;
            min-width: 50%;
            max-width: 50%;
            top: 2% !important;
            margin-left: 25% !important;
            min-height: 95%;
            margin: 0 auto !important
        }
        
        #scrollable {
            min-width: 50% !important;
            max-width: 50% !important;
            max-height: 90% !important;
            min-height: 90% !important;
        }
        
        .paperdialogscrolable {
            margin: 20px 0px 0px 0px !important;
        }
    </style>
    <template>
        <http-request id="http"></http-request>
        <form is="iron-form" class="form-horizontal" name="cashflowForm" id="ApplicationForm">
            <paper-dialog class="paperdialog" id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation"
                with-backdrop>
                <h2>Edit Application</h2>
                <!--<paper-dialog-scrollable style="height:95% !important" class="paperdialogscrolable">-->
                <!--<div class="row">
                    <div class="col-md-12">-->
                <!--<form is="iron-form" class="form-horizontal" name="cashflowForm" id="ApplicationForm">-->
                <ul class="nav nav-tabs" id="myTab">
                    <li id="tbBusinessDetail" class="active">
                        <a data-target="#businessDetail" data-toggle="tab">Business</a>
                    </li>
                    <li id="tbBasicDetail">
                        <a data-target="#basicDetail" data-toggle="tab">Basic</a>
                    </li>
                    <li id="tbOwnershipDetail">
                        <a data-target="#ownershipDetail" data-toggle="tab">Ownership</a>
                    </li>
                    <li id="tbFinanceDetail">
                        <a data-target="#FinancialDetail" data-toggle="tab">Final</a>
                    </li>
                </ul>
                <paper-dialog-scrollable style="height:95% !important" class="paperdialogscrolable">
                    <!--<ul class="nav nav-tabs" id="myTab">
                                <li id="tbBusinessDetail" class="active">
                                    <a data-target="#businessDetail" data-toggle="tab">Business</a>
                                </li>
                                <li id="tbBasicDetail">
                                    <a data-target="#basicDetail" data-toggle="tab">Basic</a>
                                </li>
                                <li id="tbOwnershipDetail">
                                    <a data-target="#ownershipDetail" data-toggle="tab">Ownership</a>
                                </li>
                                <li id="tbFinanceDetail">
                                    <a data-target="#FinancialDetail" data-toggle="tab">Final</a>
                                </li>
                            </ul>-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="businessDetail">
                            <business-details id="businessdetails" application-number="{{applicationNumber}}" application-Details="{{applicationDetails}}"></business-details>
                        </div>
                        <div class="tab-pane " id="basicDetail">
                            <basic-details id="basicdetails" application-number="{{applicationNumber}}" application-Details="{{applicationDetails}}"></basic-details>
                        </div>
                        <div class="tab-pane" id="ownershipDetail">
                            <ownership-details id="ownershipdetails" application-number="{{applicationNumber}}" application-Details="{{applicationDetails}}"></ownership-details>
                        </div>
                        <div class="tab-pane" id="FinancialDetail">
                            <financial-details id="financialdetails" application-number="{{applicationNumber}}" application-Details="{{applicationDetails}}"></financial-details>
                        </div>
                    </div>
                </paper-dialog-scrollable>
                <!--</form>-->
                <!--</div>
                </div>-->
                <!--</paper-dialog-scrollable>-->
                 <button type="button" style="float: right;margin-right: 10px" class="btn btn-primary alignment" on-click="submitApplication">Submit</button>
                    <!--<paper-button dialog-dismiss>Close</paper-button>-->
                </paper-dialog>
        </form>
    </template>
    <script>
        Polymer({
            is: "application-details",
            properties: {
                applicationDetails: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                finalApplicationDetails: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                ownersDetails: {
                    type: Array,
                    notify: true,
                    value: []
                },
                ownerPhoneNumbers: {
                    type: Array,
                    notify: true,
                    value: []
                },
                ownerAddresses: {
                    type: Array,
                    notify: true,
                    value: []
                },
                ownerObj: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                addressObj: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                phonenumberObj: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                Addresses: {
                    type: Array,
                    notify: true,
                    value: []
                }
            },
            cleanup: function () {
                $("#businessDetail").addClass("active");
                $("#basicDetail").removeClass("active");
                $("#ownershipDetail").removeClass("active");
                $("#FinancialDetail").removeClass("active");

                $("#tbBusinessDetail").addClass("active");
                $("#tbFinanceDetail").removeClass("active");
                $("#tbBasicDetail").removeClass("active");
                $("#tbOwnershipDetail ").removeClass("active");
                $("#modal-wrapper").removeClass("in");
            },
            show: function () {
                this.$.appDetail.showModal();
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            ready: function () {

            },
            init: function () {
                var self = this;
                self._getApplicationDetail();
            },
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            _getApplicationDetail: function () {

                var self = this;
                var url = "/application/" + self.applicationNumber + "/details";
                var applicationDetail = window.config.services.appProcessor;
                self.$.http.get(url, applicationDetail).then(function (result) {
                    if (result != undefined && !self._checkIfNullObject(result)) {
                        console.log(JSON.stringify(result));
                        self.set('applicationDetails', result);
                        console.log(JSON.stringify(self.applicationDetails));
                        //self.applicationDetails.value = result;
                        //self.$.businessdetails._getBusinessDetail();
                        // self.$.basicdetails._getBasicDetail();
                        // self.$.ownershipdetails._getOwnershipDetail();
                        // self.$.financialdetails._getFinancialDetail();

                        // var lookupData = self.getlookup('industry');
                        // console.log("LookupData"+ lookupData );
                    }
                }).fail(function (e) {
                    console.log("_getApplicationDetail error is " + e);
                });
            },
            submitApplication: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement.parentElement;
                console.log("Parent", form);
                if (form.validate()) {
                    self.$.businessdetails._getUpdatedData();
                    self.$.basicdetails._getUpdatedData();
                    self.$.ownershipdetails._getUpdatedData();
                    self.$.financialdetails._getUpdatedData();
                    // self.applicationDetails.applicantId = "58c91dc79adfe700078268a5";
                    // self.applicationDetails.owners[0].ownerId = "fe4614114bce4bc390fd273268485413"

                    self.finalApplicationDetails.ApplicantId = self.applicationDetails.applicantId;
                    self.finalApplicationDetails.Email = self.applicationDetails.email;
                    self.finalApplicationDetails.ContactFirstName = self.applicationDetails.contactFirstName;
                    self.finalApplicationDetails.ContactLastName = self.applicationDetails.contactLastName;
                    self.finalApplicationDetails.AddressLine1 = self.applicationDetails.addressLine1;
                    // if (self.applicationDetails.addressType != null) {
                    //     self.finalApplicationDetails.AddressType = self.applicationDetails.addressType;
                    // }
                    // else {
                    self.finalApplicationDetails.AddressType = "2";
                    // }
                    self.finalApplicationDetails.AnnualRevenue = self.applicationDetails.annualRevenue;
                    self.finalApplicationDetails.AverageBankBalances = self.applicationDetails.averageBankBalances;
                    self.finalApplicationDetails.BusinessStartDate = self.date(self.applicationDetails.businessStartDate);
                    self.finalApplicationDetails.BusinessTaxID = self.applicationDetails.businessTaxID;
                    self.finalApplicationDetails.BusinessType = "2";
                    self.finalApplicationDetails.City = self.applicationDetails.city;

                    self.finalApplicationDetails.DateNeeded = self.date(self.applicationDetails.dateNeeded);
                    self.finalApplicationDetails.HaveExistingLoan = self.applicationDetails.haveExistingLoan;
                    self.finalApplicationDetails.Industry = "1";
                    self.finalApplicationDetails.LegalBusinessName = self.applicationDetails.legalBusinessName;
                    self.finalApplicationDetails.LoanTimeFrame = self.applicationDetails.loanTimeFrame;
                    self.finalApplicationDetails.Owners = self.applicationDetails.owners;
                    self.finalApplicationDetails.Phone = self.applicationDetails.phone;
                    self.finalApplicationDetails.PropertyType = "2";
                    self.finalApplicationDetails.PurposeOfLoan = self.applicationDetails.purposeOfLoan;
                    self.finalApplicationDetails.RequestedAmount = self.applicationDetails.requestedAmount;
                    self.finalApplicationDetails.SICCode = self.applicationDetails.sicCode;
                    self.finalApplicationDetails.Signature = self.applicationDetails.signature;
                    self.finalApplicationDetails.Source = "1";
                    self.finalApplicationDetails.State = "CA";
                    self.finalApplicationDetails.ZipCode = self.applicationDetails.zipCode;
                    self.finalApplicationDetails.BankType = "Plaid";

                    for (i = 0; i < self.applicationDetails.owners.length; i++) {

                        self.ownerObj.OwnerId = self.applicationDetails.owners[i].ownerId;
                        self.ownerObj.Designation = self.applicationDetails.owners[i].designation;
                        self.ownerObj.DOB = self.applicationDetails.owners[i].dob;
                        self.ownerObj.FirstName = self.applicationDetails.owners[i].firstName;
                        self.ownerObj.LastName = self.applicationDetails.owners[i].lastName;
                        self.ownerObj.OwnershipPercentage = self.applicationDetails.owners[i].ownershipPercentage;
                        self.ownerObj.OwnershipType = "1";
                        self.ownerObj.SSN = self.applicationDetails.owners[i].ssn;
                        self.ownersDetails[i] = self.ownerObj;

                        for (j = 0; j < self.applicationDetails.owners[i].addresses.length; j++) {
                            self.addressObj.AddressLine1 = self.applicationDetails.owners[i].addresses[j].addressLine1;
                            self.addressObj.City = self.applicationDetails.owners[i].addresses[j].city;
                            self.addressObj.ZipCode = self.applicationDetails.owners[i].addresses[j].zipCode;
                            self.addressObj.State = self.applicationDetails.owners[i].addresses[j].state;
                            self.ownerAddresses[j] = self.addressObj;
                        }
                        self.ownerObj.Addresses = self.ownerAddresses;

                        for (k = 0; k < self.applicationDetails.owners[i].phoneNumbers.length; k++) {

                            self.phonenumberObj.Phone = self.applicationDetails.owners[i].phoneNumbers[k].phone;
                            self.ownerPhoneNumbers[k] = self.phonenumberObj;

                        }
                        self.ownerObj.PhoneNumbers = self.ownerPhoneNumbers;

                    }
                    self.finalApplicationDetails.Owners = self.ownersDetails;

                    console.log(JSON.stringify(self.finalApplicationDetails));
                    var finalRequest = self.finalApplicationDetails;
                    var applicationDetail = window.config.services.appProcessor;
                    var url = "/application/" + self.applicationNumber + "/edit";
                    // self.$.http.put(url, finalRequest, applicationDetail).then(function (response) {
                    //     alert("Application Edited Succesfully");
                    //     self.$.appDetail.hideModal();
                    // }).fail(function (e) {
                    //     console.log("edit application error is " + e);
                    // });
                }
            },
            _getlookup: function (lookupName) {
                var lookupdata;
                if (lookupName && lookupName != null) {
                    var self = this;
                    var url = "/" + lookupName;
                    this.$.http.get(url, window.config.services.lookupservice)
                        .then(function (data) {
                            console.log("getlookup data is ", data);
                            return lookupdata;
                        }).fail(function (e) {
                            console.log("getlookup error is ", e);
                            return null;
                        });
                }
            },
            date: function (date) {
                if (date && date != null) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY");
                }
                return '';
            },

        });
    </script>
</dom-module>