<dom-module id="basic-details">
    <style>
        .sendEmailToast {
            max-width: 536px !important;
            position: static !important;
        }

        .datepicker {
            z-index: 9999 !important
        }
        #closebtn {
            margin-bottom: 5px !important;
        }
        .padding {
            padding-top: 8px;
        }
        paper-input {
            --paper-input-container-disabled: {
                opacity: 0.66;
            }
            ;
        }
        .modal-dialog {
            width: 800px;
            margin: 30px auto;
        }
        .modal-body {
            padding: 20px 60px 30px 60px;
        }
        .dropdown-width {
            width: 100%;
        }
        .alignment {
            float: right;
        }
    </style>
    <template>
        <http-request id="http"></http-request>
        <form is="iron-form" class="form-horizontal" name="cashflowForm">
            <dynamic-form form-configuration={{basicDetailObj}} values="{{basicDetailObj.values}}"></dynamic-form>
        </form>
    </template>
    <script>
        Polymer({
            is: "basic-details",
            properties: {
                propertyTypeLookup: {
                    type: Object,
                    notify: true,
                    value: {
                        1: "Rent",
                        2: "Own"
                    }
                },
                applicationDetails: {
                    type: Object,
                    notify: true,
                    observer: '_getBasicDetail',
                },
                stateLookup: {
                    type: Object,
                    notify: true,
                    value: {                        

                        1: "AL",
                        2: "AK",
                        3: "AZ",
                        4: "AR",
                        5: "CA",
                        6: "CO",
                        7: "CT",
                        8: "DE",
                        9: "FL",
                        10: "GA",
                        11: "HI",
                        12: "ID",
                        13: "IL",
                        14: "IN",
                        15: "IA",
                        16: "KS",
                        17: "KY",
                        18: "LA",
                        19: "ME",
                        20: "MD",
                        21: "MA",
                        22: "MI",
                        23: "MN",
                        24: "MS",
                        25: "MO",
                        26: "MT",
                        27: "NE",
                        28: "NV",
                        29: "NH",
                        30: "NJ",
                        31: "NM",
                        32: "NY",
                        33: "NC",
                        34: "ND",
                        35: "OH",
                        36: "OK",
                        37: "OR",
                        38: "PA",
                        39: "RI",
                        40: "SC",
                        41: "SD",
                        42: "TN",
                        43: "TX",
                        44: "UT",
                        45: "VT",
                        46: "VA",
                        47: "WA",
                        48: "WV",
                        49: "WI",
                        50: "WY",
                        51: "AB",
                        52: "BC",
                        53: "MB",
                        54: "NB",
                        55: "NL",
                        56: "NT",
                        57: "NS",
                        58: "NU",
                        59: "ON",
                        60: "PE",
                        61: "QC",
                        62: "SK",
                        63: "YT"

                    }
                },
                industryTypeLookup: {
                    type: Object,
                    notify: true,
                    value: {
                        1: "Agriculture / Farming",
                        2: "Auto Repair",
                        3: "Business Services (General)",
                        4: "Car Sales (New &amp; Used)",
                        5: "Construction / Contracting",
                        6: "Financial Services",
                        7: "General Product Sales",
                        8: "Hospitality Services / Hotel / Motel",
                        9: "HVAC / Electrical /Plumbing",
                        10: "Insurance Services",
                        11: "Landscaping / Lawn &amp; Garden Services",
                        12: "Legal Services",
                        13: "Manufacturing",
                        14: "Medical Office / Health Services",
                        15: "Real Estate / Property Management",
                        16: "Restaurant / Food Services",
                        17: "Retail",
                        18: "Transportation Services"
                    }
                },
                businessTypesLookup: {
                    type: Object,
                    notify: true,
                    value: {
                        1: 'LLC',
                        2: 'INC',
                        3: 'SolePropreitership',
                        4: 'Partnership',
                        5: 'Non-Profit'
                    }
                },
                extractedBasicDetail: {
                    type: Object,
                    notify: true,                    
                },
                basicDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "LegalCompanyName": {
                                "title": "Legal Company Name",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "BusinessAddress": {
                                "title": "Business Address",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "City": {
                                "title": "City",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            stateList: {
                                title: "State",
                                type: "dropdown",
                                selectList: [],
                                selectedValue: ""
                            },
                            "PostalCode": {
                                "title": "PostalCode",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 6
                                }
                            },
                            ownershipList: {
                                title: "Rent Or Own this location?",
                                type: "dropdown",
                                selectList: [],
                                selectedValue: ""
                            },
                            industryList: {
                                title: "Industry",
                                type: "dropdown",
                                selectList: [],
                                selectedValue: ""
                            },
                            "BusinessTaxID": {
                                "title": "Business Tax ID",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "DateEstablished": {
                                "title": "Date Established (mm/dd/yyyy)",
                                "type": "date",
                                "format": "MM-DD-YYYY",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 20
                                }
                            },
                            entityTypeList: {
                                title: "Entity Type",
                                type: "dropdown",
                                selectList: [],
                                selectedValue: ""
                            },
                        },
                        values: {
                            LegalCompanyName: "",
                            BusinessAddress: "",
                            City: "",
                            PostalCode: "",
                            BusinessTaxID: "",
                            DateEstablished: "",
                            stateList: "",
                            ownershipList: "",
                            industryList: "",
                            entityTypeList: ""
                        }
                    }

                }
            },
            _makingGetObject: function () {
                return {
                    LegalCompanyName: '',
                    BusinessAddress: '',
                    City: '',
                    PostalCode: '',
                    BusinessTaxID: '',
                    DateEstablished: '',
                    SelectedOwnership: '',
                    SelectedIndustryList: '',
                    SelectedEntityTypeList: '',
                    SelectedState: ''
                }
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _preparingList: function () {
                var self = this;


                self.extractedBasicDetail = self._makingGetObject();
                self.basicDetailObj.controls.ownershipList.selectList = self.createArrayObject(self.propertyTypeLookup);
                self.basicDetailObj.controls.industryList.selectList = self.createArrayObject(self.industryTypeLookup);
                self.basicDetailObj.controls.entityTypeList.selectList = self.createArrayObject(self.businessTypesLookup);

                self.extractedBasicDetail.LegalCompanyName = self.applicationDetails.Applicant.LegalBusinessName;
                self.extractedBasicDetail.BusinessAddress = self.applicationDetails.Applicant.Addresses[0].AddressLine1 + ", " + self.applicationDetails.Applicant.Addresses[0].AddressLine2;
                self.extractedBasicDetail.City = self.applicationDetails.Applicant.Addresses[0].City;
                self.extractedBasicDetail.PostalCode = self.applicationDetails.Applicant.Addresses[0].ZipCode;
                self.extractedBasicDetail.BusinessTaxID = self.applicationDetails.Applicant.BusinessTaxID;
                self.extractedBasicDetail.DateEstablished = self.applicationDetails.Applicant.BusinessStartDate.DateTime;

                self.extractedBasicDetail.SelectedOwnership = self.applicationDetails.Applicant.propertyType;
                self.extractedBasicDetail.SelectedEntityTypeList = self.applicationDetails.Applicant.BusinessType;
                self.extractedBasicDetail.SelectedIndustryList = self.applicationDetails.Applicant.Industry;

                self.basicDetailObj.values["LegalCompanyName"] = self.applicationDetails.Applicant.LegalBusinessName;
                self.basicDetailObj.values["BusinessAddress"] = self.applicationDetails.Applicant.Addresses[0].AddressLine1 + self.applicationDetails.Applicant.Addresses[0].AddressLine2;
                self.basicDetailObj.values["City"] = self.applicationDetails.Applicant.Addresses[0].City;
                self.basicDetailObj.values["PostalCode"] = self.applicationDetails.Applicant.Addresses[0].ZipCode;
                self.basicDetailObj.values["BusinessTaxID"] = self.applicationDetails.Applicant.BusinessTaxID;
                self.basicDetailObj.values["DateEstablished"] = self.applicationDetails.Applicant.BusinessStartDate.DateTime;
                self.basicDetailObj.controls.ownershipList.selectedValue = self.applicationDetails.Applicant.Owners[0].OwnershipType;
                self.basicDetailObj.controls.industryList.selectedValue = self.applicationDetails.Applicant.BusinessType;
                self.basicDetailObj.controls.entityTypeList.selectedValue = self.applicationDetails.Applicant.Industry;

                self.set('extractedBasicDetail', $.extend({}, self.extractedBasicDetail));
            },
            _getBasicDetail: function () {
                var self = this;
                self.extractedBasicDetail = self._makingGetObject();
                self.basicDetailObj.controls.ownershipList.selectList = self.createArrayObject(self.propertyTypeLookup);
                self.basicDetailObj.controls.industryList.selectList = self.createArrayObject(self.industryTypeLookup);
                self.basicDetailObj.controls.entityTypeList.selectList = self.createArrayObject(self.businessTypesLookup);
                self.basicDetailObj.controls.stateList.selectList = self.createArrayObjectForState(self.stateLookup);

                self.basicDetailObj.values["LegalCompanyName"] = self.applicationDetails.legalBusinessName;
                self.basicDetailObj.values["BusinessAddress"] = self.applicationDetails.addressLine1;
                self.basicDetailObj.values["City"] = self.applicationDetails.city;
                self.basicDetailObj.values["PostalCode"] = self.applicationDetails.zipCode;
                self.basicDetailObj.values["BusinessTaxID"] = self.applicationDetails.businessTaxID;
                self.basicDetailObj.values["DateEstablished"] = self.applicationDetails.businessStartDate;

                // self.basicDetailObj.controls.ownershipList.selectedValue = self.applicationDetails.owners[0].ownershipType;
                self.basicDetailObj.controls.ownershipList.selectedValue = "1";
                self.basicDetailObj.controls.entityTypeList.selectedValue = self.applicationDetails.businessType;
                self.basicDetailObj.controls.industryList.selectedValue = self.applicationDetails.industry;
                self.basicDetailObj.controls.stateList.selectedValue = self.applicationDetails.state;
                self.set('basicDetailObj', $.extend({}, self.basicDetailObj));
            },
            ready: function () {
                var self = this;
                //self._getBasicDetail();
                //self._preparingList();
            },
            attached: function () {
                var self = this;
            },
            _getUpdatedData: function () {
                var self = this;

                self.applicationDetails.legalBusinessName = self.basicDetailObj.values.LegalCompanyName;
                self.applicationDetails.addressLine1 = self.basicDetailObj.values.BusinessAddress;
                self.applicationDetails.city = self.basicDetailObj.values.City;
                self.applicationDetails.zipCode = self.basicDetailObj.values.PostalCode;
                self.applicationDetails.businessTaxID = self.basicDetailObj.values.BusinessTaxID;
                self.applicationDetails.businessStartDate = self.basicDetailObj.values.DateEstablished;

                self.applicationDetails.propertyType = self.basicDetailObj.controls.ownershipList.selectedValue;
                self.applicationDetails.businessType = self.basicDetailObj.controls.entityTypeList.selectedValue;
                self.applicationDetails.industry = self.basicDetailObj.controls.industryList.selectedValue;
                self.applicationDetails.state = self.basicDetailObj.controls.stateList.selectedValue;
            },
            createArrayObject: function (lookupValues) {
                var obj = lookupValues;
                // var arr = Object.keys(obj);

                var arr = Object.keys(obj).map(function (key) { return obj[key]; });

                var array = [];
                var len = arr.length;
                for (var i = 0; i < len; i++) {
                    array.push({
                        value: arr[i],
                        key: i + 1
                    });
                }
                return array;
            },
            createArrayObjectForState: function (lookupValues) {
                var obj = lookupValues;
                // var arr = Object.keys(obj);

                var arr = Object.keys(obj).map(function (key) { return obj[key]; });

                var array = [];
                var len = arr.length;
                for (var i = 0; i < len; i++) {
                    array.push({
                        value: arr[i],
                        key: arr[i]
                    });
                }
                return array;
            },
        });
    </script>
</dom-module>