<html-import html-href="services/lookup-service.html"></html-import>
<dom-module id="business-details">
    <style>
        .sendEmailToast {
            max-width: 536px !important;
            position: static !important;
        }
        #closebtn {
            margin-bottom: 5px !important;
        }
        .padding {
            padding-top: 8px;
        }
        paper-input {
            --paper-input-container-disabled: {
                opacity: 0.66;
            }
            ;
        }
        .modal-dialog {
            width: 2000px;
            margin: 30px auto;
        }
        .modal-body {
            padding: 20px 60px 30px 60px;
        }
        .dropdown-width {
            width: 100%;
        }
        .alignment {
            float: right;
        }
    </style>
    <template>

        <http-request id="http"></http-request>
        <form is="iron-form" class="form-horizontal" name="cashflowForm" id="ApplicationForm">
            <lookup-service id="lookup"></lookup-service>
            <h2>Amount Requested
                <br>
                <paper-dropdown-menu label="How much do you need?" allowOutsideScroll required class="dropdown-width">
                    <paper-listbox class="dropdown-content" attr-for-selected="myid" selected="{{selectedAmount}}">
                        <template is="dom-repeat" items="[[amountList]]" as="amt">
                            <paper-item myid="[[amt.key]]">[[amt.value]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>

                <paper-dropdown-menu label="Purpose of funds?" allowOutsideScroll required class="dropdown-width">
                    <paper-listbox class="dropdown-content" attr-for-selected="myid" selected="{{selectedAmountNecessity}}">
                        <template is="dom-repeat" items="[[amountNecessityList]]" as="amtNec">
                            <paper-item myid="[[amtNec.key]]">[[amtNec.value]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>

                <paper-dropdown-menu label="How soon do you need it?" allowOutsideScroll required class="dropdown-width">
                    <paper-listbox class="dropdown-content" attr-for-selected="myid" selected="{{selectedFundPurpose}}">
                        <template is="dom-repeat" items="[[fundPurposeList]]" as="fund">
                            <paper-item myid="[[fund.key]]">[[fund.value]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
                <br>
                <br>
                <h2> Contact Information</h2>
                    <br>
                    <dynamic-form form-configuration={{businessDetailObj}} values="{{businessDetailObj.values}}"></dynamic-form><br/>

        </form>
    </template>
    <script>
        Polymer({
            is: "business-details",
            properties: {
                personalDetail: {
                    type: Object,
                    notify: true,
                },
                amountList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                selectedAmount: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                amountNecessityList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                selectedAmountNecessity: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                fundPurposeList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                selectedFundPurpose: {
                    type: Object,
                    notify: true,
                    value: {}
                },


                stateList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                selectedState: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                ownershipList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                selectedOwnership: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                industryList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                selectedIndustry: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                entityTypeList: {
                    type: Array,
                    notify: true,
                    value: []
                },
                selectedEntityType: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                industryTypeLookup: {
                    type: Object,
                    notify: true,
                    value: {
                        1: "Agriculture / Farming",
                        2: "Auto Repair",
                        3: "Business Services (General)",
                        4: "Car Sales (New &amp; Used)",
                        5: "Construction / Contracting",
                        6: "Financial Services",
                        7: "General Product Sales",
                        8: "Hospitality Services / Hotel / Motel",
                        9: "HVAC / Electrical /Plumbing",
                        10: "Insurance Services",
                        11: "Landscaping / Lawn &amp; Garden Services",
                        12: "Legal Services",
                        13: "Manufacturing",
                        14: "Medical Office / Health Services",
                        15: "Real Estate / Property Management",
                        16: "Restaurant / Food Services",
                        17: "Retail",
                        18: "Transportation Services"
                    }
                },
                amountListLookup: {
                    type: Object,
                    notify: true,
                    value: {
                        1: "$5,000-$10,000",
                        2: "$10,000-$25,000",
                        3: "$25,000-$50,000",
                        4: "$50,000-$100,000",
                        5: "$100,000-$250,000",
                        6: "More than $250,000"
                    }
                },

                loanTimeFrameLookup: {
                    type: Object,
                    notify: true,
                    value: {
                        1: 'Immediately',
                        2: 'Within 14 days',
                        3: 'More than 30 days'
                    }
                },
                fundPurposeListLookup: {
                    type: Object,
                    notify: true,
                    value: {
                        1: "Inventory",
                        2: "Marketing",
                        3: "Bridge",
                        4: "Equipment",
                        5: "Materials",
                        6: "Hire Employees",
                        7: "Payoff Debt/Taxes",
                        8: "Project Financing",
                        9: "Repairs",
                        10: "Other"
                    }
                },
                businessDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "EmailAddress": {
                                "title": "Email",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "FirstName": {
                                "title": "First Name",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "LastName": {
                                "title": "Last Name",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "Phone": {
                                "title": "Phone",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 10,
                                    "maxLen": 10
                                }
                            },
                        },
                        values: {
                            EmailAddress: "",
                            FirstName: "",
                            LastName: "",
                            MiddleName: "",
                            Phone: "",
                            LegalCompanyName: "",
                            BusinessAddress: "",
                            City: "",
                            PostalCode: "",
                            BusinessTaxID: "",
                            DateEstablished: "",
                            amountListNew: ""
                        }
                    }
                },
                applicationDetails: {
                    type: Object,
                    notify: true,
                    observer: '_getBusinessDetail',
                }
            },
            _makingGetObject: function () {
                return {
                    EmailAddress: '',
                    FirstName: '',
                    LastName: '',
                    MiddleName: '',
                    Phone: '',
                    LegalCompanyName: '',
                    BusinessAddress: '',
                    City: '',
                    PostalCode: '',
                    BusinessTaxID: '',
                    DateEstablished: '',

                    Amount: '',
                    AmountNecessity: '',
                    FundPurpose: '',
                    State,
                    Ownership,
                    Industry,
                    EntityType,
                }
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _preparingList: function () {

            },
            _getBusinessDetail: function () {
                var self = this;
                if (self.applicationDetails && self.applicationDetails != null) {
                    self.businessDetailObj.values["EmailAddress"] = self.applicationDetails.email;
                    self.businessDetailObj.values["FirstName"] = self.applicationDetails.contactFirstName;
                    self.businessDetailObj.values["LastName"] = self.applicationDetails.contactLastName;
                    self.businessDetailObj.values["Phone"] = self.applicationDetails.phone;
                    self.amountList = self.createArrayObject(self.amountListLookup);
                    self.selectedAmount = "1";
                    self.amountNecessityList = self.createArrayObject(self.fundPurposeListLookup);
                    self.selectedAmountNecessity = self.applicationDetails.purposeOfLoan;
                    self.fundPurposeList = self.createArrayObject(self.loanTimeFrameLookup);
                    self.selectedFundPurpose = self.applicationDetails.loanTimeFrame;
                    self.set('businessDetailObj', $.extend({}, self.businessDetailObj));
                }

            },            
            ready: function () {
            },
            attached: function () {
                var self = this;
            },
            getlookup: function (lookupName) {
                var lookupdata;
                if (lookupName && lookupName != null) {
                    var self = this;
                    var url = "/" + lookupName;
                    this.$.http.get(url, window.config.services.lookupservice)
                        .then(function (data) {
                            console.log("getlookup data is ", data);
                            return lookupdata;
                        }).fail(function (e) {
                            console.log("getlookup error is ", e);
                            return null;
                        });
                }
            },
            _getUpdatedData: function () {
                var self = this;

                self.applicationDetails.email = self.businessDetailObj.values.EmailAddress;
                self.applicationDetails.contactFirstName = self.businessDetailObj.values.FirstName;
                self.applicationDetails.contactLastName = self.businessDetailObj.values.LastName;
                self.applicationDetails.phone = self.businessDetailObj.values.Phone;
                self.applicationDetails.loanTimeFrame = self.selectedAmountNecessity;
                self.applicationDetails.purposeOfLoan = self.selectedFundPurpose;
            },
            createArrayObject: function (lookupValues) {
                var obj = lookupValues;
                var arr = Object.keys(obj).map(function (key) { return obj[key]; });

                var array = [];
                var len = arr.length;
                for (var i = 0; i < len; i++) {
                    array.push({
                        value: arr[i],
                        key: i + 1
                    });
                }
                return array;
            }
        });
    </script>
</dom-module>