<dom-module id="financial-details">
    <style>
        .sendEmailToast {
            max-width: 536px !important;
            position: static !important;
        }
        #closebtn {
            margin-bottom: 5px !important;
        }
        .padding {
            padding-top: 8px;
        }
        paper-input {
            --paper-input-container-disabled: {
                opacity: 0.66;
            }
            ;
        }
        .modal-dialog {
            width: 800px;
            margin: 30px auto;
        }
        .modal-body {
            padding: 20px 60px 30px 60px;
        }
        paper-dropdown-menu {
            width: 100% !important;
        }
        .alignment {
            float: right;
        }
    </style>
    <template>
        <http-request id="http"></http-request>        
        <form is="iron-form" class="form-horizontal" name="cashflowForm">
            Financial Snapshot
            <dynamic-form form-configuration={{financialDetailObj}} values="{{financialDetailObj.values}}"></dynamic-form><br/>           
        </form>
    </template>
    <script>
        Polymer({
            is: "financial-details",
            properties: {
                businessLoanListLookup: {
                    type: Object,
                    notify: true,
                    value: {
                        1: 'NO',
                        2: 'YES'
                    }
                },
                applicationDetails: {
                    type: Object,
                    notify: true,
                     observer: '_getFinancialDetail',
                },
                financialDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "AnnualRevenue": {
                                "title": "Annual Revenue",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "AverageBankBalance": {
                                "title": "Average Bank Balance",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            businessLoanList: {
                                title: "Do you have any existing business loan or cash advance?",
                                type: "dropdown",
                                selectList: [],
                                selectedValue: "",
                            },
                            "Signature": {
                                "title": "Signature",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 20
                                }
                            },
                        },
                        values: {
                            AnnualRevenue: "",
                            AverageBankBalance: "",
                            businessLoanList: "",
                            Signature: "",
                        }
                    }

                }
            },           
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _preparingList: function () {
                var self = this;
                self.financialDetailObj.controls.businessLoanList.selectList = self.createArrayObject(self.businessLoanListLookup);
                self.financialDetailObj.controls.businessLoanList.selectedValue = "1";

                self.financialDetailObj.values["AnnualRevenue"] = self.applicationDetails.Application.SelfDeclareInformation.AnnualRevenue;
                self.financialDetailObj.values["AverageBankBalance"] = self.applicationDetails.Application.SelfDeclareInformation.AverageBankBalance;
                self.financialDetailObj.values["Signature"] = self.applicationDetails.Application.SelfDeclareInformation.Signature;

                self.set('financialDetailObj', $.extend({}, self.financialDetailObj));

                // self.financialDetailObj.controls.businessLoanList.selectList = [{
                //     key: "1",
                //     value: "No"
                // }, {
                //     key: "2",
                //     value: "Yes"
                // }];
                // self.financialDetailObj.controls.businessLoanList.selectedValue = "1";                
            },
            _getFinancialDetail: function () {
                var self = this;

                self.financialDetailObj.controls.businessLoanList.selectList = self.createArrayObject(self.businessLoanListLookup);
                self.financialDetailObj.controls.businessLoanList.selectedValue = self.applicationDetails.haveExistingLoan;

                self.financialDetailObj.values["AnnualRevenue"] = self.applicationDetails.annualRevenue;
                self.financialDetailObj.values["AverageBankBalance"] = self.applicationDetails.averageBankBalances;
                self.financialDetailObj.values["Signature"] = self.applicationDetails.signature;

                self.set('financialDetailObj', $.extend({}, self.financialDetailObj));
            },
            _getUpdatedData:function() {
                var self = this;

                self.applicationDetails.haveExistingLoan = self.financialDetailObj.controls.businessLoanList.selectedValue;

                self.applicationDetails.annualRevenue = self.financialDetailObj.values.AnnualRevenue;
                self.applicationDetails.averageBankBalances = self.financialDetailObj.values.AverageBankBalance;
                self.applicationDetails.signature = self.financialDetailObj.values.Signature;
            },
            ready: function () {
                var self = this;                
            },
            attached: function () {
                var self = this;
            },
            createArrayObject: function (lookupValues) {
                var obj = lookupValues;
                // var arr = Object.keys(obj);

                var arr = Object.keys(obj).map(function (key) { return obj[key]; });

                var array = [];
                var len = arr.length;
                for (var i = 0; i < len; i++) {
                    array.push({
                        value: arr[i],
                        key: i + 1
                    });
                }
                return array;
            }
        });
    </script>
</dom-module>