<dom-module id="ownership-details">
    <style>
        .sendEmailToast {
            max-width: 536px !important;
            position: static !important;
        }
        #closebtn {
            margin-bottom: 5px !important;
        }
        .padding {
            padding-top: 8px;
        }
        paper-input {
            --paper-input-container-disabled: {
                opacity: 0.66;
            }
            ;
        }
        .modal-dialog {
            width: 800px;
            margin: 30px auto;
        }
        .modal-body {
            padding: 20px 60px 30px 60px;
        }
        .dropdown-width {
            width: 100%;
        }
        .alignment {
            float: right;
        }
    </style>
    <template>
        <http-request id="http"></http-request>
        <form is="iron-form" class="form-horizontal" name="cashflowForm">
            <dynamic-form form-configuration={{primaryOwnershipDetailObj}} values="{{primaryOwnershipDetailObj.values}}"></dynamic-form>

            <paper-checkbox name="AdditionalOwners" id="AdditionalOwners" on-change="selectionChange">Additional Owners</paper-checkbox>

            <div id="secondaryOwnerDiv" style="display: none">
                <dynamic-form form-configuration={{secondaryOwnershipDetailObj}} values="{{secondaryOwnershipDetailObj.values}}"></dynamic-form>
            </div>
            <!--<br/> This is where we will send your loan offer. By clicking "Next", you agree to receiving communications from
            lendfoundry Group or its representatives at the phone number or email address provided.<br><br>-->
        </form>
    </template>
    <script>
        Polymer({
            is: "ownership-details",
            properties: {
                applicationDetails: {
                    type: Object,
                    notify: true,
                    observer: '_getOwnershipDetail',
                },
                stateLookup: {
                    type: Object,
                    notify: true,
                    value: {
                        1: "AL",
                        2: "AK",
                        3: "AZ",
                        4: "AR",
                        5: "CA",
                        6: "CO",
                        7: "CT",
                        8: "DE",
                        9: "FL",
                        10: "GA",
                        11: "HI",
                        12: "ID",
                        13: "IL",
                        14: "IN",
                        15: "IA",
                        16: "KS",
                        17: "KY",
                        18: "LA",
                        19: "ME",
                        20: "MD",
                        21: "MA",
                        22: "MI",
                        23: "MN",
                        24: "MS",
                        25: "MO",
                        26: "MT",
                        27: "NE",
                        28: "NV",
                        29: "NH",
                        30: "NJ",
                        31: "NM",
                        32: "NY",
                        33: "NC",
                        34: "ND",
                        35: "OH",
                        36: "OK",
                        37: "OR",
                        38: "PA",
                        39: "RI",
                        40: "SC",
                        41: "SD",
                        42: "TN",
                        43: "TX",
                        44: "UT",
                        45: "VT",
                        46: "VA",
                        47: "WA",
                        48: "WV",
                        49: "WI",
                        50: "WY",
                        51: "AB",
                        52: "BC",
                        53: "MB",
                        54: "NB",
                        55: "NL",
                        56: "NT",
                        57: "NS",
                        58: "NU",
                        59: "ON",
                        60: "PE",
                        61: "QC",
                        62: "SK",
                        63: "YT"

                    }
                },
                primaryOwnershipDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "FirstName": {
                                "title": "First Name",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "LastName": {
                                "title": "Last Name",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "HomeAddress": {
                                "title": "Home Address",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "City": {
                                "title": "City",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            stateList: {
                                title: "State",
                                type: "dropdown",
                                selectList: [],
                                selectedValue: ""
                            },
                            "PostalCode": {
                                "title": "PostalCode",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 6
                                }
                            },
                            "Phone": {
                                "title": "Mobile Phone",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 10,
                                    "maxLen": 10
                                }
                            },
                            "Ownership": {
                                "title": "% of Ownership",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 3
                                }
                            },
                            "SocialSecurityNumber": {
                                "title": "Social Security Number",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "Birthdate": {
                                "title": "Birthdate (mm/dd/yyyy)",
                                "type": "date",
                                "format": "MM-DD-YYYY",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 20
                                }
                            },
                            // "AdditionalOwners": {
                            //     "title": "Additional Owners",
                            //     "type": "checkbox",
                            //     "validations": {
                            //         "required": true,
                            //     }
                            // },
                        },
                        values: {
                            FirstName: "",
                            LastName: "",
                            HomeAddress: "",
                            City: "",
                            stateList: "",
                            PostalCode: "",
                            Phone: "",
                            Ownership: "",
                            SocialSecurityNumber: "",
                            Birthdate: "",
                            // AdditionalOwners: "",
                            SelectedState: ""
                        }
                    }

                },
                secondaryOwnershipDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "FirstName": {
                                "title": "First Name",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "LastName": {
                                "title": "Last Name",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "HomeAddress": {
                                "title": "Home Address",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "City": {
                                "title": "City",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            stateList: {
                                title: "State",
                                type: "dropdown",
                                selectList: [],
                                selectedValue: ""
                            },
                            "PostalCode": {
                                "title": "PostalCode",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 1,
                                    "maxLen": 5
                                }
                            },
                            "Phone": {
                                "title": "Mobile Phone",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 10,
                                    "maxLen": 10
                                }
                            },
                            "Ownership": {
                                "title": "% of Ownership",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 1,
                                    "maxLen": 3
                                }
                            },
                            "SocialSecurityNumber": {
                                "title": "Social Security Number",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "Birthdate": {
                                "title": "Birthdate (mm/dd/yyyy)",
                                "type": "date",
                                "format": "MM-DD-YYYY",
                                "validations": {
                                    "required": false,
                                    "minLen": 1,
                                    "maxLen": 20
                                }
                            },
                            // "AdditionalOwners": {
                            //     "title": "Additional Owners",
                            //     "type": "checkbox",
                            //     "validations": {
                            //         "required": true,
                            //     }
                            // },
                        },
                        values: {
                            FirstName: "",
                            LastName: "",
                            HomeAddress: "",
                            City: "",
                            stateList: "",
                            PostalCode: "",
                            Phone: "",
                            Ownership: "",
                            SocialSecurityNumber: "",
                            Birthdate: "",
                            // AdditionalOwners: ""
                        }
                    }

                }
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _preparingList: function () {

                var self = this;
                self.primaryOwnershipDetailObj.controls.stateList.selectedValue = "1";
                self.primaryOwnershipDetailObj.values["FirstName"] = self.applicationDetails.Applicant.Owners[0].FirstName;
                self.primaryOwnershipDetailObj.values["LastName"] = self.applicationDetails.Applicant.Owners[0].LastName;
                self.primaryOwnershipDetailObj.values["HomeAddress"] = "#5212 6th street, Lake view";
                self.primaryOwnershipDetailObj.values["City"] = self.applicationDetails.Applicant.Owners[0].Addresses[0].City;
                self.primaryOwnershipDetailObj.values["PostalCode"] = self.applicationDetails.Applicant.Owners[0].Addresses[0].ZipCode;
                self.primaryOwnershipDetailObj.values["Phone"] = self.applicationDetails.Applicant.Owners[0].PhoneNumbers[0].Phone;
                self.primaryOwnershipDetailObj.values["SocialSecurityNumber"] = self.applicationDetails.Applicant.Owners[0].SSN;;
                self.primaryOwnershipDetailObj.values["Birthdate"] = self.applicationDetails.Applicant.Owners[0].DOB;
                self.primaryOwnershipDetailObj.values["Ownership"] = self.applicationDetails.Applicant.Owners[0].OwnershipPercentage

                self.set('primaryOwnershipDetailObj', $.extend({}, self.primaryOwnershipDetailObj));

                if (self.applicationDetails.Applicant.Owners.length > 1) {

                }
            },
            _getOwnershipDetail: function () {
                var self = this;

                self.primaryOwnershipDetailObj.values["FirstName"] = self.applicationDetails.owners[0].firstName;
                self.primaryOwnershipDetailObj.values["LastName"] = self.applicationDetails.owners[0].lastName;
                self.primaryOwnershipDetailObj.values["HomeAddress"] = self.applicationDetails.owners[0].addresses[0].addressLine1;
                self.primaryOwnershipDetailObj.values["City"] = self.applicationDetails.owners[0].addresses[0].city;
                self.primaryOwnershipDetailObj.values["PostalCode"] = self.applicationDetails.owners[0].addresses[0].zipCode;
                self.primaryOwnershipDetailObj.values["Phone"] = self.applicationDetails.owners[0].phoneNumbers[0].phone;
                self.primaryOwnershipDetailObj.values["SocialSecurityNumber"] = self.applicationDetails.owners[0].ssn;;
                self.primaryOwnershipDetailObj.values["Birthdate"] = self.applicationDetails.owners[0].dob;
                self.primaryOwnershipDetailObj.values["Ownership"] = self.applicationDetails.owners[0].ownershipPercentage;
                self.primaryOwnershipDetailObj.controls.stateList.selectList = self.createArrayObjectForState(self.stateLookup);
                self.primaryOwnershipDetailObj.controls.stateList.selectedValue = self.applicationDetails.owners[0].addresses[0].state;
                self.set('primaryOwnershipDetailObj', $.extend({}, self.primaryOwnershipDetailObj));


                if (self.applicationDetails.owners.length > 1) {

                    $("#secondaryOwnerDiv").show();
                    self.$.AdditionalOwners.checked = true;
                    self.secondaryOwnershipDetailObj.controls.FirstName.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.LastName.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.HomeAddress.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.City.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.PostalCode.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.Phone.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.Ownership.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.SocialSecurityNumber.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.Birthdate.validations.required = true;

                    self.secondaryOwnershipDetailObj.values["FirstName"] = self.applicationDetails.owners[1].firstName;
                    self.secondaryOwnershipDetailObj.values["LastName"] = self.applicationDetails.owners[1].lastName;
                    self.secondaryOwnershipDetailObj.values["HomeAddress"] = self.applicationDetails.owners[1].addresses[0].addressLine1;
                    self.secondaryOwnershipDetailObj.values["City"] = self.applicationDetails.owners[1].addresses[0].city;
                    self.secondaryOwnershipDetailObj.values["PostalCode"] = self.applicationDetails.owners[1].addresses[0].zipCode;
                    self.secondaryOwnershipDetailObj.values["Phone"] = self.applicationDetails.owners[1].phoneNumbers[0].phone;
                    self.secondaryOwnershipDetailObj.values["SocialSecurityNumber"] = self.applicationDetails.owners[1].ssn;;
                    self.secondaryOwnershipDetailObj.values["Birthdate"] = self.applicationDetails.owners[1].dob;
                    self.secondaryOwnershipDetailObj.values["Ownership"] = self.applicationDetails.owners[1].ownershipPercentage;
                    self.secondaryOwnershipDetailObj.controls.stateList.selectList = self.createArrayObjectForState(self.stateLookup);
                    self.secondaryOwnershipDetailObj.controls.stateList.selectedValue = self.applicationDetails.owners[0].addresses[0].state;
                    self.set('secondaryOwnershipDetailObj', $.extend({}, self.primaryOwnershipDetailObj));
                    self.set('primaryOwnershipDetailObj', $.extend({}, self.primaryOwnershipDetailObj));
                }

            },
            _getUpdatedData: function () {
                var self = this;

                self.applicationDetails.owners[0].firstName = self.primaryOwnershipDetailObj.values.FirstName;
                self.applicationDetails.owners[0].lastName = self.primaryOwnershipDetailObj.values.LastName;
                self.applicationDetails.owners[0].addresses[0].addressLine1 = self.primaryOwnershipDetailObj.values.HomeAddress;
                self.applicationDetails.owners[0].addresses[0].city = self.primaryOwnershipDetailObj.values.City;
                self.applicationDetails.owners[0].addresses[0].zipCode = self.primaryOwnershipDetailObj.values.PostalCode;
                self.applicationDetails.owners[0].phoneNumbers[0].phone = self.primaryOwnershipDetailObj.values.Phone;
                self.applicationDetails.owners[0].ssn = self.primaryOwnershipDetailObj.values.SocialSecurityNumber;
                self.applicationDetails.owners[0].dob = self.primaryOwnershipDetailObj.values.Birthdate;
                self.applicationDetails.owners[0].ownershipPercentage = self.primaryOwnershipDetailObj.values.Ownership;
                self.applicationDetails.owners[0].addresses[0].state = self.primaryOwnershipDetailObj.controls.stateList.selectedValue;

                if (self.applicationDetails.owners.length > 1 || self.$.AdditionalOwners.checked) {
                    if (self.applicationDetails.owners.length = 1 && self.$.AdditionalOwners.checked) {
                        self.applicationDetails.owners.push(self.applicationDetails.owners[0]);
                        self.applicationDetails.owners[1].ownerId="";
                    }
                    self.applicationDetails.owners[1].firstName = self.secondaryOwnershipDetailObj.values.FirstName;
                    self.applicationDetails.owners[1].lastName = self.secondaryOwnershipDetailObj.values.LastName;
                    self.applicationDetails.owners[1].addresses[0].addressLine1 = self.secondaryOwnershipDetailObj.values.HomeAddress;
                    self.applicationDetails.owners[1].addresses[0].city = self.secondaryOwnershipDetailObj.values.City;
                    self.applicationDetails.owners[1].addresses[0].zipCode = self.secondaryOwnershipDetailObj.values.PostalCode;
                    self.applicationDetails.owners[1].phoneNumbers[0].phone = self.secondaryOwnershipDetailObj.values.Phone;
                    self.applicationDetails.owners[1].ssn = self.secondaryOwnershipDetailObj.values.SocialSecurityNumber;
                    self.applicationDetails.owners[1].dob = self.secondaryOwnershipDetailObj.values.Birthdate;
                    self.applicationDetails.owners[1].ownershipPercentage = self.secondaryOwnershipDetailObj.values.Ownership;
                    self.applicationDetails.owners[1].addresses[0].state = self.secondaryOwnershipDetailObj.controls.stateList.selectedValue;
                }
            },
            ready: function () {
                var self = this;
            },
            attached: function () {
                var self = this;
            },
            createArrayObjectForState: function (lookupValues) {
                var obj = lookupValues;
                // var arr = Object.keys(obj);

                var arr = Object.keys(obj).map(function (key) { return obj[key]; });

                var array = [];
                var len = arr.length;
                for (var i = 0; i < len; i++) {
                    array.push({
                        value: arr[i],
                        key: arr[i]
                    });
                }
                return array;
            },
            selectionChange: function () {
                var self = this;
                if (self.$.AdditionalOwners.checked) {
                    $("#secondaryOwnerDiv").show();
                    self.secondaryOwnershipDetailObj.controls.FirstName.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.LastName.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.HomeAddress.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.City.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.PostalCode.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.Phone.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.Ownership.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.SocialSecurityNumber.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.Birthdate.validations.required = true;
                    self.secondaryOwnershipDetailObj.controls.stateList.selectList = self.createArrayObjectForState(self.stateLookup);
                    self.set('secondaryOwnershipDetailObj', $.extend({}, self.secondaryOwnershipDetailObj));
                }
                else {
                    $("#secondaryOwnerDiv").hide();
                    if (self.applicationDetails.owners.length > 1) {
                        self.applicationDetails.owners.pop(self.applicationDetails.owners[1]);
                    }
                    self.secondaryOwnershipDetailObj.controls.FirstName.validations.required = false;
                    self.secondaryOwnershipDetailObj.controls.LastName.validations.required = false;
                    self.secondaryOwnershipDetailObj.controls.HomeAddress.validations.required = false;
                    self.secondaryOwnershipDetailObj.controls.City.validations.required = false;
                    self.secondaryOwnershipDetailObj.controls.PostalCode.validations.required = false;
                    self.secondaryOwnershipDetailObj.controls.Phone.validations.required = false;
                    self.secondaryOwnershipDetailObj.controls.Ownership.validations.required = false;
                    self.secondaryOwnershipDetailObj.controls.SocialSecurityNumber.validations.required = false;
                    self.secondaryOwnershipDetailObj.controls.Birthdate.validations.required = false;
                    self.set('secondaryOwnershipDetailObj', $.extend({}, self.secondaryOwnershipDetailObj));
                }

            },
        });
    </script>
</dom-module>