<html-import html-href="services/utility-service.html"></html-import>
<html-import html-href="services/workflow-service.html"></html-import>
<html-import html-href="progress-bar/index.html"></html-import>
<dom-module id="personal-details">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="PersonalDetail">
                    <dynamic-form form-configuration={{personalDetailObj}} values="{{personalDetailObj.values}}"></dynamic-form><br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "personal-details",
            properties: {
                personalDetail: {
                    type: Object,
                    notify: true,
                    value: {
                        AadhaarNumber: '',
                        DateOfBirth: '',
                        FirstName: '',
                        LastName: '',
                        MiddleName: '',
                        PermanentAccountNumber: '',
                        Salutation: '',
                        EmploymentStatus: '',
                        Gender: '',
                        MaritalStatus: ''
                    }
                },
                personalDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            Salutation: {
                                title: "Title",
                                type: "dropdown",
                                selectList: [
                                    { key: "Mr.", value: "Mr." },
                                    { key: "Mrs", value: "Mrs" },
                                    { key: "Miss", value: "Miss" }
                                ],
                                selectedValue: "",
                                validations: {
                                    required: true
                                }
                            },
                            FirstName: {
                                title: "First Name",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            MiddleName: {
                                title: "Middle Name",
                                type: "textbox",
                                validations: {
                                    required: false,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            LastName: {
                                title: "LastName",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            DateOfBirth: {
                                title: "Date Of Birth",
                                type: "date",
                                format: "DD-MM-YYYY",
                                validations: {
                                    required: true
                                }
                            },
                            PermanentAccountNumber: {
                                title: "Permanent Account Number",
                                type: "pan",
                                validations: {
                                    required: true,
                                    minLen: 10,
                                    maxLen: 10
                                }
                            },
                            AadhaarNumber: {
                                title: "Aadhaar Number",
                                type: "aadhaar",
                                validations: {
                                    required: true,
                                    minLen: 12,
                                    maxLen: 12
                                }
                            },
                            Gender: {
                                title: "Gender",
                                type: "radiogroup",
                                radioList: [
                                    { key: "Male", value: "Male" },
                                    { key: "Female", value: "Female" }
                                ]
                            },
                            MaritalStatus: {
                                title: "Martial Status",
                                type: "radiogroup",
                                radioList: [
                                    { key: "Single", value: "Single" },
                                    { key: "Married", value: "Married" }
                                ]
                            }
                        },
                        values: {
                            AadhaarNumber: "",
                            DateOfBirth: "",
                            FirstName: "",
                            LastName: "",
                            MiddleName: "",
                            PermanentAccountNumber: "",
                            Salutation: "",
                            Gender: "Male",
                            MaritalStatus: "Single",
                            EmploymentStatus: "Salaried"
                        }
                    }
                }
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _getPersonalDetail: function () {
                var self = this;
                var url = "/" + self.applicationNumber;
                var applicationEndpoint = window.config.services.applicationDetail;
                var applicantEndpoint = window.config.services.applicantDetail;
                self.$.http.get(url, applicationEndpoint).then(function (result) {
                    if (result != undefined && !self._checkIfNullObject(result)){
                        var suburl = "/" + result.applicantId;
                        self.$.http.get(suburl, applicantEndpoint).then(function (data) {
                            if (!self._checkIfNullObject(data)) {
                                self.personalDetail.AadhaarNumber = data.aadhaarNumber;
                                self.personalDetail.DateOfBirth = data.dateOfBirth;
                                self.personalDetail.FirstName = data.firstName;
                                self.personalDetail.MiddleName = data.middleName;
                                self.personalDetail.LastName = data.lastName;
                                self.personalDetail.PermanentAccountNumber = data.permanentAccountNumber;
                                self.personalDetail.Salutation = data.salutation;
                                //self.personalDetail.controls.Salutation.selectedValue = data.salutation;
                                self.personalDetailObj.values["AadhaarNumber"] = data.aadhaarNumber;
                                self.personalDetailObj.values["DateOfBirth"] = moment.tz(data.dateOfBirth, window.config.timezone).format("YYYY-MM-DD");
                                if (data.employmentDetails != undefined && data.employmentDetails != null) {
                                    self.selectedEmploymentStatus = data.employmentDetails[0].employmentStatus;
                                    self.set('selectedEmploymentStatus', data.employmentStatus);
                                }
                                self.personalDetailObj.values["FirstName"] = data.firstName;
                                self.personalDetailObj.values["MiddleName"] = data.middleName;
                                self.personalDetailObj.values["LastName"] = data.lastName;
                                self.personalDetailObj.values["PermanentAccountNumber"] = data.permanentAccountNumber;
                                //self.personalDetailObj.values["Salutation"] = data.salutation;
                                self.personalDetailObj.controls.Salutation.selectedValue = data.salutation;
                                self.personalDetailObj.values["Gender"] = data.gender;
                                self.personalDetailObj.values["MaritalStatus"] = data.maritalStatus;
                            }
                            self.set('personalDetailObj', $.extend({}, self.personalDetailObj));
                            self.set('personalDetail', $.extend({}, self.personalDetail));
                        }).fail(function (e) {
                            console.log("_getPersonalDetail error is " + e);
                        });
                    }
                }).fail(function (e) {
                    console.log("_getPersonalDetail error is " + e);
                });
            },
            _verifyForm: function (event) {
                event.preventDefault();
                var self = this;
                var perEmailObj = self.perEmailObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var offerEngine = window.config.services.offerEngine;
                var url = "/application/" + self.applicationNumber + "/applicantDetails";
                if (form.validate()) {
                    //assign value from UI to Employee Detail object
                    var ResultObj = self.personalDetail;

                    ResultObj.AadhaarNumber = self.personalDetailObj.values["AadhaarNumber"];
                    ResultObj.DateOfBirth = self.personalDetailObj.values["DateOfBirth"];
                    ResultObj.DateOfBirth = moment.tz(ResultObj.DateOfBirth, window.config.timezone).format("YYYY-MM-DD");
                    ResultObj.FirstName = self.personalDetailObj.values["FirstName"];
                    ResultObj.MiddleName = self.personalDetailObj.values["MiddleName"];
                    ResultObj.LastName = self.personalDetailObj.values["LastName"];
                    ResultObj.PermanentAccountNumber = self.personalDetailObj.values["PermanentAccountNumber"];
                    //ResultObj.Salutation = self.personalDetailObj.values["Salutation"];
                    ResultObj.Salutation=self.personalDetailObj.controls.Salutation.selectedValue;
                    ResultObj.Gender = self.personalDetailObj.values["Gender"];
                    ResultObj.MaritalStatus = self.personalDetailObj.values["MaritalStatus"];
                    ResultObj.EmploymentStatus = self.personalDetailObj.values["EmploymentStatus"];
                    self.$.http.put(url, ResultObj, offerEngine).then(function (result) {
                        console.log(result);
                        //For hide Div after Update Detail
                        $(event.target).parents().find('personal-details').parent().hide();
                        //To get list of LoanActivity template and then display block for all Div.
                        var listOfParentelements = $("loan-activity");
                        for (i = 0; i < listOfParentelements.length; i++) {
                            $(listOfParentelements[i]).children().first().show();
                        }
                        self.raiseAppRefreshEvent();
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            ready: function () {
                var self = this;
                self._getPersonalDetail();
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>
