<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="update-cashflow">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                    <dynamic-form form-configuration={{prefiosReportObj}} values="{{prefiosReportObj.values}}"></dynamic-form><br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "update-cashflow",
            properties: {
                prefiosReportObj : {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {},
                        values: {}
                    }
                }
            },
            _toCapitalize: function(stringObj){
                return stringObj.replace( /\b\w/g, function (m) {
                    return m.toUpperCase();
                });
            },
            _getCashFlowConfig: function(){
                var self = this;
                var configEndpoint = window.config.services.backofficeconfiguration;
                var url = "/" + window.configName +"/cash-flow";
                self.$.http.get(url, configEndpoint).then(function (data) {
                    self.set('prefiosReportObj', data);
                    self._getCashFlowData();
                }).fail(function (e){
                   console.log("load config error is ", e);
                });
            },
            _getCashFlowData: function(){
                var self = this;
                var dataAttrEndPoint = window.config.services.dataAttributes;
                var url = "/application/" + self.applicationNumber + "/perfiosReport";
                self.$.http.get(url, dataAttrEndPoint).then(function (reportObj) {
                    self.prefiosReportObj.values = reportObj;
                    var keys = Object.keys(self.prefiosReportObj.values);
                    if(keys.length > 0){
                        for(var i=0; i<keys.length; i++){
                            var key = keys[i];
                            var value = self.prefiosReportObj.values[key];
                            if(key != "ecsBounce" && typeof value === "number"){
                                var temp = parseFloat(value);
                                self.prefiosReportObj.values[key] = temp.toFixed(2);
                            }
                        }
                    }
                    self.set('prefiosReportObj', $.extend({},self.prefiosReportObj));
                }).fail(function (e) {
                    console.log("loadConfig error is ", e);
                });
            },
            _verifyForm: function (event){
                event.preventDefault();
                var self = this;
                var prefiosReportObj = self.prefiosReportObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var offerEngine = window.config.services.appProcessor;
                var url = "/application/" + self.applicationNumber + "/perfios-reportData";
                if(form.validate()){
                    self.$.http.post(url,prefiosReportObj.values, offerEngine).then(function (data) {
                        console.log(data);
                        //For hide Div after Update Detail
                        $(event.target).parents().find('update-cashflow').parent().hide();
                        //To get list of LoanActivity template and then display block for all Div.
                        var listOfParentelements = $("loan-activity");
                            for (i = 0; i < listOfParentelements.length; i++) {
                                $(listOfParentelements[i]).children().first().show();
                            }
                            self.raiseAppRefreshEvent();
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            },
            ready:function(){
                this._getCashFlowConfig();
            },
            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>