<dom-module id="activity-unit">
    <template>
        <style>
            .ibox-title {
                cursor:pointer;
            }
            .activity {
                margin-bottom: 5px;
            }
        </style>

        <div class="ibox float-e-margins activity">
            <div class="ibox-title collapse-link" on-click="fireActivityClicked">
                <h5>{{config.title}}</h5>
                <div class="ibox-tools">
                    <a>
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content collapse">
                <group-unit config="{{config}}"></group-unit>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "activity-unit",
            properties: {
                config: {
                    type: Object
                },
                open: {
                    value: false
                }
            },
            behaviors: [eventHub],
            fireActivityClicked: function(event) {
                this.publish("activity:clicked", {
                    target: event.target,
                    instance: this
                });
            },
            stopPropagation: function(event) {
                event.stopPropagation();
            },
            toggleActivity: function() {
                var ibox = $("div.ibox", this);
                var button = ibox.find("i");
                var content = ibox.find("div.ibox-content");

                content.slideToggle(200);
                button.toggleClass("fa-times").toggleClass("fa-chevron-right");
                ibox.toggleClass('').toggleClass('border-bottom');

                this.open = !this.open;
                return this.open;
            },
            openActivity: function() {
                this.showActivity();
                
                if (!this.open) {
                    this.toggleActivity();
                }
            },
            closeActivity: function(show) {
                if (!show) {
                    this.hideActivity();
                }

                if (this.open) {
                    this.toggleActivity();
                }
            },
            showActivity: function() {
                $("div.ibox", this).slideDown();
            },
            hideActivity: function() {
                $("div.ibox", this).slideUp();
            },
            
        });
    </script>
</dom-module>