<dom-module id="loan-details">
  <template>
    <style include="shared-styles">
      :host {
       }
      span,
      input {
        @apply(--paper-font-body2);
      }


      /*loan details*/
      .loan-details{padding:15px; background:#fff;}
      .loan-details h2{display:block;margin:0; margin-bottom:15px;font-size: 20px;}
      .loan-details table td{ vertical-align:top;}
      .loan-details table td:nth-child(1){color:#000;font-size:12px;}

      .btn-green{background:#4c9f11; padding:5px 10px; color:#fff; font-size:12px;border-radius:4px;}
      .btn-green:hover{ color:#fff;}

    </style>



    <section class="panel loan-details clearfix">
      <h2 class="clearfix">CEID - 0000010 - CARLETTA DCZZH <a href="#" class="pull-right btn-green">Initiated</a></h2>
      <div class="row">
        <div class="col-sm-4">
          <table>
            <tbody>
              <tr>
                <td>Loan Amount</td>
                <td>1,00,000</td>
              </tr>
              <tr>
                <td>Date of Birth</td>
                <td>Jan 31, 2016</td>
              </tr>
              <tr>
                <td>PAN</td>
                <td>xxx-xxx-1543</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>charan1765@gmail.com</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <table>
            <tbody>
              <tr>
                <td>Loan Purpose</td>
                <td>*********</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>123, Redhill road<br>
                  KANSAS CITY<br>
                  MO -205405</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>123 456 7788</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4">
          <table>
            <tbody>
              <tr>
                <td>Employment Status</td>
                <td>Employed</td>
              </tr>
              <tr>
                <td>Employer</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>





  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'loan-details'
      });
    })();
  </script>
</dom-module>
