<html-import html-href="app/dynamic-form/dynamic-form.html"></html-import>
<dom-module is="app-admin">
    <template>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-3 col-md-3">
                    <form is="iron-form" class="form-horizontal" name="UserDetail">
                        <dynamic-form form-configuration={{userDetailObj}} values="{{userDetailObj.values}}"></dynamic-form>
                        <div class="row">
                            <div class="col-md-12">
                                <paper-dropdown-menu label="select Top Role" allowOutsideScroll required>
                                    <paper-listbox class="dropdown-content" attr-for-selected="myid" selected="{{SelectedTopRole}}">
                                        <template is="dom-repeat" items="{{TopLevelRoles}}" as="role">
                                                <paper-item myid="[[role.key]]">[[role.value]]</paper-item>
                                            </template>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <paper-dropdown-menu label="select Sub Role" allowOutsideScroll required>
                                    <paper-listbox id="subRoles" class="dropdown-content" attr-for-selected="myid" multi on-iron-select="_setSelectRoles">
                                        <template is="dom-repeat" items="[[ChildLevelRoles]]" as="childRole">
                                                <paper-item myid="[[childRole.key]]">[[childRole.value]]</paper-item>
                                            </template>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                            </div>
                        </div><br/>
                        <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Create User</paper-button>
                        <paper-button id="formResetButton" class="btn btn-primary activity-action-btn" style="display: none;" on-click="_formReset" raised>Reset</paper-button>
                    </form>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "app-admin",
            properties: {
                TopLevelRoles: {
                    type: Array,
                    notify: true,
                    value: []
                },
                SelectedTopRole: {
                    type: String,
                    notify: true,
                    value: "",
                    observer: '_getAllChildRoles'
                },
                ChildLevelRoles: {
                    type: Array,
                    notify: true,
                    value: []
                },
                SelectedChildRoles: {
                    type: Array,
                    notify: true,
                    value: []
                },
                userDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            username: {
                                title: "Username",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 5,
                                    maxLen: 15
                                }
                            },
                            password: {
                                title: "Password",
                                type: "password",
                                validations: {
                                    required: true,
                                    minLen: 7,
                                    maxLen: 15
                                }
                            },
                            name: {
                                title: "Full Name",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 5,
                                    maxLen: 15
                                }
                            },
                            email: {
                                title: "Email",
                                type: "email",
                                validations: {
                                    required: true,
                                    maxLen: 20
                                }
                            }
                        },
                        values: {
                            username: "",
                            password: "",
                            name: "",
                            email: ""
                        }
                    }
                }
            },
            _formReset: function (event) {
              var form = Polymer.dom(event).localTarget.parentElement;
              form.reset();
            },
            _setSelectRoles: function (e, item) {
                this.set('SelectedChildRoles', this.$.subRoles.selectedValues);
            },
            _convertStringArrayToObjectArray: function(strArray){
                var newArray = [];
                if(strArray.length > 0){
                    for(var i = 0; i < strArray.length; i++){
                        newArray.push({key: strArray[i], value: strArray[i]});
                    }
                }
                return newArray;
            },
            _getAllRoles: function () {
                var self = this;
                var configUrl = "/security-identity";
                var configEndpoint = window.config.services.configuration;
                self.$.http.get(configUrl, configEndpoint).then(function (data) {
                    if(data.roles){
                        var roles = Object.keys(data.roles);
                        self.set('TopLevelRoles', self._convertStringArrayToObjectArray(roles));
                    }
                }).fail(function (e) {
                    console.log("load config error is ", e);
                });
            },
            _getAllChildRoles: function () {
                var self = this;
                var roleName = self.SelectedTopRole;
                if(roleName != ""){
                    var configUrl = "/roles/" + roleName + "/children";
                    var configEndpoint = window.config.services.security;
                    self.$.http.get(configUrl, configEndpoint).then(function (data) {
                        self.set('ChildLevelRoles', self._convertStringArrayToObjectArray(data));
                        self.SelectedChildRoles = [];
                        self.$.subRoles.selectedValues = [];
                    }).fail(function (e) {
                        console.log("_getAllChildRoles error is ", e);
                    });
                }
            },
            _verifyForm: function(event) {
                console.log(this.SelectedChildRoles);
                var self = this;
                var userDetailObj = self.userDetailObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var securityEndpoint = window.config.services.security;
                var url = "/";
                if (form.validate()) {
                    var payload = userDetailObj.values;
                    payload.roles = self.SelectedChildRoles;
                    self.$.http.put(url, payload, securityEndpoint).then(function (result) {
                        console.log(result);
                        console.log("validating form", payload);
                        $('#formResetButton').click();
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            attached: function () {
                var self = this;
                var params = self.$.url.getParams();
                self._getAllRoles();
                $('#formResetButton').click();
            }
        })
    </script>
</dom-module>