<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<html-import html-href="services/otp-service.html"></html-import>
<html-import html-href="services/syndication-service.html"></html-import>
<html-import html-href="services/rules-engine-service.html"></html-import>


<dom-module id="application-summary">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
      }
      span,
      input {
        @apply(--paper-font-body2);
      }



      .large-title{
        padding-bottom: 60px;
        padding-top: 10px;
        font-size: 40px;
      }

      .lend-logo{
        width:430px;
        height:120px;
      }

    </style>

    <http-request id="http"></http-request>
    <otp-service id="otpService"></otp-service>
    <syndication-service id="syndicationService"></syndication-service>
    <rules-engine-service id="rulesEngineService"></rules-engine-service>

<h1> test <h1>
<div style="display: -moz-box;">
  <span>Basic loan info</span><br />
    <paper-input id="requestedLoanAmount" class="input-control" label="Requested Loan Amount"></paper-input>
    <paper-dropdown-menu id="loanReason" label="Reason">
      <paper-listbox class="dropdown-content" selected="5">
        <paper-item>Travel</paper-item>
        <paper-item>Vehical Purchase</paper-item>
        <paper-item>Medical</paper-item>
        <paper-item>Load Refinancing</paper-item>
        <paper-item>Education</paper-item>
        <paper-item>Home Improvement</paper-item>
      </paper-listbox>
  </paper-dropdown-menu>
</div>
<br /><br /><br />
<div style="display: -moz-box;">
    <span>Personal Info.</span><br />
    <paper-input id="salutation" class="input-control" label="Salutation"></paper-input>
    <paper-input id="firstName" class="input-control" label="First Name"></paper-input>
    <paper-input id="middleName" class="input-control" label="Middle Name"></paper-input>
    <paper-input id="lastName" class="input-control" label="Last Name"></paper-input>

    <paper-input id="dateOfBirth" class="input-control" label="Date of birth (YYYY-MM-DD)"></paper-input>
    <paper-input id="panCard" class="input-control" label="PAN NUMBER"></paper-input>
</div>
<br /><br /><br />
<div style="display: -moz-box;">
  <span>Communication details</span> <br />
    <paper-input id="addressAptNumber" class="input-control" label="Flat / Aprt. Number"></paper-input>
    <paper-input id="addressStreet" class="input-control" label="Street Name"></paper-input>
    <paper-input id="addressCity" class="input-control" label="City"></paper-input>
    <paper-input id="addressState" class="input-control" label="State"></paper-input>
    <paper-input id="addressPin" class="input-control" label="Postal Pin"></paper-input>


    <paper-input id="mobileNumber" class="input-control" label="mobileNumber"></paper-input>

    <paper-button hidden$="{{ hideGenerateOTPButton }}" on-click="initMobileVerification" raised>Verify (SEND OTP)</paper-button>
    <paper-input hidden$="{{ hideOptBox }}"  id="mobileOTP" class="input-control" label="OTP"></paper-input>
    <paper-button hidden$="{{ hideOptBox }}"  on-click="verifyMobileByOTP" raised>Verify (OTP)</paper-button>
    <span style="color: darkgreen;" hidden$="{{ !mobileVerified }}"> Mobile sucessfully verified </span> <br />
    <paper-input id="emailAddress" class="input-control" label="Email Address"></paper-input>
    <paper-button hidden$="{{ emailVerified }}" on-click="verifyEmail" raised>Verify</paper-button>
    <span style="color: darkgreen;" hidden$="{{ !emailVerified }}"> Email sucessfully verified with score = {{emailHunterScore}}.</span> <br />
  </div>
<br /><br /><br /><br />
  <div style="display: -moz-box;">
    <span>Employment details.</span><br />
    <paper-dropdown-menu id="employmentType" label="Employment Type">
      <paper-listbox class="dropdown-content" selected="0">
        <paper-item>Salaried</paper-item>
        <paper-item>Self Employed</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>
    <paper-input id="employerName" class="input-control" label="Employer Name"></paper-input>
    <paper-input id="income" class="input-control" label="Income"></paper-input>
  </div>
<br /><br /><br />
  <div style="display: -moz-box;">
    <span>Expenses</span><br />

 <paper-dropdown-menu id="residenceType" label="Residence Type">
      <paper-listbox class="dropdown-content" selected="2">
        <paper-item>Owned - Self</paper-item>
        <paper-item>Owned - Family</paper-item>
        <paper-item>Rented - Family</paper-item>
        <paper-item>Rented - Friends</paper-item>
        <paper-item>PG / Hostel</paper-item>
      </paper-listbox>
  </paper-dropdown-menu>

    <paper-input id="monthlyHomeEMI" class="input-control" label="Home EMI / Rent"></paper-input>
    <paper-input id="monthlyExpenses" class="input-control" label="Other monthly Expenses"></paper-input>
    <paper-input id="ccBalance" class="input-control" label="Credit Card Balances"></paper-input>
</div>

<div style="font-size: 18px !important;">


<hr/>
<h3>Eligible ? : {{eligibilityCheck}} </h3><br />

<ul>
  <li>ageVerify: {{eligibilityCheckResponse.preScreen.eligibilityCheck.ageVerify}}</li>
  <li>cityVerify: {{eligibilityCheckResponse.preScreen.eligibilityCheck.cityVerify}}</li>
  <li>incomeVerify: {{eligibilityCheckResponse.preScreen.eligibilityCheck.incomeVerify}}</li>
  <li>loanAmountVerify: {{eligibilityCheckResponse.preScreen.eligibilityCheck.loanAmountVerify}}</li>
  <li>empTypeVerify: {{eligibilityCheckResponse.preScreen.eligibilityCheck.empTypeVerify}}</li>
</ul>

<hr/>

<h3>Rejected ? : {{rejectCriteria}} </h3><br />
<ul>
  <li>emiToIncome: {{ rejectCriteriaResponse.preScreen.rejectCriteria.emiToIncome}}</li>
  <li>ccToIncome: {{ rejectCriteriaResponse.preScreen.rejectCriteria.ccToIncome}}</li>
  <li>ageGreaterThan58: {{ rejectCriteriaResponse.preScreen.rejectCriteria.ageGreaterThan58}}</li>
  <li>paN4thLetter: {{ rejectCriteriaResponse.preScreen.rejectCriteria.paN4thLetter}}</li>
  <li>paN5thLetter: {{ rejectCriteriaResponse.preScreen.rejectCriteria.paN5thLetter}}</li>
</ul>
<br />
<br />
</div>

<paper-button on-click="runTests" raised>Run Checks</paper-button><br /><br /><br />

<paper-button on-click="fillSampleData" raised>Reset sample data</paper-button><br /><br /><br />


  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'application-summary',
        initMobileVerification: function (event) {
          var self = this;
          self.$.otpService
              .generateOTP(self.$.mobileNumber.value)
              .done(function (data) {
                self.otpRefId = data.refNo;
                self.hideOptBox = false;
                self.hideGenerateOTPButton = true;
              });
        },
        attached: function(){
          var self = this;
            setTimeout(function () {
              self.fillSampleData();
            }, 2000);
        },
        fillSampleData: function (){
            this.$.requestedLoanAmount.value = 100000;

            this.$.salutation.value = 'Mr';
            this.$.firstName.value = 'Amit';
            this.$.middleName.value = 'Y';
            this.$.lastName.value = 'Dave';

            this.$.dateOfBirth.value = '1985-12-21';
            this.$.panCard.value = 'AYNPD9876D';

            this.$.addressAptNumber.value = 'D-101, Shree Ji Enclave';
            this.$.addressStreet.value = 'Sola-Bhagwat Road';
            this.$.addressCity.value = 'bangalore';
            this.$.addressState.value = 'Gujarat';
            this.$.addressPin.value = '380061';


            this.$.mobileNumber.value = '9898344754';

            this.$.mobileOTP.value = '';
            this.$.emailAddress.value = 'amit.d@sigmainfo.net';

            this.$.employerName.value = 'Sigma Infosolutions Pvt. Ltd.';
            this.$.income.value = 50000;



            this.$.monthlyHomeEMI.value = 10000;
            this.$.monthlyExpenses.value = 10000;
            this.$.ccBalance.value = 10000;




        },
        verifyMobileByOTP: function (event) {
          var self = this;
          self.$.otpService
              .verifyOTP(self.otpRefId, self.$.mobileOTP.value)
              .done(function (data) {
                self.hideOptBox = self.mobileVerified = data.status === 'Success';

                if(!self.mobileVerified){
                  alert('Invalid OTP, please try again');
                }
              });
        },
        verifyEmail: function (event) {
          var self = this;
          self.$.syndicationService
          .getEmailAddressDetails(self.$.emailAddress.value)
          .done( function(data){
            self.emailVerified = data.result === 'deliverable';
            self.emailHunterScore = data.score;

            if(!self.emailVerified){
              alert('Email address you provided does not appear to be valid, please provide a valid deliverable email address.')
            }
          });
        },
        runTests: function(){

            var payload =  {

              "RootParameter" :
                {
                  "AgeVerify" : {
                    "DateOfBirth" : this.$.dateOfBirth.value
                  },
                  "CityVerify" : {
                    "City": this.$.addressCity.value
                  },
                  "IncomeVerify": {
                    "Income": this.$.income.value
                  },
                  "LoanAmountVerify":{
                    "LoanAmount": this.$.requestedLoanAmount.value
                  },
                  "EmpTypeVerify": {
                    "EmpType": "salaried"
                  },
                  "EMIToIncome": {
                    "SelfEMI": this.$.monthlyHomeEMI.value,
                    "Income": this.$.income.value
                  },
                  "CCToIncome": {
                    "SelfBalance": this.$.ccBalance.value,
                    "Income": this.$.income.value
                  },
                  "AgeGreaterThan58": {
                    "DateOfBirth" : this.$.dateOfBirth.value
                  },
                  "PAN4thLetter": {
                    "PAN": this.$.panCard.value
                  },
                  "PAN5thLetter": {
                    "PAN": this.$.panCard.value,
                    "FirstName": this.$.firstName.value,
  				          "LastName": this.$.lastName.value
                  }
                }
            };
            this.runEligibilityCheck(payload);
            this.runRejectCriteria(payload);
        },
        runRejectCriteria: function(payload){

          var self = this;
          self.$.rulesEngineService
                .getRuleDetails('RejectCriteria')
                .done(function (ruleDetails) {
                   self.$.rulesEngineService
                         .execute(ruleDetails[0].id, payload.RootParameter)
                         .done(function (result) {
                           self.rejectCriteriaResponse = result;
                           self.rejectCriteria =    self.$.rulesEngineService
                                    .reduceRuleResult(result, function(a, b){ return a || b; }, false);
                         });
                });

        },
        runEligibilityCheck: function(payload){

          var self = this;
          self.$.rulesEngineService
                .getRuleDetails('EligibilityCheck')
                .done(function (ruleDetails) {
                   self.$.rulesEngineService
                         .execute(ruleDetails[0].id, payload.RootParameter)
                         .done(function (result) {
                           self.eligibilityCheckResponse = result;
                           self.eligibilityCheck = self.$.rulesEngineService
                                    .reduceRuleResult(result, function(a, b){ return a && b; }, true);
                         });
                });

        },
        properties: {
          otpRefId: {
            type: String,
            value: '',
            notify: true
          },
          mobileVerified: {
            type: Boolean,
            value: false,
            notify: true
          },
          emailHunterScore: {
            type: Number,
            value: 0,
            notify: true
          },
          hideGenerateOTPButton: {
            type: Boolean,
            value: false,
            notify: true
          },
          hideOptBox: {
            type: Boolean,
            value: true,
            notify: true
          },
          emailVerified: {
            type: Boolean,
            value: false,
            notify: true
          },
          eligibilityCheck: {
            type: Boolean,
            value: false,
            notify: true
          },
          rejectCriteria: {
            type: Boolean,
            value: false,
            notify: true
          },
          rejectCriteriaResponse: {
            type: Object,
            value: {},
            notify: true
          },eligibilityCheckResponse: {
            type: Object,
            value: {},
            notify: true
          }

        }
      });
    })();
  </script>
</dom-module>
