<dom-module id="button-primary">
<template>
    <button
        class$="{{ getClass(block, xs, mT, mR) }}"
        disabled$="{{ disabled }}">
        <content></content>
    </button>
    <style>

        .btn {
            height: 3em;
            line-height: 28px;
        }

        .btn.m-r {
            margin-right: 15px;
        }

        .btn-primary,
        .btn-primary:active,
        .btn-primary:focus,
        .btn-primary:hover,
        .btn-primary:hover:active,
        .btn-primary:active:focus {
            background-color: #03426b;
            color: #fff !important;
            border-color: #03426b;
        }
        .btn-primary[disabled]:hover,
        .btn-primary[disabled] {
            background-color: #999999;
            color: #fff !important;
            border-color: #999999;
        }
        .btn-xs {
            height: 22px;
            line-height: 18px;
        }
    </style>
</template>
<script>
    Polymer({
        is: "button-primary",

        properties: {
            // Unresponsive behavior and styling
            disabled: {
                value: false,
                type: Boolean
            },

            // Display block
            block: {
                value: false,
                type: Boolean
            },

            // Extra small button
            xs: {
                value: false,
                type: Boolean
            },

            // margin-top: 15px
            mT: {
                value: false,
                type: Boolean
            },

            mR: {
                value: false,
                type: Boolean
            }
        },

        getClass: function(block, xs,  mT, mR) {
            var style = ["btn", "btn-primary"];

            if (this.block) { style.push("btn-block"); }
            if (this.xs) { style.push("btn-xs"); }
            if (this.mT) { style.push("m-t"); }
            if (this.mR) { style.push("m-r"); }

            return style.join(" ");
        }
    });
</script>
</dom-module>