<dom-module id="button-secondary">
<template>
    <span
        class$="{{ getClass(block, xs) }}"><content></content></span>
    <style>
        :host {
            display: inline-block;
        }
        .inline-button {
            height: 3em;
            line-height: 28px;
            width: 100%;
        }
        .btn-secondary,
        .btn-secondary:active,
        .btn-secondary:focus,
        .btn-secondary:hover,
        .btn-secondary:hover:active,
        .btn-secondary:active:focus {
            background-color: #73b143;
            color: #fff !important;
            border-color: #73b143;
        }
        .btn-xs {
            height: 22px;
            line-height: 18px;
        }
    </style>
</template>
<script>
    Polymer({
        is: "button-secondary",
        properties: {
            block: {
                value: false,
                type: Boolean
            },
            xs: {
                value: false,
                type: Boolean
            }
        },
        getClass: function(block, xs) {
            var style = ["btn", "btn-secondary", "inline-button"];
            if (block) {
                style.push("btn-block");
            }
            if (xs) {
                style.push("btn-xs");
            }
            return style.join(" ");
        }
    });
</script>
</dom-module>