<dom-module id="color-status">
     <template>
    <style>
    .entity-status, .status {

    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 13px;
    padding: 3px 5px;
    vertical-align: top;
    text-align: center;
    width: 80px;
    float:left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entity-status-red, .status-red {
    background: #f27272;
}

.entity-status-blue, .status-blue {
    background: #10ADF5;
}

.entity-status-grn, .status-grn {
    background : #008000;
}
    </style>
   
        <span as="displayText" class$="{{ _computeClass(displayText) }}">{{displayText}}</span>     
    </template>
    <script>
        Polymer({
            is: "color-status",
              properties: {
                displayText: {
                    type: String,
                    notify: true
                },
                greenStatusList:
                {
                    type:Array,
                    notify:false,
                    value : ["Passed","Completed"]
                },
                 redStatusList:
                {
                    type:Array,
                    notify:false,
                    value : ["Failed"]
                }               
              },                   
              _computeClass : function(displayText)
              {
                 var self = this; 
                  var applyCSS =  '';                             
                  if(self.greenStatusList.indexOf(displayText) > -1)
                  {
                      applyCSS ='entity-status entity-status-grn';
                  }
                  else if(self.redStatusList.indexOf(displayText) > -1)
                  {
                      applyCSS ='entity-status entity-status-red';
                  }
                  return applyCSS;
              }
        });
    </script>
</dom-module>