<html-import html-href="services/utility-service.html"></html-import>
<html-import html-href="services/workflow-service.html"></html-import>
<html-import html-href="progress-bar/index.html"></html-import>
<dom-module id="update-employment">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                    <dynamic-form form-configuration={{perEmpDetailObj}} values="{{perEmpDetailObj.values}}"></dynamic-form><br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <workflow-service id="workflow"></workflow-service>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "update-employment",
            properties: {
                employmentDetail: {
                    type: Object,
                    notify: true,
                    value: {}
                },
                perEmpDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            Name: {
                                title: "Company Name",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            Designation: {
                                title: "Designation",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            LengthOfEmploymentInMonths: {
                                title: "Total Work Experience",
                                type: "dropdown",
                                selectList: [
                                    { key: '0', value: 'Less than 1 year' },
                                    { key: '2', value: '2 years' },
                                    { key: '3', value: '3 years' },
                                    { key: '4', value: '4 years' },
                                    { key: '5', value: '5 years' },
                                    { key: '6', value: '6 years' },
                                    { key: '7', value: '7 years' },
                                    { key: '8', value: '8 years' },
                                    { key: '9', value: '9 years' },
                                    { key: '10', value: 'More than 9 years' }
                                ],
                                selectedValue: ""
                            },
                            WorkEmail: {
                                title: "Work Email",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            Income: {
                                title: "Monthly Income",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            AddressLine1: {
                                title: "AddressLine 1",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 1,
                                    maxLen: 64
                                }
                            },
                            PinCode: {
                                title: "Pin Code",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 1,
                                    maxLen: 6
                                }
                            },
                            City: {
                                title: "City",
                                type: "combobox",
                                selectList: [],
                                label: "value",
                                labelValue: "key",
                                validations: {
                                    required: true
                                }
                            },
                            State: {
                                title: "State",
                                type: "textbox",
                                validations: {
                                    required: true,
                                    minLen: 1,
                                    maxLen: 16
                                }
                            }
                        },
                        values: {
                            Name: "",
                            Designation: "",
                            LengthOfEmploymentInMonths: "",
                            WorkEmail: "",
                            Income: 0,
                            CinNumber: "",
                            AddressLine1: "",
                            City: "",
                            State: "",
                            PinCode: "",
                        }
                    }
                }
            },
            _makingPostObject: function () {
                return {
                    EmploymentId: '',
                    Designation: '',
                    LengthOfEmploymentInMonths: '',
                    Name: '',
                    WorkEmail: '',
                    WorkPhoneNumbers: '',
                    Addresses: [{
                        AddressId: '',
                        AddressLine1: '',
                        AddressLine2: '',
                        AddressLine3: '',
                        AddressLine4: '',
                        LandMark: '',
                        Location: '',
                        City: '',
                        State: '',
                        PinCode: '',
                        Country: '',
                        AddressType: '',
                        IsDefault: ''
                    }],
                    IncomeInformation: {
                        Income: '',
                        PaymentFrequency: ''
                    },
                    AsOfDate: '',
                    EmploymentStatus: '',
                    CinNumber: ''
                }
            },
            _toSmallFirstLtr: function (str) {
                var res = str.charAt(0).toLowerCase() + str.slice(1);
                return res;
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _getEmploymentData: function () {
                var self = this;
                var url = "/" + self.applicationNumber;
                var applicationDetail = window.config.services.applicationDetail;
                self.$.http.get(url, applicationDetail).then(function (data) {
                    if (!self._checkIfNullObject(data.employmentDetail)) {
                        self.employmentDetail = data.employmentDetail;
                        self.perEmpDetailObj.values["Name"] = data.employmentDetail.name;
                        self.perEmpDetailObj.values["Designation"] = data.employmentDetail.designation;
                        var exp = data.employmentDetail.lengthOfEmploymentInMonths;
                        if (exp != undefined && exp != null) {
                            exp = (exp / 12);
                        }
                        self.perEmpDetailObj.controls.LengthOfEmploymentInMonths.selectedValue = exp;
                        self.perEmpDetailObj.values["WorkEmail"] = data.employmentDetail.workEmail;
                        self.perEmpDetailObj.values["Income"] = data.employmentDetail.incomeInformation.income;
                        self.perEmpDetailObj.values["PaymentFrequency"] = data.employmentDetail.incomeInformation.paymentFrequency;
                        self.perEmpDetailObj.values["EmploymentStatus"] = data.employmentDetail.employmentStatus;
                        self.perEmpDetailObj.values["CinNumber"] = data.employmentDetail.cinNumber;

                        if (!self._checkIfNullObject(data.employmentDetail.addresses)) {
                            self._fetchPinCodeDetails(data.employmentDetail.addresses[0].pinCode);
                            self.perEmpDetailObj.values["AddressLine1"] = data.employmentDetail.addresses[0].addressLine1;
                            self.perEmpDetailObj.values["City"] = (data.employmentDetail.addresses[0].city).toLowerCase();
                            self.perEmpDetailObj.values["State"] = data.employmentDetail.addresses[0].state;
                            self.perEmpDetailObj.values["PinCode"] = data.employmentDetail.addresses[0].pinCode;
                        }
                        self.set('perEmpDetailObj', $.extend({}, self.perEmpDetailObj));
                    }
                    self.set('employmentDetail', $.extend({}, self.employmentDetail));
                }).fail(function (e) {
                    console.log("_getEmploymentData error is " + e);
                });
            },
            _verifyForm: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement;
                var offerEngine = window.config.services.offerEngine;
                var url = "/application/" + self.applicationNumber + "/employmentDetail";
                if (form.validate()) {
                    var ResultObj = self._makingPostObject();
                    for (var attrname in ResultObj) {
                        if (attrname == 'IncomeInformation') {
                            for (var subattrname in ResultObj[attrname]) {
                                ResultObj.IncomeInformation[subattrname] = self.employmentDetail.incomeInformation[self._toSmallFirstLtr(subattrname)];
                            }
                        }
                        else if (attrname == 'Addresses') {
                            for (var subattrname in ResultObj[attrname][0]) {
                                ResultObj.Addresses[0][subattrname] = self.employmentDetail.addresses[0][self._toSmallFirstLtr(subattrname)];
                            }
                        }
                        else {
                            ResultObj[attrname] = self.employmentDetail[self._toSmallFirstLtr(attrname)];
                        }
                    }
                    var SelectedExp = self.perEmpDetailObj.controls.LengthOfEmploymentInMonths.selectedValue
                    ResultObj.Name = self.perEmpDetailObj.values["Name"];
                    ResultObj.Designation = self.perEmpDetailObj.values["Designation"];
                    ResultObj.LengthOfEmploymentInMonths = (SelectedExp * 12);
                    ResultObj.WorkEmail = self.perEmpDetailObj.values["WorkEmail"];
                    ResultObj.IncomeInformation.Income = self.perEmpDetailObj.values["Income"];
                    ResultObj.IncomeInformation.PaymentFrequency = self.perEmpDetailObj.values["PaymentFrequency"]
                    ResultObj.EmploymentStatus = self.perEmpDetailObj.values["EmploymentStatus"];
                    ResultObj.CinNumber = self.perEmpDetailObj.values["CinNumber"];
                    ResultObj.Addresses[0].AddressLine1 = self.perEmpDetailObj.values["AddressLine1"];
                    ResultObj.Addresses[0].City = self.perEmpDetailObj.values["City"];
                    ResultObj.Addresses[0].State = self.perEmpDetailObj.values["State"];
                    ResultObj.Addresses[0].PinCode = self.perEmpDetailObj.values["PinCode"];

                    self.$.http.put(url, ResultObj, offerEngine).then(function (result) {
                        //For hide Div after Update Detail
                        $(event.target).parents().find('update-employment').parent().hide();
                        //To get list of LoanActivity template and then display block for all Div.
                        var listOfParentelements = $("loan-activity");
                        for (i = 0; i < listOfParentelements.length; i++) {
                            $(listOfParentelements[i]).children().first().show();
                        }
                        self.raiseAppRefreshEvent();
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            _convertListToObjectList: function (array) {
                var tempList = [];
                for (var i = 0; i < array.length; i++) {
                    tempList.push({ key: array[i], value: array[i] });
                }
                return tempList;
            },
            _fetchPinCodeDetails: function (pinCode) {
                var self = this;
                self.$.workflow.execute('on-boarding', 'lookup', 'pincode-details', { "pincode": pinCode }).then(function (result) {
                    if (result != undefined) {
                        self.perEmpDetailObj.values["State"] = result.state;
                        self.perEmpDetailObj.controls.City.selectList = self._convertListToObjectList(result.cities);
                        self.set('perEmpDetailObj', $.extend({}, self.perEmpDetailObj));
                    }
                });
            },
            _pincodeChanged: function () {
                var self = this;
                $("input[name='PinCode']").change(function () {
                    var _this = $(this);
                    if (!self._checkIfNullObject(self.employmentDetail.addresses) && self.employmentDetail.addresses[0].pinCode !== _this.val()) {
                        self.perEmpDetailObj.values["City"] = "";
                        self._fetchPinCodeDetails(_this.val());
                    }
                });
            },
            init: function () {
                var self = this;
                setTimeout(function () {
                    self._pincodeChanged();
                }, 1000);
            },
            attached: function () {
                var self = this;
                this._getEmploymentData();
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            }
        });
    </script>
</dom-module>