<dom-module id="step-complete-activity">
    <style>
    </style>
    <template>
    </template>
    <script>
        Polymer({
            is: "step-complete-activity",
            behaviors:[eventHub, workflowActivityBehavior],
            execute: function() {
            }
            
        });
    </script>
</dom-module>