<dom-module id="sidebar-menu">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
      }
      span,
      input {
        @apply(--paper-font-body2);
      }


      /*sidebar menu*/
    ul.sidebar-menu{
        margin: 0;
    	margin-top: 60px;
        padding: 0;
    }
    ul.sidebar-menu li{
        line-height: 20px !important;

    }
    ul.sidebar-menu li a span{
        display: inline-block;
    }

    ul.sidebar-menu li a{
        color: #d0d8df;
        text-decoration: none;
        display: block;
        padding: 15px 0 15px 10px;
        font-size: 13px;
        font-weight: 300;
        outline: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    ul.sidebar-menu li.active a,
    ul.sidebar-menu li a:hover,
    ul.sidebar-menu li a:focus {
        background: #2e3b46;
        color: #fff;
        display: block;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    ul.sidebar-menu li a i {
        font-size: 16px;
        padding-right: 6px;
    }

    ul.sidebar-menu li a:hover i,
    ul.sidebar-menu li a:focus i {
        color: #fff;
    }

    ul.sidebar-menu li.active a i {
        color: #fff;
    }

    </style>



    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li class="active">
          <a href="#">
              <i class="fa fa-home"></i>
              <span>CSR</span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fa fa-file-text-o"></i>
              <span>Underwriter</span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fa fa-eye-slash"></i>
              <span>Fraud Review</span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fa fa-search"></i>
              <span>Physical Verification</span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fa fa-cube"></i>
              <span>Fullfilment</span>
          </a>

      </li>
      <li>
          <a href="#">
              <i class="fa fa-ban"></i>
              <span>Declined</span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fa fa-check-square-o"></i>
              <span>Approved</span>
          </a>
      </li>
    </ul>
    <!-- sidebar menu end-->





  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'sidebar-menu'
      });
    })();
  </script>
</dom-module>
