<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="ui-elements/sk-wave.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="reset-password">
    <style>
        :host {
            position: relative;
        }
        #login-icon {
            margin-top: 0;
        }
    </style>
    <template>
        <div hidden$="{{resetSuccess}}">
            <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
            <div class="animated fadeInDown">
                <h2 id="login-icon">Reset Password</h2>
                <div class="form-group">
                    <input id="username" type="text" placeholder="Username" class="form-control" value="{{username::input}}">
                </div>
                <div class="form-group">
                    <input id="newPassword" type="password" class="form-control" placeholder="New Password" value="{{newPassword::input}}">
                </div>
                <div class="form-group">
                    <input id="verifyPassword" type="password" class="form-control" placeholder="Re-type Password" value="{{verifyPassword::input}}">
                </div>
                <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
                <button hidden$="{{spin}}" class="btn btn-primary block full-width m-b" on-click="resetPassword">Reset Password</button>
            </div>
        </div>
        <div hidden$="{{!resetSuccess}}">
            <div class="alert alert-success">Password Reset</div>
            <button class="btn btn-primary block full-width m-b" on-click="goToLogin">Continue to Login</button>
        </div>
        <event-hub id="hub"></event-hub>
        <identity-service id="identity"></identity-service>
    </template>
    <script>
        Polymer({
            is: "reset-password",
            properties: {
                passToken: {
                    type: String,
                    notify: true
                }
            },
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.hasError = false;
                self.resetSuccess = false;
                self.spin = false;
                
                self.username = "";
                self.newPassword = "";
                self.verifyPassword = "";
                
                self.token = window.location.search.split('=')[1];

                return function() {
                    $(self.$.username).on("keydown", function(e) {
                        if (e.which === 13) {
                            $(self.$.newPassword).focus();
                        }
                    });
                    $(self.$.newPassword).on("keydown", function(e) {
                        if (e.which === 13) {
                            $(self.$.verifyPassword).focus();
                        }
                    });
                    $(self.$.verifyPassword).on("keydown", function(e) {
                        if (e.which === 13) {
                            self.resetPassword();
                        }
                    });
                }
            },
            resetPassword: function() {
                var self = this;
                
                var $inputs = $("input", self)
                $inputs.removeClass("error");
                for (var i = 0; i < $inputs.length; i++) {
                    var input = $inputs[i];
                    if (input.value === "") {
                        $(input).addClass("error");
                        return self.setErrorMessage("Fields must be filled out");
                    }
                }
                
                if (self.newPassword !== self.verifyPassword) {
                    return self.setErrorMessage("Passwords do not match");
                }
                
                self.spin = true;
                
                self.$.identity.resetPassword(self.username, self.newPassword, self.token)
                .done(function() {
                    self.spin = false;
                    self.resetSuccess = true;
                })
                .fail(function(err) {
                    self.spin = false;
                    self.setErrorMessage(err.statusText);
                })
            },
            goToLogin: function() {
                window.location = window.config.login + "#components-security-login"
            },
            setErrorMessage: function(message) {
                this.hasError = true;
                this.$["error-message"].innerHTML = message;
            }
        })
    </script>
</dom-module>