<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<style>
    .payments-tab.wrapper {
        padding: 20px;
        padding-right: 20px !important;
    }
    .header {
        margin-bottom: 10px;
    }
    .btn.selected {
        background-color: #88bf40;
        border: 1px #88bf40 solid;
    }
    .btn.selected:hover:active {
        color: white;
        background-color: #578C11;
        border-color: #4D7B0F;
    }
    #table-search {
        width: 250px;
    }
    .header .input-group {
        width: 1px;
    }
    .inline-block {
        display: inline-block;
    }
    #length-selector {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }
    label {
        font-weight: normal;
    }
    .table .tag, .tags {
        margin-right: 10px;
        margin-bottom: 5px;
    }
    tr td:nth-of-type(6) {
        text-align: center;
    }
    #options {
        padding-right: 20px;
    }
    .margin-bottom {
        margin-bottom: 10px;
    }
    .pagination {
        float: right;
        margin-top: 0;
    }
    .dataTables_info, .dataTables_paginate {
        display: inline-block;
    }
    .text-center {
        text-align: center;
    }
</style>
<dom-module id="alloy-table">
    <template>
        <div class="wrapper">
            <div class="header">
                <div class="row margin-bottom">
                    <div class="col-sm-12">
                        <span class="header-left">
                            <label>
                                <select name="table_length" id="length-selector" class="form-control">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> <span>{{tableConfig.pageLabel}}</span> per page
                            </label>
                        </span>
                        <span class="pull-right">
                            <div class="inline-block">
                                <div class="input-group">
                                    <input type="text" id="table-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </span>
                        <template is="dom-if" if="{{tableConfig.options.values}}">
                            <span id="options" class="pull-right">
                                <select class="form-control" on-change="changeOption">
                                        <option value="all">All</option>
                                    <template is="dom-repeat" items="{{tableConfig.options.values}}" as="option">
                                        <option value="{{option}}">{{option}}</option>
                                    </template>
                                </select>
                            </span>
                        </template>
                    </div>
                </div>
                <template is="dom-if" if="{{tableConfig.tags.values}}">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="header-left">
                                <span class="tags">
                                        <span id="show-all" class="btn btn-xs btn-default selected" on-click="tagClick">All</span>
                                        <template is="dom-repeat" items="{{tableConfig.tags.values}}" as="tag">
                                            <span class="btn btn-xs btn-default tag" on-click="tagClick">{{tag}}</span>
                                        </template>
                                </span>
                            </span>
                        </div>
                    </div>
                </template>
            </div>
            
            <table id="alloy-table" class="table hover issue-tracker" width="100%">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "alloy-table",
            observers: [
                "initializeDataTable(tableConfig)"
            ],
            properties: {
                // {
                //     columns: columns,
                //     columnDefs: columnDefs,
                //     data: data,
                //     addClickHandling: self.addClickHandling,
                //     pageLabel: "applications",
                //     tags: {
                //         column: 2,
                //         values: ['Completed', 'Pending']
                //     }
                // };
                tableConfig: {
                    type: Object
                }
            },
            initializeDataTable: function(configuration) {
                var self = this;

                if (!configuration) { return };

                var table = self.table = $("#alloy-table", self).DataTable({
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    //Set Data
                    // [
                    //     [
                    //         "Bank of America",
                    //         "$120,746.00",
                    //         "$24,558.00"
                    //     ]
                    // ]
                    data: configuration.data,
                    // [
                    //     { title: "Bank" },
                    //     { title: "Beginning Balance" }
                    // ]
                    columns: configuration.columns,
                    // [
                    //     {
                    //         targets: [8],
                    //         orderable: false,
                    //         render: function(data, type, rowData, meta) {
                    //             return "<span class=\"btn btn-primary btn-xs detail-btn\">Details</span>"
                    //         }
                    //     }
                    // ]
                    columnDefs: configuration.columnDefs
                });

                if (typeof configuration.addClickHandling === "function") {
                    table.on('draw.dt', function () {
                        configuration.addClickHandling.call(self);
                    });
                    configuration.addClickHandling.call(self);
                }
                
                // Create and render buttons
                new $.fn.dataTable.Buttons( table, {
                    buttons: ['copyHtml5', 'csvHtml5',
                        {
                            extend: 'excelHtml5',
                            title: 'payments',
                            extension: '.xlsx'
                        }, 'pdfHtml5', 'print'
                    ]
                })    
                
                // Custom Length Selector
                $(this.$["length-selector"]).on("change", function() {
                    table.page.len(this.value).draw();
                })
                // Custom search
                $(this.$["table-search"]).on('input', function() {
                    table.search(this.value).draw();
                });
            },
            getData: function(row) {
                return this.table.row(row).data();
            },
            tagClick: function(e) {
                var self = this;
                var tab = e.target;
                var tabText = $(tab).text();

                if (tab.id === "show-all" || $(tab).hasClass("selected")) {
                    this.selectAllTag();
                    return;
                }

                self.removeSelectedTagsFromTable();
                self.table.columns(self.tableConfig.tags.column).search(tabText).draw();
                $(tab).addClass("selected");
                self.colorTableTags(tabText);
            },
            selectAllTag: function() {
                this.removeSelectedTagsFromTable();
                this.table.columns().search('').draw();
                $("#show-all", this).addClass("selected");
                $(".btn", this.$["alloy-table"]).each(function() {
                    $(this).removeClass("selected");
                });
            },
            removeSelectedTagsFromTable: function() {
                $(".tags span, #alloy-table .tag", this).each(function() {
                    $(this).removeClass("selected");
                });
            },
            changeOption: function(e) {
                var option = $(e.target).val();
                if (option === "all") {
                    this.table.columns().search('').draw();
                    return;    
                }
                this.table.columns(this.tableConfig.options.column).search(option.toLowerCase()).draw();
            },
            formatDate: function(date) {
                return this.$.format.formatDate(date);
            },
            capitalize: function(string) {
                return this.$.format.capitalize(string);
            },
            formatMoney : function(value){
                if(typeof(value) != Number)
                    value = new Number(value);
                return value.formatMoney(2);
            },
            reloadWithData: function(data) {
                this.table.clear();
                var header = $(".header", this)[0];
                var selectedText = $(".tag.selected", header).text();
                this.table.rows.add(data).draw();
                this.colorTableTags(selectedText);
            },
            colorTableTags: function(text) {
                if (!text) { return }
                $(".btn:contains('" + text + "')", this.$["alloy-table"]).each(function() {
                    $(this).addClass("selected");
                });
            }
        })
    </script>
</dom-module>