<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="update-email">
    <template>
         <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                    <dynamic-form form-configuration={{perEmailObj}} values="{{perEmailObj.values}}"></dynamic-form><br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
         <http-request id="http"></http-request>
         <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "update-email",
            properties: {
                emailDetail: {
                    type: Object,
                    notify: true
                },
                perEmailObj : {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "email": {
                                "title": "Personal Email",
                                "type": "email",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            }
                        },
                    values: {
                        email: ""
                        }
                    }
                }
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },_getPerEmailData : function() {
                var self = this;
                var url = "/" + self.applicationNumber;
                var applicationDetail = window.config.services.applicationDetail;
                self.$.http.get(url, applicationDetail).then(function (data) {
                    self.emailDetail = {};
                    if(!self._checkIfNullObject(data.emailAddress)){
                        self.emailDetail.id = data.emailAddress.id;
                        self.emailDetail.emailType = data.emailAddress.emailType;
                        self.emailDetail.email = data.emailAddress.email;
                        self.emailDetail.isDefault = data.emailAddress.isDefault;
                        self.perEmailObj.values["email"] = data.emailAddress.email;
                        self.set('perEmailObj', $.extend({},self.perEmailObj));
                    }else
                    {
                        self.emailDetail.id = "";
                        self.emailDetail.emailType = "";
                        self.emailDetail.email = "";
                        self.emailDetail.isDefault = "";
                    }
                    self.set('emailDetail', $.extend({},self.emailDetail));

                    }).fail(function (e) {
                        console.log("_getIncomeExpenseData error is " + e);
                });
            },
            _verifyForm: function (event){
                event.preventDefault();
                var self = this;
                var perEmailObj = self.perEmailObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var offerEngine = window.config.services.offerEngine;
                var url = "/application/" + self.applicationNumber + "/emailAddress";
                if(form.validate()){
                    //assign value from UI to emailDetail object
                    self.emailDetail.email = self.perEmailObj.values["email"];
                    self.$.http.put(url,self.emailDetail, offerEngine).then(function (result) {
                        console.log(result);
                        //For hide Div after Update Detail
                        $(event.target).parents().find('update-email').parent().hide();
                        //To get list of LoanActivity template and then display block for all Div.
                        var listOfParentelements = $("loan-activity");
                            for (i = 0; i < listOfParentelements.length; i++) {
                                $(listOfParentelements[i]).children().first().show();
                            }
                            self.raiseAppRefreshEvent();
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            attached: function () {
               this._getPerEmailData();
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>