<html-import html-href="ui-elements/inputs/dropdown-input.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/utility-service.html"></html-import>

<script src="https://npmcdn.com/redux@latest/dist/redux.min.js"></script>
<dom-module id="log-application-activity">
  <style>
  .form-control {
    padding:0px !important;
  },
  .activitylog-toast{
    max-width: 536px !important;
    position:static !important;
    margint-bottom:15px;
  }

  </style>
    <template>

        <div id="error-message" class="alert alert-danger" hidden$="{{ !state.error }}">{{ state.errorMessage }}</div>
        <div id="toastContainer">
            <paper-toast id="toast" class="fit-bottom activitylog-toast"  duration="2000" text="Notes/Activity submitted successfully!"></paper-toast>
        </div>
        <div class="form-group">
            <dropdown-input id="activity-list" list-options="{{ state.activities }}"></dropdown-input>
        </div>

        <h4><b>Notes</b></h4>
        <div class="form-group">
            <textarea id="notes" rows="6" form="ach-form" class="form-control" value="{{ state.formData.notes }}" on-input="setNotes"></textarea>
        </div>


        <button id="submit" type="button" class="btn btn-primary" on-click="submitForm">
          <template is="dom-if" if="{{ !savingActivity}}">
             Submit
          </template>
          <template is="dom-if" if="{{ savingActivity }}">
             Submitting ...
          </template>
       </button>
        or <span><a href="javascript:;" on-click="resetForm">Cancel</a></span>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
        <workflow-service id="workflow"></workflow-service>
        <utility-service id="utility"></utility-service>
    </template>
  <script>
      (function() {
          var component; // This component
          var store; // Redux Store
          var http; // HTTP request component
          var hub; // Eventhub component
          var initialState; // Initial State

          function reducer(state, action) {
              switch (action.type) {
                  case "SET_APPLICATION_NUMBER":
                      state.applicationNumber = action.applicationNumber;
                      return state;
                  case "SET_ACTIVITIES":
                      state.activities = action.activities;
                      return state;

                  case "SET_SELECTED_ACTIVITY":
                      state.selectedActivity = action.activity;
                      return state;

                  case "RESET_FORM":
                      state.errorMessage = "";
                      state.error = false;
                      state.formData = {
                          notes: ""
                      };
                      state.selectedActivity = null;
                      return state;

                  case "SET_ERROR_MESSAGE":
                      state.error = true;
                      state.errorMessage = action.message;
                      return state;

                  case "REMOVE_ERROR_MESSAGE":
                      state.error = false;
                      state.errorMessage = action.message;
                      return state;

                  case "SET_NOTES":
                      state.formData.notes = action.notes;
                      return state;

                  case "SUBMIT_FORM":
                      state.submitCount++;
                      state.isSubmitting = true;
                      return state;

                  case "SUBMIT_FORM_SUCCESS":
                      state.error = false;
                      state.isSubmitting = false;
                      return state;

                  case "SUBMIT_FORM_FAILURE":
                      state.error = true;
                      state.isSubmitting = false;
                      return state;

                  default:
                      return state;
              }
          }

          initialState = {
              errorMessage: "",
              error: false,
              isSubmitting: false,
              selectedActivity: "",
              activites: null,
              submitCount: 0,
              applicationNumber: null,
              formData: {
                  notes: ""
              }
          }
          /**
           * Reducer function
           * Initial State
           * Hook for chrome react dev tools
           */
          store = Redux.createStore(reducer, initialState, window.devToolsExtension ? window.devToolsExtension() : undefined);

          Polymer({
            is : "log-application-activity",
            properties:{
                applicationNumber : String,
                savingActivity:{
                  type:Boolean,
                  notify:true,
                  value:false
                }
            },
            observers: [
                // Set Loan Reference to Redux store
                "setApplicationNumber(applicationNumber)"
            ],
            ready: function() {
                // Share components with Redux store
                var self = component = this;
                http = self.$.http;
                hub = self.$.hub;

                // Listen to events from children
                self.listen(self.$["activity-list"], "SET_SELECTED_OPTION", "setSelectedActivity");

                // Set new state on store dispatch
                store.subscribe(function() {
                    var nextState = JSON.parse(JSON.stringify(store.getState()));
                    self.set("state", nextState);
                });

                self.getActivities();
            },

            detached: function() {
                this.resetForm();
            },

            resetApp: function() {
                this.resetForm();
            },

            validate: function(state) {
                if (!state.selectedActivity) {
                    store.dispatch({
                        type: "SET_ERROR_MESSAGE",
                        message: "Activity must be selected."
                    });
                    return false;
                }

                if (!state.formData.notes.length) {
                    store.dispatch({
                        type: "SET_ERROR_MESSAGE",
                        message: "Notes field must be filled out."
                    });
                    return false;
                }
                return true;
            },
            submitForm: function() {

                var self = this;
                self.set("savingActivity",true);
                var state = store.getState();

                if (!self.validate(state)) {
                    return;
                }
                //remove error messages if any.
                store.dispatch({
                    type: "REMOVE_ERROR_MESSAGE",
                    message: "Notes field must be filled out."
                });

                var request = {
                    event: "ApplicationActivityLogged",
                    payload: {
                        Description: state.formData.notes,
                        ApplicationNumber: state.applicationNumber,
                        Title:state.selectedActivity
                    }
                };

                var payload= {
                    Description: state.formData.notes,
                    ApplicationNumber: state.applicationNumber,
                    Title:state.selectedActivity
                };

                var self = this;

                var eventHub = window.config.services.eventHub;
                var activityEndPoint="/ApplicationActivityLogged"
                self.$.http.post(activityEndPoint, payload, eventHub).then(function (data) {
                  self.$.toast.fitInto = self.$.toastContainer;
                  $("#toastContainer").show();
                  self.$.toast.open();
                  self.resetForm();

                  store.dispatch({
                      type: "SUBMIT_FORM_SUCCESS"
                  });

                  self.set("savingActivity",false);

                  setTimeout(function(){
                   self.$.toast.close();
                   $("#toastContainer").hide();
                   self.raiseAppRefreshEvent();
                 },1500);
                }).fail(function (error){
                  var errorMessage;
                  if (error && error.responseJSON && error.responseJSON.message) {
                      errorMessage = error.responseJSON.message;
                  }
                  errorMessage = "Error submitting request. Please try again or contact support.";

                  store.dispatch({
                      type: "SUBMIT_FORM_FAILURE"
                  });
                  store.dispatch({
                      type: "SET_ERROR_MESSAGE",
                      message: errorMessage
                  });
                  self.set("savingActivity",false);
                });
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            },
            setApplicationNumber: function(applicationNumber) {
                if (!applicationNumber) { return };
                store.dispatch({
                    type: "SET_APPLICATION_NUMBER",
                    applicationNumber: applicationNumber
                });
            },
            getActivities: function() {
                var self = this;
                var appProcessor = window.config.services.appProcessor;
                var url ="/status-management/"+self.applicationNumber+"/activities";
                self.$.http.get(url, appProcessor, function(activities) {
                    var options = [];
                    if(!activities) {
                      store.dispatch({
                          type: "SET_ACTIVITIES",
                          activities: options
                      });
                      return;
                    }
                    activities.forEach(function(option) {
                       options.push({
                           value: option.code,
                           text: option.title
                       })
                    });
                    store.dispatch({
                        type: "SET_ACTIVITIES",
                        activities: options
                    });
                });

            },

            resetForm: function() {
                this.$["activity-list"].resetSelectedOption();
                store.dispatch({
                    type: "RESET_FORM"
                });

            },
            setNotes: function(event) {
                store.dispatch({
                    type: "SET_NOTES",
                    notes: event.target.value
                });
            },
            setSelectedActivity: function(event, detail) {
                store.dispatch({
                    type: "SET_SELECTED_ACTIVITY",
                    activity: detail.option
                });
            }
        })
      })();
  </script>
</dom-module>
