<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="custom-email">
    <style>
      .sendEmailToast{
        max-width: 536px !important;
        position:static !important;
      }
      #closebtn {
        margin-bottom: 5px !important;
      }
      .padding{
        padding-top:8px;
      }
      paper-input {
        --paper-input-container-disabled: {
          opacity: 0.66;
        };
      }
    </style>
    <template>
      <http-request id="http"></http-request>
      <custom-modal id="sendEmail" class="modal-drop" on-modal-hidden="resetModal">
          <div>
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">Compose Email</h4>
                      </div>
                      <div class="modal-body">
                          <div><paper-input label="To" value="{{email}}"></paper-input></div>

                          <paper-input id="subject" label="Subject"></paper-input>
                          <div id="error-message" class="alert alert-danger" hidden$="{{validSubject}}">
                            Subject is required field.
                          </div>
                          <polymer-tinymce id="body"  menubar="false"
                            tinytoolbar="insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link"
                            tinyplugins='["template advlist autolink lists link image charmap print preview anchor","searchreplace visualblocks code fullscreen","insertdatetime media table contextmenu paste"]'
                            templates='[
                          {"title": "Some title 1", "description": "Some desc 1", "content": "My content"},
                          {"title": "Some title 2", "description": "Some desc 2", "url": "http://google.com"}]'
                          ></polymer-tinymce>
                          <div class="padding"></div>
                          <div id="error-message" class="alert alert-danger" hidden$="{{validBody}}">
                            Email Body is required.
                          </div>
                          <div id="toastContainer">
                              <paper-toast id="toast" class="fit-bottom sendEmailToast"  duration="2000" text="Email has been sent successfully!"></paper-toast>
                          </div>

                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary"  on-click="sendEmail">Send</button>
                          <button id="closebtn" type="button" class="btn btn-primary" on-click="cleanup" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </custom-modal>
      <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
          is : "custom-email",
          properties: {
            email: {
             type: String,
             notify: true
           },
           firstName:{
             type: String,
             notify: true
           },
           middleName:{
             type: String,
             notify: true
           },
           lastName:{
             type: String,
             notify: true
           },
           validSubject:{
             type:Boolean,
             notify:true,
             value:true
           },
           validBody:{
             type:Boolean,
             notify:true,
             value:true
           }
          },
          cleanup:function(){
            this.$.subject.value="";
            this.$.body.setContent("");
            this.cleanValidationMsg();
          },
          ready:function(){
            var self= this;
            console.log("custom-email ready is called");
            self.loadDataAttributes();
          },
          _fullName:function(){
            return this.firstName.concat(" "+this.middleName +" "+this.lastName);
          },
          loadDataAttributes: function () {
            var self = this;
            var url = "/application/" + self.applicationNumber;
            var dataAttributes = window.config.services.dataAttributes;
            self.$.http.get(url, dataAttributes).then(function (data) {
              self.set('email', data.application.applicantWorkEmail);
              self.set('firstName', data.application.contactFirstName);
              self.set('middleName', data.application.contactLastName);
              self.set('lastName', data.application.contactMiddleName);
            }).fail(function (e) {
              console.log("loadDataAttributes error is " + e);
            });
          },
          show:function(){
               this.$.sendEmail.showModal();
          },
          cleanValidationMsg:function(){
            this.validSubject = true;
            this.validBody = true;
          },
          validate:function(){
            var self = this;
            if(!self.$.subject.value || self.$.subject.value.length <= 0){
                self.validSubject=false;
            }else{
                self.validSubject=true;
            }
            if(!self.$.body.getContent() || self.$.body.getContent() <= 0){
                self.validBody=false;
            }else{
                self.validBody=true;
            }
            if(self.validSubject && self.validBody ){
                return true;
            }else{
                return false;
            }
          },
          sendEmail:function(){
            var emailService = window.config.services.emailSerivce;
            console.log("sendEmail is called");
            //http://192.168.1.59:5206/application/CE-0000045
            var self = this;
            if(!self.validate()){
              return;
            }
            var payload={
            	ToName : self._fullName(),
            	ToAddress : self.email,//self._extractEmailAddress(self.applicantDetail.emailAddresses),
            	Subject : self.$.subject.value,
            //Subject : "Back Office",
            	Body : self.$.body.getContent()
            };
            self.$.http.post( '/application/'+self.applicationNumber, payload, emailService).then(function (data) {
                console.log("email data is ", data);
                //self.$.toast3.center();
                self.$.toast.fitInto = self.$.sendEmail;
                $("#toastContainer").show();
                self.$.toast.open();//({text: 'Email has been sent successfully', duration: 0});
                function  hide(){
                  $("#toastContainer").hide();
                  self.$.sendEmail.hideModal();
                }
                setTimeout(function(){
                  hide();
                  self.cleanup();
                  self.raiseAppRefreshEvent();
                },500);
            }).fail(function (e) {
               self.cleanup();
                console.log("email error is "+e);
            });
          },
          raiseAppRefreshEvent: function() {
            this.$.utility.raiseEvent(this.fireEvent,{});
          }
      });
    </script>
</dom-module>
