<html-import html-href="behaviors/index.html"></html-import>
<html-import html-href="ui-elements/panel-primary.html"></html-import>
<html-import html-href="header/enrollment-layout-header.html"></html-import>
<html-import html-href="right-side/right-side.html"></html-import>
<html-import html-href="ui-elements/spinner-backdrop.html"></html-import>
<html-import html-href="services/http-request-promisified.html"></html-import>
<html-import html-href="services/format.html"></html-import>

<dom-module id="enrollment-layout">
    <template>
        <olark-chat></olark-chat>
        <style>
            #page-wrapper {
                margin-left: 0px;
            }

            .margin-bottom-15px {
                margin-bottom: 15px;
            }
        </style>
        <div class="app-host">
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <enrollment-layout-header></enrollment-layout-header>
                </div>
                <spinner-backdrop is-busy="{{ isBusy }}"></spinner-backdrop>
                <div class="row border-bottom white-bg dashboard-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <micro-app current-app></micro-app>
                            </div>
                            <div class="col-sm-4 hidden-xs">
                                <right-side></right-side>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: "enrollment-layout",

            behaviors: [eventHub],

            properties: {
                isBusy: {
                    value: false,
                    type: Boolean
                }
            },

            attached: function () {
                var self = this;

                this.subscribe(
                    "isBusy.changed",
                    _.throttle(function onBusyChanged(payload) {
                        self.set("isBusy", payload.isBusy);
                    }, 500));
            }
        });
    </script>
</dom-module>