<dom-module id="login-layout">
    <style>
        #app-shell {
            margin: 0;
            height: 100%;
            z-index: 20;
        }
        .center-box {
            display: flex;
            justify-content: center;
            height: 80%;
            flex-direction: column;
            margin: 0 auto;
        }
        img {
            margin: 0 auto;
        }
        micro-app {
            width: 20%;
            min-width: 335px;
            margin: 0 auto;
        }
    </style>
    <template>
        <div id="app-shell" class="text-center gray-bg">
            <div class="center-box">
                <img is="img-ext" src="/images/{{loginlogo.img}}" alt="{{loginlogo.alt}}">
                <micro-app current-app></micro-app>
            </div>
        </div>
        <alloy-config id="coreConfig" alloy-configuration="{{configuration}}"></alloy-config>
        <http-request id="http"></http-request>
    </template>
    <script>
        // {{url}}/#/securityLogin home page_ca.png
        Polymer({
            is: "login-layout",
            properties: {
                    loginlogo: {
                        type: Object,
                        notify: true,
                        value:{}
                    }
                },
                loadLogoconfigs: function () {
                    var self = this;
                    self.$.http.get("/" + window.configName + "/images-config", window.config.services.configuration)
                        .then(function (data) {
                            if (data.loginlogo) {
                                self.set('loginlogo', data.loginlogo);
                            }

                        }).fail(function (e) {
                            console.log("loadLogoconfigs error is ", e);
                        });
                },
                ready: function () {
                    var self = this;

                    if (window.jQuery) {
                        self.loadLogoconfigs();
                    } else {
                        window.addEventListener("WebComponentsReady", self.loadLogoconfigs());
                    }
                }
        });
    </script>
</dom-module>
