<dom-module id="assignment-service">
    <template>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "assignment-service",

            behaviors: [eventHub],

            properties: {
                baseUrl: {
                    value: window.config.services.assignment,
                    type: String
                }
            },

            attached: function () {
                this.publish(this.id + ".attached");
            },

            getAssignments: function (entityType, entityId) {
                var url = [entityType, entityId, "assignments"].join("/");
                return this.$.http.get(url, this.baseUrl);
            },

            claimEntityToMyself: function (entityType, entityId, role) {
                var url = [entityType, "LCUSA-0000817", "claim", role].join("/");
                return this.$.http.post(url , {}, this.baseUrl);
            },

            escalate: function (args) {
                var entityType = args.entityType;
                var entityId = args. entityId;
                var url = this.buildUrl(entityType, entityId, "escalate");
                return this.$.http.get(url, this.baseUrl, {
                    fromRole: args.role,
                    notes: args.notes
                });
            },

            buildUrl: function () {
                return Array.prototype.slice.call(arguments).join("/");
            },

            getEscalations: function (entityType, entityId) {
                var url = [entityType, entityId, "escalations"].join("/");
                return this.$.http.get(url, this.baseUrl);
            }

        });
    </script>
</dom-module>