<dom-module id="email-validation-service">
<template>
    <http-request id="http"></http-request>
</template>
<script>
    Polymer({
        is: "email-validation-service",

        properties: {
            baseUrl: {
                value: window.config.services.emailVerification
            }
        },

        validate: function(email) {
            var url = "";
            var baseUrl = this.baseUrl;
            // TODO remove email validation service mocking
            return Promise.resolve({verified: true});
            return Promise.resolve(this.$.http.post(url, { email: email },
                baseUrl));
        }
    });
</script>
</dom-module>