<dom-module id="alloy-format">
    <template>
    </template>
    <script>
        Polymer({
            is: "alloy-format",
            properties: {
                dateFormates: {
                    type: Object,
                    notify: true,
                    value: {
                        USA: {
                            dateFormatString: 'MM/DD/YYYY',
                            dateTimeFormatString: 'MM/DD/YYYY hh:mm:ss a'
                        }
                    }
                },
                currencySymbols: {
                    type: Object,
                    notify: true,
                    value: {
                        USA: '$'
                    }
                }
            },
            validateInput: function (value) {
                if (value == null || value == undefined || value == '') {
                    return false;
                } else {
                    return true;
                }
            },
            formatPhone: function (phone) {
                phone = phone.replace(/\s|-|\(|\)/g, "");
                return "(" + phone.slice(0, 3) + ") " + phone.slice(3, 6) + "-" + phone.slice(-4);
            },
            formatDate: function (date, isLong) {
                if (!date) {
                    return "";
                }
                if (isLong) {
                    return moment.tz(date, window.config.timezone).format("MM/DD/YYYY");
                }
                return moment.tz(date, window.config.timezone).format("MM/DD/YYYY");
            },
            capitalize: function (string) {
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },
            formatRate: function (interestRate) {
                if (interestRate) {
                    interestRate = parseFloat(interestRate);
                    return rateFormat(interestRate);
                }
                return interestRate;

                function rateFormat(num) {
                    return num.toFixed(2) + "%";
                }
            },
            date: function (dateValue, country, formatWithTime) {
                var self = this;
                if (!self.validateInput(dateValue)) {
                    return dateValue;
                }
                if (!self.validateInput(country)) {
                    return moment.tz(dateValue, window.config.timezone);
                }
                if (!self.validateInput(self.dateFormates[country])) {
                    return moment.tz(dateValue, window.config.timezone);
                }
                if (formatWithTime) {
                    return moment.tz(dateValue, window.config.timezone).format(self.dateFormates[country].dateTimeFormatString);
                } else {
                    return moment.tz(dateValue, window.config.timezone).format(self.dateFormates[country].dateFormatString);
                }
            },
            formatCurrency: function (amount, country) {
                var self = this;
                if (!self.validateInput(amount) || !self.validateInput(country) || !self.validateInput(self.dateFormates[country])) {
                    return amount;
                } else {
                    var currency = parseFloat(amount);
                    var currencyformate = self.currencySymbols[country] + '1,'
                    return self.currencySymbols[country]+ currency.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, currencyformate);
                }
            },
            ready : function() {
                var self = this;
                window.jQuery ? self.init()() : window.addEventListener("WebComponentsReady", self.init());
            },
            init : function() {
                var self = this;
                return function() {
                }
            }
        });
    </script>
</dom-module>