<dom-module id="lookup-service">
    <template>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "lookup-service",
            _getlookup: function (lookupName) {
                if (lookupName && lookupName != null) {                   
                    var self = this;
                    var url = "/" + lookupName;
                    self.$.http.get(url, window.config.services.lookupservice)
                        .then(function (data) {
                            console.log("getlookup data is ", data);
                            return data;
                        }).fail(function (e) {
                            console.log("getlookup error is ", e);
                            return null
                        });
                }
            }
        });
    </script>
</dom-module>