<dom-module id="rules-engine-service">
  <template>
    <http-request id="http"></http-request>
  </template>

  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'rules-engine-service',
        getRuleDetails: function (rule) {
          return this.$.http.get(
             '/rules/' + rule,
             window.config.services.rulesengine);
        },
        execute: function (ruleId, rootParameter) {
            return this.$.http.post(
                   '/evalrule',
                   {
                     RuleId: ruleId,
                     RootParameter: rootParameter
                   }, window.config.services.rulesengine);

        },
        reduceRuleResult: function (data, operator, identityValue) {
        return  _.reduce(data ,function(a, c){
              //Reduce on catalog
               return _.reduce(c, function(a, c){
                 //Reduce on rule
                 return _.reduce(c,
                   operator, //each expression must be evaluated
                   identityValue);
               }, identityValue);
             }, identityValue);
        }
      });
    })();
  </script>
</dom-module>
