<dom-module id="utility-service">
    <script>
            Polymer({
                is: "utility-service",
                raiseEvent:function(fireEvent,eventData){
                  if(!fireEvent){
                     console.log("Event to raise is undefined in utility-service.raiseEvent");
                     return;
                  }
                  var self = this;
                  var  events = Object.keys(fireEvent);
                  events.forEach(function(event){
                    if(fireEvent[event]){
                        self.fire(event, {data:eventData});
                    }else{
                      console.log(fireEvent[event]+" event is disabled!");
                    }
                  });
                }
            });
    </script>
</dom-module>
