<html-import html-href="spinny/index.html"></html-import>
<html-import html-href="services/utility-service.html"></html-import>
<dom-module is="doc-upload">
    <style is="custom-style">
        :root {
            --vaadin-upload-buttons-primary: display: inline-block;
        }
    </style>
    <style>
        .panel-body {
            min-height: 200px;
        }
        
        .nav-tabs {
            margin-bottom: -1px;
        }
        
        .cell {
            margin: 5px;
            padding: 5px;
        }
        
        .show {
            display: block;
        }
        
        .hide {
            display: none;
        }
        
        .uploadDocWrapper {
            padding: 10px;
            border-style: dotted;
            border-width: 1px;
        }
        
        vaadin-upload {
            --vaadin-upload-button-add: {
                background: #80b43c;
            }
        }
        
        vaadin-upload {
            --vaadin-upload-file-list: {
                margin-left: 20px;
            }
        }
    </style>
    <template>
        <div class="panel-body">
            <h4 id="uploadSuccessMessage" style="display: none;">Document Uploaded successfully.</h4>
            <div id="uploadDocument">
                <div class="panel-body">
                    <template is="dom-if" if="{{!_isDocumentReceived(documentsReceived)}}">
                        <spinny-view></spinny-view>
                    </template>
                    <template is="dom-if" if="{{_hasDocuments(documentsReceived)}}">
                        <template id="viewDocumentsTemplate" is="dom-repeat" items="{{pendingDocs}}" as="pdoc">
                            <div class="row uploadDocWrapper">
                                <h3>{{_documentName(pdoc)}}</h3><br>
                                <vaadin-upload id="{{_generateID(pdoc)}}" on-upload-request="_uploadRequest" on-upload-success="_uploadSuccess" on-upload-before="_changeServerUrl" custom-many-label="{{_documentName(pdoc)}}"
                                    method="POST"></vaadin-upload>
                            </div>
                        </template>
                    </template>
                    <div class="row uploadDocWrapper">
                        <h3>Additional Documents</h3><br>
                        <vaadin-upload id="other" on-upload-request="_uploadRequest" on-upload-success="_uploadSuccessForOther" on-upload-before="_changeServerUrlForOther" method="POST"></vaadin-upload>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "doc-upload",
            properties: {
                pendingDocs: {
                    type: Array,
                    notify: true,
                    value: []
                },
                documentsReceived: {
                    type: Boolean,
                    notify: true,
                    value: false
                }
            },
            _needReRender: function () {
                return this.reRenderUploadDocument;
            },
            _showNoDocsToView: function () {
                if (this.documentsReceived && this.pendingDocs.length <= 0) {
                    $('#uploadDocument').show();
                    return true;
                }
                return false;
            },
            _hasDocuments: function () {
                var self = this;
                if (self.documentsReceived && self.pendingDocs.length > 0) {
                    self.pendingDocs = self.pendingDocs;
                    function reRender() {
                        self.$$('#viewDocumentsTemplate').render();
                        $('#uploadDocument').show();
                    }
                    setTimeout(reRender, 1000);
                    return true;
                }
                return false;
            },
            _documentName: function (doc) {
                return doc.documentName[0];
            },
            _generateID: function (doc) {
                return this._documentName(doc).toLowerCase();
            },
            _isDocumentReceived: function () {
                return this.documentsReceived;
            },
            _uploadSuccess: function (event) {
                if (event.detail.xhr.status === 200) {
                    var res = $.parseJSON(event.detail.xhr.response);
                    $(event.target).prev().hide();
                    $(event.target).hide();
                    $('#uploadSuccessMessage').show();
                    this.raiseAppRefreshEvent();
                }
            },
            _uploadSuccessForOther: function (event) {
                if (event.detail.xhr.status === 200) {
                    var res = $.parseJSON(event.detail.xhr.response);
                    $('#uploadSuccessMessage').show();
                    this.raiseAppRefreshEvent();
                }
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            },
            _uploadRequest: function (event) {
                event.detail.xhr.setRequestHeader('Authorization', "Bearer " + window.defaultAppToken);
            },
            _changeServerUrl: function (event) {
                // Changing the Upload Target
                event.detail.file.uploadTarget = this._getServerUrl(event.model.__data__.pdoc);
                $('#uploadSuccessMessage').hide();
            },
            _changeServerUrlForOther: function (event) {
                var baseUrl = window.config.services.documentService;
                var docEndPoint = "/" + this.applicationNumber + "/other";
                event.detail.file.uploadTarget = baseUrl + docEndPoint;
                $('#uploadSuccessMessage').hide();
            },
            _getServerUrl: function (doc) {
                var baseUrl = window.config.services.verificationEngine + "/application/";
                var factEndpoint = this.applicationNumber + "/" + doc.factName + "/";
                var docEndpoint = doc.methodName + "/upload-document";
                return baseUrl + factEndpoint + docEndpoint;
            },
            _getPendingDocumentList: function () {
                var self = this;
                var endPoint = window.config.services.verificationEngine;
                var url = "/application/" + self.applicationNumber + "/pending-document";
                self.$.http.get(url, endPoint).then(function (data) {
                    self.set('pendingDocs', data);
                    function test() {
                        self.set("documentsReceived", true);
                    }
                    setTimeout(test, 2000);
                }).fail(function (e) {
                    console.log("error getting pending document list: ", e);
                });
            },
            attached: function () {
                this._getPendingDocumentList();
            }
        });
    </script>
</dom-module>