<html-import html-href="spinny/index.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<dom-module is="doc-view">
  <style>
    .panel-body {
      min-height: 200px;
    }
    
    .nav-tabs {
      margin-bottom: -1px;
    }
    
    .cell {
      margin: 5px;
      padding: 5px;
    }
    
    .show {
      display: block;
    }
    
    .hide {
      display: none;
    }
    
    .allDoc {
      display: block;
      margin: 0 80px 0 auto;
    }
  </style>
  <template>
    <div class="panel-body">
      <div class="tab-content">
        <!-- View Document Tab-->
        <div id="viewDocument" class$="[[_getTabPanClass(index)]]">
          <div class="panel-body">
            <template is="dom-if" if="{{!_isDocumentReceived(documentsReceived)}}">
              <spinny-view></spinny-view>
            </template>
            <template is="dom-if" if="{{_showNoDocsToView(documentsReceived)}}">
              <h3> No Documents available.</h3>
            </template>
            <template is="dom-if" if="{{_hasDocuments(documentsReceived)}}">
              <button on-click="downloadAllDocs" class="btn btn-primary btn-xs allDoc">Download All</button>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="cell">File Name</th>
                    <th class="cell">Upload Date</th>
                    <th class="cell">Category</th>
                    <th class="cell">Action</th>
                  </tr>
                </thead>
                <template id="viewDocumentsTemplate" is="dom-repeat" items="{{documents}}" as="doc">
                  <tr>
                    <td class="cell">{{doc.fileName}}</td>
                    <td class="cell">{{_formatDate(doc.timestamp)}}</td>
                    <td class="cell">{{category(doc.category)}}</td>
                    <td class="cell">
                      <a href="javascript:void"></a>
                      <button on-click="downloadDoc" class="btn btn-primary btn-xs">Download</button>
                    </td>
                  </tr>
                </template>
              </table>
            </template>
          </div>
        </div>
      </div>
    </div>
    <http-request id="http"></http-request>
    <alloy-format id="format"></alloy-format>
    <session-manager id="session"></session-manager>
    <url-parser id="url"></url-parser>
  </template>
  <script>
    Polymer({
      is: "doc-view",
      properties: {
        documents: {
          type: Array,
          notify: true,
          value: []
        },
        documentsReceived: {
          type: Boolean,
          notify: true,
          value: false
        },
        applicationNumber: {
          type: String,
          observer: "_applicationNumber_changed"
        },
        docLength: {
          type: Number
        },
        categoryLookup: {
          type: Object,
          notify: true,
          value: {}
        }
      },
      _checkIfNullObject: function (obj) {
        return Object.keys(obj).length === 0 && obj.constructor === Object;
      },
      category: function (value) {
        var self = this;
        if (!self._checkIfNullObject(self.categoryLookup) && self.categoryLookup.hasOwnProperty(value)) {
          return self.categoryLookup[value];
        }
        return "NA";
      },
      _formatDate: function (timestamp) {
        if (typeof this.$.format.formatDate === "function") {
          return this.$.format.formatDate(timestamp);
        }
        return "";
      },
      _documentName: function (doc) {
        console.log("documentName ", doc.documentsRequested[0]);
        return doc.documentsRequested[0];
      },
      _needReRender: function () {
        return this.reRenderUploadDocument;
      },
      _generateID: function (doc) {
        return this._documentName(doc).toLowerCase();
      },
      _showNoDocsToView: function () {
        if (this.documentsReceived && this.documents.length <= 0) {
          return true;
        }
        return false;
      },
      _hasDocuments: function () {
        if (this.documentsReceived && this.documents.length > 0) {
          this.docLength = this.documents.length;
          this.documents = this.documents;
          var self = this;
          function reRender() {
            self.$$('#viewDocumentsTemplate').render();
          }
          setTimeout(reRender, 2000);
          return true;
        }
        return false;
      },
      _applicationNumber_changed: function () {
        this.pendingDocs = [];
        this.documents = [];
        this.factsData = {};
        this.documentsReceived = false;
        this.showViewDocument();
      },
      ready: function () {
        var self = this;
        self.getLookupData();
      },
      _getLatestDoc: function (doc) {
        var last = doc.documents.length - 1;
        return doc.documents[last];
      },
      _methodHasDocs: function (doc) {
        console.log("_methodHasDocs methodName ", doc.methodName);
        if (doc.documents.length > 0) {
          return true;
        }
        return false;
      },
      showViewDocument: function (e) {
        console.log("showViewDocument is called");
        this._loadDocs();
        $('#viewDocument').show();
        $('#uploadDocument').hide();
      },
      getLookupData: function () {
        var self = this;
        var url = "/applicationDocument-category";
        var lookupEndPoint = window.config.services.lookup;
        // self.$.http.get(url, lookupEndPoint).then(function (data) {
        //   self.set('categoryLookup', data);
        // }).fail(function (e) {
        //   console.log("loadDataAttConfig error is ", e);
        // });
      },
      _loadDocs: function () {
        var self = this;
        var url = "/" + self.applicationNumber;
        var documentService = window.config.services.documentService;
        self.$.http.get(url, documentService).then(function (data) {
          console.log("documents data is ", data);
          self.set("documents", data);
          function test() {
            self.set("documentsReceived", true);
          }
          setTimeout(test, 5000);
        }).fail(function (e) {
          console.log("application-document error is ", e);
        });
      },
      _isDocumentReceived: function () {
        return this.documentsReceived;
      },
      downloadAllDocs: function () {
        var self = this;
        var url = "/" + self.applicationNumber + "/download";
        var token = self.$.session.get("token");
        var documentService = window.config.services.documentService;

        var xhr = new XMLHttpRequest();
        xhr.open('GET', documentService + url, true);
        xhr.setRequestHeader('Authorization', "Bearer " + token);
        xhr.responseType = 'blob';

        xhr.onload = function (e) {
          if (this.status == 200) {
            var blob = new Blob([this.response], { type: this.response.type });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = "AllDocuments";
            link.click();
          }
        };
        xhr.onerror = function (e) {
          alert("Error " + e.target.status + " occurred while receiving the document.");
        };
        xhr.send();
      },
      downloadDoc: function (e) {
        var self = this;
        var id = e.model.__data__.doc.id;
        self.set("fileName", e.model.__data__.doc.fileName);
        var token = self.$.session.get("token");
        var url = "/application/" + self.applicationNumber + "/" + id + "/download";
        var documentService = window.config.services.downloadDocService;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', documentService + url, true);
        xhr.setRequestHeader('Authorization', "Bearer " + token);
        xhr.responseType = 'blob';

        xhr.onload = function (e) {
          if (this.status == 200) {
            var blob = new Blob([this.response], { type: this.response.type });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = self.fileName;
            link.click();
          }
        };
        xhr.onerror = function (e) {
          alert("Error " + e.target.status + " occurred while receiving the document.");
        };
        xhr.send();
      }
    });
  </script>
</dom-module>