<html-import html-href="action-center/index.html"></html-import>
<html-import html-href="loan-view/index.html"></html-import>
<html-import html-href="ancillary/ancillary.html"></html-import>
<html-import html-href="funding/funding.html"></html-import>
<html-import html-href="applications/approve-application.html"></html-import>
<html-import html-href="applications/reject-application.html"></html-import>
<html-import html-href="app-view/email/custom-email.html"></html-import>
<html-import html-href="app-view/document-view/doc-upload.html"></html-import>
<html-import html-href="filter-actions/status-management.html"></html-import>
<html-import html-href="filter-actions/edit-application.html"></html-import>
<html-import html-href="filter-actions/submit-application.html"></html-import>
<html-import html-href="filter-actions/compute-ca-offer.html"></html-import>
<html-import html-href="filter-actions/edit-cashflow.html"></html-import>
<html-import html-href="filter-actions/edit-offer.html"></html-import>
<html-import html-href="filter-actions/generate-send-loanagreement.html"></html-import>
<html-import html-href="filter-actions/manual-cashflow.html"></html-import>
<html-import html-href="filter-actions/business-credit-report.html"></html-import>
<html-import html-href="filter-actions/perform-risk-review.html"></html-import>
<html-import html-href="filter-actions/bankurptcy-review.html"></html-import>
<html-import html-href="filter-actions/criminalrecord-review.html"></html-import>
<html-import html-href="filter-actions/present-ca-offer.html"></html-import>
<html-import html-href="filter-actions/resend-bank-linking.html"></html-import>
<html-import html-href="filter-actions/resend-for-signature.html"></html-import>
<html-import html-href="filter-actions/sponsor-credit-pull.html"></html-import>
<html-import html-href="filter-actions/stipulate-docs.html"></html-import>
<html-import html-href="filter-actions/upload-docs.html"></html-import>
<html-import html-href="filter-actions/verify-cashflow.html"></html-import>
<html-import html-href="filter-actions/verify-documents.html"></html-import>
<html-import html-href="filter-actions/call-paynet.html"></html-import>
<html-import html-href="filter-actions/add-funding-request.html"></html-import>
<dom-module is="actions-container">
  <style>
    .activity-action-btn {
      padding: 10px;
      width: 100%;
      font-size: inherit;
    }
  </style>
  <template>
    <div class="container-fluid">
      <div class="row">
        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.Edit)}}">
          <loan-activity id="edit-application-activity" activity-title="Edit">
            <edit-application id="editapplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('Edit')}}"></edit-application>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.SubmitApplication)}}">
          <loan-activity id="submit-application-activity" activity-title="Submit Application">
            <submit-application id="submitApplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('SubmitApplication')}}"></submit-application>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.SponsorCreditPull)}}">
          <loan-activity id="sponsor-credit-pull-activity" activity-title="Pull Sponsor Credit">
            <sponsor-credit-pull id="sponsorcreditpull" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('SponsorCreditPull')}}"></sponsor-credit-pull>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.VerifyCashflowManual)}}">
          <loan-activity id="manual-cashflow-activity" activity-title="Manual CashFlow Review">
            <manual-cashflow id="manualcashflow" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('VerifyCashflowManual')}}"></manual-cashflow>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.VerifyCashflow)}}">
          <loan-activity id="verify-cashflow-activity" activity-title="Verify CashFlow">
            <verify-cashflow id="verifycashflow" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('VerifyCashflow')}}"></verify-cashflow>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.ComputeCAOffers)}}">
          <loan-activity id="compute-ca-offer-activity" activity-title="Compute CA Offer">
            <compute-ca-offer id="computecaoffer" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('ComputeCAOffers')}}"></compute-ca-offer>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.EditCashflow)}}">
          <loan-activity id="edit-cashflow-activity" activity-title="Edit Cashflow">
            <edit-cashflow id="editcashflow" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('EditCashflow')}}"></edit-cashflow>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.ResendBankLinking)}}">
          <loan-activity id="resend-bank-linking-activity" activity-title="Resend Bank Linking">
            <resend-bank-linking id="resendbanklinking" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('ResendBankLinking')}}"></resend-bank-linking>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.GenerateSendLoanAggrement)}}">
          <loan-activity id="generate-send-loanagreement-activity" activity-title="Send Loanagreement">
            <generate-send-loanagreement id="generatesendloanagreement" class="loan-activity" application-number="{{applicationNumber}}"
              fire-event="{{getEvents('GenerateSendLoanAggrement')}}"></generate-send-loanagreement>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.EditOffer)}}">
          <loan-activity id="edit-offer-activity" activity-title="Edit Offer">
            <edit-offer id="editoffer" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('EditOffer')}}"></edit-offer>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.BusinessCreditReport)}}">
          <loan-activity id="business-credit-report-activity" activity-title="Business Credit Report">
            <business-credit-report id="businesscreditreport" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('BusinessCreditReport')}}"></business-credit-report>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.PerformRiskReview)}}">
          <loan-activity id="perform-risk-review-activity" activity-title="Perform Risk Review">
            <perform-risk-review id="performriskreview" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('PerformRiskReview')}}"></perform-risk-review>
          </loan-activity>
        </template>

         <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.Bankurptcy)}}">
          <loan-activity id="bankurptcy-review-activity" activity-title="Bankurptcy">
            <bankurptcy-review id="bankurptcyreview" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('Bankurptcy')}}"></bankurptcy-review>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.CriminalRecord)}}">
          <loan-activity id="criminalrecord-review-activity" activity-title="Criminal Record">
            <criminalrecord-review id="criminalrecordreview" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('CriminalRecord')}}"></criminalrecord-review>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.CallPaynet)}}">
          <loan-activity id="call-paynet-activity" activity-title="Call Paynet">
            <call-paynet id="callpaynet" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('CallPaynet')}}"></call-paynet>
          </loan-activity>
        </template>


        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.PresentCAOffers)}}">
          <loan-activity id="present-ca-offer-activity" activity-title="Present CA Offer">
            <present-ca-offer id="presentcaoffer" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('PresentCAOffers')}}"></present-ca-offer>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.ResendForSignature)}}">
          <loan-activity id="resend-for-signature-activity" activity-title="Resend For Signature">
            <resend-for-signature id="resendforsignature" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('ResendForSignature')}}"></resend-for-signature>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.StipulateDocs)}}">
          <loan-activity id="stipulate-docs-activity" activity-title="Stipulate Docs">
            <stipulate-docs id="stipulatedocs" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('StipulateDocs')}}"></stipulate-docs>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UploadDocs)}}">
          <loan-activity id="upload-docs-activity" activity-title="Upload Docs">
            <upload-docs id="uploaddocs" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('UploadDocs')}}"></upload-docs>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.VerifyDocuments)}}">
          <loan-activity id="verify-documents-activity" activity-title="Verify Documents">
            <verify-documents id="verifydocuments" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('VerifyDocuments')}}"></verify-documents>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.AddActivity)}}">
          <loan-activity id="log-loan-activity" activity-title="Create New Activity">
            <log-application-activity id="activityLog" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('AddActivity')}}"></log-application-activity>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.EnableReApply)}}">
          <loan-activity id="enable-reapply-activity" activity-title="Enable Re-apply">
            <enable-reapply id="enableReapply" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('EnableReApply')}}"></enable-reapply>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.SendEmail)}}">
          <loan-activity id="send-email-activity" activity-title="Send Email">
            <custom-email id="customEmail" applicant-number="{{applicantNumber}}" application-number="{{applicationNumber}}" fire-event="{{getEvents('SendEmail')}}"></custom-email>
            <button on-click="showCustomEmail" class="btn btn-primary btn-xs activity-action-btn">Send Custom Email</button>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.addFundingRequest)}}">
          <loan-activity id="add-funding-request-activity" activity-title="Add Funding Request">
            <add-funding-request id="addfundingrequest" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('addFundingRequest')}}"></add-funding-request>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.ApproveApplication)}}">
          <loan-activity id="approve-application-activity" activity-title="Approve Application">
            <approve-application id="approveApplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('ApproveApplication')}}"></approve-application>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.RejectApp)}}">
          <loan-activity id="reject-application-activity" activity-title="Reject Application">
            <reject-application id="rejectApplication" class="loan-activity" application-number="{{applicationNumber}}" fire-event="{{getEvents('RejectApp')}}"></reject-application>
          </loan-activity>
        </template>

        <template is="dom-if" if="{{_showComponentTemplate(applicationNumber,componentMap.UpdateFundingDetails)}}">
          <loan-activity id="update-funding-detail-activity" activity-title="Update Funding Details">
            <save-funding application-number="{{applicationNumber}}" fire-event="{{getEvents('UpdateFundingDetails')}}"></save-funding>
          </loan-activity>
        </template>
        <template is="dom-if" if="{{_statusListEmpty(statusList)}}">
          <loan-activity id="modify-status-activity" activity-title="Modify Application Status">
            <status-management id="statusManagement" app-number={{applicationNumber}} status-list={{statusList}} fire-event="{{getEvents('RejectApp')}}"></status-management>
          </loan-activity>
        </template>
      </div>
    </div>
    <alloy-format id="format"></alloy-format>
    <http-request id="http"></http-request>
    <url-parser id="url"></url-parser>
  </template>
  <script>
    Polymer({
      is: "actions-container",
      _showComponentTemplate: function (applicationNumber, val) {
        if (this.applicationNumber && val) {
          return true;
        }
        return false;
      },
      showCustomEmail: function (e) {
        console.log("showCustomEmail is called");
        this.$$('#customEmail').show();
      },
      getEvents: function (action) {
        var event = this.actionEvents[action];
        return event;
      }
    });
  </script>
</dom-module>