<html-import html-href="app-view/activity-wrapper.html"></html-import>
<html-import html-href="app-details/applicationDetail.html"></html-import>
<html-import html-href="app-details/actions-container.html"></html-import>
<html-import html-href="offers/offers-grid.html"></html-import>
<html-import html-href="app-view/document-view/index.html"></html-import>
<dom-module is="application-details-home">
  <style>
    .sidebar-panel {
      position: absolute;
      right: 0;
      width: 33.33333333%;
      padding: 10px 20px;
      background: #ebebed;
    }
    
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
      color: #555555 !important;
      cursor: default;
      background: white;
      border-bottom: #f3f3f4;
      border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
      border-image: none;
      border-style: solid;
      border-width: 1px;
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
    }
    
    .tab-content>.active {
      display: block;
      background: white;
    }
    
    .loan-summary .ibox-content {
      padding-bottom: 0;
    }
  </style>
  <template>
    <div class="row">
      <div class="wrapper wrapper-content col-md-8">
        <template id="appDetailTemplate" is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
          <application-detail application-number="{{applicationNumber}}" status="{{status}}"></application-detail>
        </template>
        <template is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-target="#activity" data-toggle="tab">Activity List</a></li>
            <li><a data-target="#viewdocument" data-toggle="tab">View Document</a></li>
            <template is="dom-if" if="{{_showOtherTabs()}}">
              <li><a data-target="#offers" data-toggle="tab">Offers</a></li>
            </template>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="activity">
              <template is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
                <activity-wrapper application-number="{{applicationNumber}}"></activity-wrapper>
              </template>
            </div>
            <div class="tab-pane" id="viewdocument">
              <template id="docViewTemplate" is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
                <doc-view facts="{{tabs}}" application-number="{{applicationNumber}}"></doc-view>
              </template>
            </div>
            <div class="tab-pane" id="offers">
              <template is="dom-if" if="{{_getAppNumber(applicationNumber)}}">
                <offers-grid application-number={{applicationNumber}}></offers-grid>
              </template>
            </div>
          </div>
        </template>
      </div>
      <div class="sidebar-panel col-md-4">
        <template is="dom-if" if="{{_isReady(applicationNumber,componentMapUpdated)}}">
          <actions-container application-number="{{applicationNumber}}" component-map="{{componentMap}}" action-events="{{actionEvents}}"
            status="{{status}}"></actions-container>
        </template>
      </div>
      <!--  <micro-app app-id="merchantTabs"></micro-app>  -->
    </div>
    <url-parser id="url"></url-parser>
    <http-request id="http"></http-request>
  </template>
  <script>
    Polymer({
      is: "application-details-home",
      properties: {
        applicationNumber: {
          type: String,
          notify: true
        },
        componentMap: {
          type: Object,
          notify: true,
          value: {
            Edit: false,
            SubmitApplication: false,
            ComputeCAOffers: false,
            EditCashflow: false,
            EditOffer: false,
            GenerateSendLoanAggrement: false,
            VerifyCashflowManual: false,
            BusinessCreditReport: false,
            PerformRiskReview: false,
            Bankurptcy: false,
            CriminalRecord: false,
            PresentCAOffers: false,
            ResendBankLinking: false,
            ResendForSignature: false,
            SponsorCreditPull: false,
            StipulateDocs: false,
            UploadDocs: false,
            VerifyCashflow: false,
            VerifyDocuments: false,
            EnableReApply: false,
            AddActivity: false,
            SendEmail: false,
            RejectApp: false,
            UpdateFundingDetails: false,
            ApproveApplication: false,
            CallPaynet: false,
            addFundingRequest: false
          }
        },
        filterCodeMapping: {
          type: Object,
          notify: true,
          value: {
            penbankLinking: "tag/Pending Bank Linking",
            pensignature: "tag/Pending Signature",
            pendocs: "tag/Pending Documents"
          }
        },
        tagFilterMap: {
          type: Array,
          notify: true,
          value: ['penbankLinking', 'pensignature', 'pendocs']
        },
        componentMapUpdated: {
          type: Boolean,
          notify: true,
          value: false
        },
        actionEvents: {
          type: Object,
          notify: true,
          value: {}
        }
      },
      _showOtherTabs: function () {
        var params = this.$.url.getParams();
        if (params.filter === "funded") {
          return false;
        }
        return true;
      },
      ready: function () {
        var params = this.$.url.getParams();
        this.applicationNumber = params.app;
      },
      _getAppNumber: function () {
        if (this.applicationNumber) {
          return true;
        }
        return false;
      },
      _showOtherTabs: function () {
        var params = this.$.url.getParams();
        if (params.filter === "funded") {
          return false;
        }
        return true;
      },
      _resetComponentMap: function () {
        var self = this;
        var keys = Object.keys(self.componentMap);
        for (var i = 0; i < keys.length; i++) {
          self.componentMap[keys[i]] = false;
        }
      },
      _isReady: function () {
        var hasNoActions = window.location.href.toLowerCase().includes("/noaction");
        if (this.applicationNumber && this.componentMapUpdated && !hasNoActions) {
          return true;
        }
        return false;
      },
      copyJsonObjKeyValue: function (actions, jsonObj) {
        var keys = Object.keys(jsonObj);
        keys.forEach(function (key) {
          actions[key] = jsonObj[key];
        });
        return actions;
      },
      _initializeComponentStatus: function () {
        var self = this;
        var actions;
        var params = self.$.url.getParams();
        var componentMap = self.componentMap;
        var configEndpoint = window.config.services.backofficeconfiguration;
        var url = "/" + window.configName + "/filter-actions";
        self.$.http.get(url, configEndpoint).then(function (data) {
          actions = data[self.statusCode];
          self.set("actionEvents", data.events);
          if (self.tags && self.tags != null && self.tags.length > 0) {
            actions = {};
            self.tags.forEach(function (tag) {
              if (tag.tagName.includes("Pending Bank Linking")) {
                actions = self.copyJsonObjKeyValue(actions, data['penbankLinking']);
              }
              if (tag.tagName.includes("Pending Signature")) {
                actions = self.copyJsonObjKeyValue(actions, data['pensignature']);
              }
              if (tag.tagName.includes("Pending Documents")) {
                actions = self.copyJsonObjKeyValue(actions, data['pendocs']);
              }
            });
          }
          if (!actions) {
            actions = data[self.statusCode];
          }

          var keys = Object.keys(componentMap);
          if (actions != undefined) {
            var actionKeys = Object.keys(actions);
            for (var i = 0; i < keys.length; i++) {
              if (actionKeys.indexOf(keys[i]) != -1) {
                self.componentMap[keys[i]] = actions[keys[i]];
              } else {
                self.componentMap[keys[i]] = false;
              }
            }
          }
          else {
            self._resetComponentMap();
          }
          self.componentMapUpdated = true;
        }).fail(function (e) {
          console.log("action load and config error is ", e);
        });
      },
      getApplicationTags: function () {
        var self = this;
        var params = self.$.url.getParams();
        var code = self.filterCodeMapping[params.filter];
        if (code == undefined) {
          self._initializeComponentStatus();
          return;
        }
        // if (self.statusCode !== "200.04") {
        //   self._initializeComponentStatus();
        //   return;
        // }
        var url = "/getapplicationtaginfo/" + self.applicationNumber;
        var loanFilters = window.config.services.loanFilters;
        self.$.http.get(url, loanFilters).then(function (data) {
          if (data.tags) {
            self.set("tags", data.tags);
          }
          self._initializeComponentStatus();
        });
      },
      attached: function () {
        this._loadAppStatus();
        this.addEventListener("AppDetailsPageRefresh", this.refreshAppDetails.bind(this));
      },
      refreshAppDetails: function (e) {
        this.updateHash();
      },
      updateHash: function () {
        var randomVal = Math.floor(Math.random() * (10000 - 1 + 1)) + 1;
        var hashStr = window.location.hash;
        if (hashStr.includes("refresh:")) {
          var newHash = hashStr.replace(/refresh:\d+/i, "refresh:" + randomVal);
          window.location.hash = newHash;
        } else {
          window.location.hash = hashStr + "/refresh:" + randomVal;
        }
      },
      _loadAppStatus: function () {
        var self = this;
        var url = "/application/" + self.applicationNumber;
        self.$.http.get(url, window.config.services.statusManagement)
          .then(function (data) {
            self.set("status", data.name);
            self.set("statusCode", data.code);
            self.getApplicationTags();
          }).fail(function (e) {
            console.log("loadAppStatusFromConfig error is ", e);
          });
      },
    })
  </script>
</dom-module>