<html-import html-href="services/workflow-service.html"></html-import>
<dom-module is="review-view">
  <style>
  .d-v-hdr {
    background: #e9f7f8 none repeat scroll 0 0;
    border-radius: 10px 10px 0 0;
    color: #64acaf;
    padding: 5px 20px;
   }
   .row {
    margin: 0;
  }
  .container{
    width:70%;
    height:100%;
  }
  .material{
    margin-left:120px;
    margin-bottom:30px;
    position: relative;
    display: inline-block;
    width: 890px;
    height: auto;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 21px 56px 0 rgba(0, 255, 129, 0.35);
  }
  .section{
    margin-left: 20px;
    margin-right: 20px;
  }
  paper-header-panel {
        margin-left:120px;
        margin-bottom:30px;
        float: left;
        width: 890px;
        height: auto;
        margin: 0px;
        @apply(--shadow-elevation-2dp);
      }
      .paper-header {
        height: 60px;
        font-size: 16px;
        line-height: 60px;
        padding: 0 10px;
        color: white;
        transition: height 0.2s;
      }
      .paper-header.tall {
        height: 120px;
      }
      .paper-header.medium-tall {
        height: 100px;
        line-height: 50px;
      }
      .content {
        height: 2000px;
      }
      .cover {
        margin: 60px;
      }
      .blue .paper-header {
        background-color: var(--paper-light-blue-500);
      }
      .column{
        width: 270px;
        margin-right: 10px;
        float: left;
        margin-bottom: 10px;
      }
      .columnRadio{
        width: 270px;
        margin-right: 10px;
        margin-top:20px;
        float: left;
        margin-bottom: 10px;
      }
      .paper-input-0 {
          display: block;
          margin: 7px;
      }
      .column50{
        width: 350px;
        margin-right: 15px;
        margin-left:15px;
        float: left;
        margin-bottom: 10px;
      }
      .column50Radio{
        width: 350px;
        margin-right: 15px;
        margin-left:15px;
        margin-top:20px;
        float: left;
        margin-bottom: 10px;
      }
      .header{
        text-align:center;
        width:100%;
        height:30px;
        float:left;
      }
      .h2font{
        font-size:16px; !important;
        font-weight: bold;
      }
      .button-container{
        width:100%;
        margin-left:40%;
        margin-right:40%;
      }

      paper-button.custom {
    --paper-button-ink-color: var(--paper-pink-a200);
    /* These could also be individually defined for each of the
      specific css classes, but we'll just do it once as an example */
    --paper-button-flat-keyboard-focus: {
      background-color: var(--paper-pink-a200);
      color: white !important;
    };
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-pink-a200) !important;
      color: white !important;
    };
  }
  paper-button.custom:hover {
    background-color: var(--paper-indigo-100);
  }
  paper-button.pink {
    color: var(--paper-pink-a200);

  }
  paper-button.indigo {
    background-color: var(--paper-indigo-500);
    color: white;
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-pink-a200) !important;
      color: white !important;
    };
  }
  </style>
  <template>
     <!-- <span>Dashboard</span> -->
       <workflow-service id="workflow"></workflow-service>
         <!-- Loan Information -->

         <div class="panel panel-default">
<div class="panel-heading">Loan Details</div>
<div class="panel-body">


             <div class="section">
               <div class="column">
                <paper-input label="Loan Amount" id="loanAmount" error-message="Invalid Amount" pattern="^(0|[1-9][0-9]*)$" required>
                  <div prefix>&#8377</div>
                </paper-input>
              </div>
              <div class="column">
                <paper-dropdown-menu label="Loan Purpose" id="loanPurpose" on-iron-select="_loanPurposeSelected">
                  <paper-listbox class="dropdown-content">
                    <paper-item>Travel</paper-item>
                    <paper-item>Vehicle Purchane</paper-item>
                    <paper-item>Medical</paper-item>
                    <paper-item>Loan Refinancing</paper-item>
                    <paper-item>Wedding</paper-item>
                    <paper-item>Home Improvement</paper-item>
                    <paper-item>Other</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
              </div>
              <template is="dom-if" if="{{_hasLoanPurposeOther(isLoanPurposeOther)}}">
                <div class="column">
                  <paper-input id="loanPurposeOther" label="Other Loan Purpose">
                  </paper-input>
                </div>
              </template>
            </div>

</div></div>


       <!-- Personal Information -->
      <div class="panel panel-default">
<div class="panel-heading">Applicant Details</div>
<div class="panel-body">

             <div class="section">
               <div class="column">
                  <paper-input label="First Name" id="firstName">
                  </paper-input>
                  <paper-input type="date" label="Date of Birth" id="dateOfBirth">
                  </paper-input>
                  <paper-input label="Mobile Number" id="mobileNumber" pattern="^[789]\d{9}$" error-message="Invalid Mobile Number" auto-validate  on-blur="enableOTP">
                 <div prefix>+91</div>
                  </paper-input>

                  <paper-input label="Locality" id="locality">
                  </paper-input>
                  <paper-input label="State" id="state">
                  </paper-input>
               </div>
               <div class="column">
                 <paper-input label="Middle Name" id="middleName">
                 </paper-input>
                 <paper-input label="PAN Number" validator='validator1' auto-validate id="panNumber">
                 </paper-input>
                  <template is="dom-if" if="{{_showOTPBtn(otpBtn)}}">
                     <paper-button raised on-click="generateOTP" class="otpbtn" style="margin-top:10px;margin-bottom: 12px;">Generate OTP</paper-button>
                  </template>
                  <template is="dom-if" if="{{_showInputOTP(inputOTP)}}">
                      <paper-input label="Enter OTP" id="otp" pattern="^\d{6}$" error-message="Invalid OTP" required auto-validate>
                           <div suffix><a  id="resend" class="ce-more-info-link"><paper-button style="text-transform: initial;height: 5px;" on-click="resetOTP">Resend OTP</paper-button></a></div>
                      </paper-input>
                 </template>
                 <paper-input label="Personal Email Id" id="emailId">
                 </paper-input>
                 <paper-input label="Pincode" id="pincode">
                 </paper-input>
               </div>
               <div class="column">
                 <paper-input label="Last Name" id="lastName">
                 </paper-input>
                 <paper-input label="Aadhar Number(Optional)" id="aadharNumber">
                 </paper-input>
                 <paper-input label="Address" id="address">
                 </paper-input>
                 <paper-input label="City" id="city">
                 </paper-input>
               </div>
            </div>

 </div>
</div>


       <!-- Employment Information -->
        <div class="panel panel-default">
<div class="panel-heading">Employment Details</div>
<div class="panel-body">



             <div class="section">
               <div class="column">
                <paper-input label="Company Name" id="companyName">
                </paper-input>
              </div>
               <div class="column">
                 <paper-input label="Monthly Salary" id="monthlySalary">
                 </paper-input>
               </div>
               <div class="column">
                 <paper-input label="Official Email ID" id="officeEmailId">
                 </paper-input>
               </div>
            </div>

 </div>
</div>


       <!-- Expenses Information -->
       <div class="panel panel-default">
<div class="panel-heading">Expenses Details</div>
<div class="panel-body">



            <div class="panel panel-default">
               <div class="panel-heading">Residence Expenses</div>
               <div class="panel-body">

             <div class="section">
                 <div class="column">
                   <paper-dropdown-menu  id="residenceType" label="Residence Type" on-iron-select="_itemSelected">
                     <paper-listbox class="dropdown-content">
                       <paper-item>Owned-Self</paper-item>
                       <paper-item>Owned-Family</paper-item>
                       <paper-item>Rented-Family</paper-item>
                       <paper-item>Rented-Friend</paper-item>
                       <paper-item>PG/Hostel</paper-item>
                     </paper-listbox>
                   </paper-dropdown-menu>
                </div>
                <template is="dom-if" if="{{_isOwnedResidence(residenceType)}}">
                  <div class="columnRadio">
                    <label id="label2">Home Loan:</label>
                     <paper-radio-group id="loanRadio" selected="no" on-iron-select="_loanRadioChanged" aria-labelledby="label2">
                        <paper-radio-button name="yes">Yes</paper-radio-button>
                        <paper-radio-button name="no">No</paper-radio-button>
                     </paper-radio-group>

                  </div>
                </template>
              <template is="dom-if" if="{{_hasHomeLoan(homeLoan)}}">
                <div class="column">
                  <paper-input id="homeEmi" label="EMI on home loans">
                  </paper-input>
                </div>
              </template>
              <template is="dom-if" if="{{_payingRent(residenceType)}}">
                <div class="column">
                  <paper-input id="monthlyRent" label="Monthly Rent">
                  </paper-input>
                </div>
              </template>
              </div>

               </div>
           </div>





<div class="panel panel-default">
<div class="panel-heading">Credit Card Expenses</div>
<div class="panel-body">


              <div class="section">
                 <div class="columnRadio">
                    <label id="label2">Do you have a Credit Card?</label>
                     <paper-radio-group id="creditCard" selected="no" on-iron-select="_cardRadioChanged" aria-labelledby="label2">
                        <paper-radio-button name="yes">Yes</paper-radio-button>
                        <paper-radio-button name="no">No</paper-radio-button>
                     </paper-radio-group>
                  </div>
               <template is="dom-if" if="{{_hasCreditCard(hasCreditCard)}}">
                <div class="column">
                   <paper-input label="Credit Card Balances" id="creditCardBalance">
                   </paper-input>
                 </div>
              </template>
             </div>

</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">Other Expenses</div>
<div class="panel-body">

               <div class="section">
                   <div class="column50">
                    <paper-input label="Other EMIs" id="otherEmis">
                    </paper-input>
                  </div>
                  <div class="column50">
                    <paper-input label="Monthly Expenses" id="monthlyExpenses">
                    </paper-input>
                  </div>
              </div>


</div>
</div>



       <div class="panel panel-default">
<div class="panel-heading">Actions</div>
<div class="panel-body">
         <div class="button-container">
           <paper-button raised class="custom indigo" on-click="_submit">Save</paper-button>
           <paper-button raised class="custom indigo" on-click="_reset">Cancel</paper-button>
         </div>
       </div>
</div>

 </template>
 <script>
     Polymer({
         is: "review-view",
         properties:{
           residenceType:{
             type:String,
             notify:true,
             valueToAttribute:true
           },
           homeLoan:{
             type:Boolean,
             notify:true,
             valueToAttribute:true
           },
           hasCreditCard:{
             type:Boolean,
             notify:true,
             valueToAttribute:true
           },
           isLoanPurposeOther:{
             type:Boolean,
             notify:true
           },
           otpBtn:{
             type:Boolean,
             notify:true,
             value:false
           },
           inputOTP:{
             type:Boolean,
             notify:true,
             value:false
           }
         },
         ready: function (){
           console.log("ready is called");
         },
         _submit: function(event) {
           //Polymer.dom(event).localTarget.parentElement.validate();
           this.validate();
           this.save();
         },
          validate:function () {
           document.getElementById('loanAmount').validate();
           document.getElementById('otp').validate();
           document.getElementById('otp').focus();
         },
          clearInput:function () {
           document.getElementById('loanAmount').value = '';
         },
         _reset:function(event) {
           this.clearInput();
         //  var form = Polymer.dom(event).localTarget.parentElement
         //form.reset();
         //  form.querySelector('.output').innerHTML = '';
         },
         _isOwnedResidence: function(){
           if(this.residenceType == null || this.residenceType == undefined)
             return false;
           if(this.residenceType =='Owned-Self' || this.residenceType =='Owned-Family'){
             return true;
           }
           return false;
         },
         _itemSelected : function(e) {
           this.residenceType = e.target.selectedItem.innerText;
           console.log("residenceType is "+this.residenceType);
         },
         _loanRadioChanged: function(e) {
           this.homeLoan = e.target.selected == "no"?false:true;
           console.log("homeloan is"+this.homeLoan);
         },
         _cardRadioChanged: function(e){
           this.hasCreditCard = e.target.selected == "no"?false:true;
           console.log("hasCreditCard is"+this.hasCreditCard);
         },
         _loanPurposeSelected:function(e){
           this.isLoanPurposeOther = e.target.selectedItem.innerText == "Other"?true:false;
           console.log("isLoanPurposeOther is"+this.isLoanPurposeOther);
         },
         _hasHomeLoan:function(){
           if(this.homeLoan == null || this.homeLoan == undefined){
             return false;
           }
           if(this.homeLoan){
             return true;
           }
           return false;
         },
         _hasLoanPurposeOther:function(){
           if(this.isLoanPurposeOther){
             return true;
           }
           return false;
         },
         _payingRent:function(){
           if(this.residenceType == null || this.residenceType == undefined)
             return false;
           if(this.residenceType =='Rented-Family' ||  this.residenceType =='Rented-Friend' ||this.residenceType =='PG/Hostel'){
             return true;
           }
           return false;
         },
         _hasCreditCard:function(){
           if(this.hasCreditCard == null || this.hasCreditCard == undefined){
             return false;
           }
           if(this.hasCreditCard){
             return true;
           }
           return false;
         },
         _showOTPBtn:function(){
           return this.otpBtn;

         },
         _showInputOTP:function(){
           return this.inputOTP;
         },
         enableOTP:function(event){
           console.log("event is "+event);
           if(event.currentTarget.__data__.invalid || event.currentTarget.__data__.value.trim() =="" ){
             this.otpBtn=false;
             this.inputOTP=false;
             return;
           }
           this.otpBtn=true;

         },
         generateOTP:function(){
           var self = this;
             self.$.workflow.execute('lead', 'person', 'send-otp', {mobile:this.$.mobileNumber.value})
             .then(function(res) {
               alert('Otp sent to ' + self.$.mobileNumber.value);
             }).then(function (error){
               console.log("*** error ***");
             });
            this.otpBtn=false;
            this.inputOTP=true;
         },
         resetOTP:function(){
           this.generateOTP();
         },
          validate1: function(value) {
         //validation code
         console.log("validate1");
         return value.length > 3;
       },
         save: function () {

             var self = this;

             //Amount Saving Service
           /* self.$.workflow.execute('lead', '', '', {
                     "primaryApplicant": {
                     "salutation": "Mr",
                     "firstName": "Test",
                     "lastName": "Test",
                     "middleName": "T",
                     "emailAddresses": [
                       {
                         "email": "test@gmail.com",
                         "emailType": "Personal",
                         "isDefault": true
                       }
                     ],
                     "aadhaarNumber": "12345",
                     "permanentAccountNumber": "45345345",
                     "dateOfBirth": "2016-09-02T15:24:28.2480918+05:30",
                     "phoneNumbers": [
                       {
                         "phone": "9898989898",
                         "countryCode": "91",
                         "phoneType": "Residence",
                         "isDefault": false
                       }
                     ],
                     "addresses": [
                       {
                         "addressLine1": "test1",
                         "addressLine2": "test3",
                         "addressLine3": null,
                         "addressLine4": null,
                         "landMark": null,
                         "city": "Ahmedabad",
                         "state": "Gujarat",
                         "pinCode": "380034",
                         "country": "India",
                         "addressType": "Residence",
                         "isDefault": false
                       }
                     ],
                     "gender": "Female"
                     },

                     "requestedAmount": "7000",
                     "purposeOfLoan": "MovingAndRelocation",
                     "source": {
                       "trackingCode": "Code123",
                       "systemChannel": "Merchant",
                       "sourceType": "Merchant",
                       "sourceReferenceId": "Ref123"
                     },
                     "applicationNumber": null,
                     "employmentDetail": {
                       "name": "Sigma",
                       "WorkAddresses": [],
                       "workEmailId":
                       {
                         "email": "worktest@gmail.com",
                         "emailType": "Personal",
                         "isDefault": true
                       }
                     },
                     "residenceType": "OwnedSelf",
                     "selfDeclareExpense": {
                       "monthlyRent": "5000",
                       "emi": "5000",
                       "monthlyExpenses": "10000",
                       "creditCardBalances": "12000"
                     }
                   }).then(function(value) {
                 console.log("lead/amount/set called successfully");
                 console.log(value);
             });*/
             //Loan Amount Saving Service
             self.$.workflow.execute('lead', 'amount', 'set', {
                     'amount': this.$.loanAmount.value
                 })
                 .then(function(value) {
                   console.log("lead/amount/set called successfully");
                   console.log(value);
                 });
             //Loan Reason saving service
            self.$.workflow.execute('lead', 'reason','set', { 'reason': this.$.loanPurpose.value })
           .then(function (value) {
               console.log("lead/reason/set called successfully");
               console.log(value);
           });

           //  Expenses Info Saving Service
           self.$.workflow.execute('lead', 'expenses','set-residence',{
               'residenceType': this.$.residenceType.value,
               'haveHomeLoan': this._hasHomeLoan(),
               'emi': 0,
               'rent': 5000
             }).then(function (value) {
               console.log("lead/expenses/set-residence called successfully");
               console.log(value);
             });


            self.$.workflow.execute('lead', 'expenses','set-other',
             {
               'emi': this.$.otherEmis.value,
               'other': this.$.monthlyExpenses.value
             })
             .then(function (value) {
               console.log("lead/expenses/set-other called successfully");
               console.log(value);
             });

             self.$.workflow.execute('lead', 'expenses','set-credit-card',
             {
               'hasCreditCard': this._hasCreditCard(),
               'balance':25000//this.$.creditCardBalance.value
             })
             .then(function (value) {
               console.log("lead/expenses/set-credit-card called successfully");
               console.log(value);
             });


             //Employment Info Saving Service
             self.$.workflow.execute('lead', 'work', 'set', {
                     'employerName': this.$.companyName.value,
                     'salary': this.$.monthlySalary.value,
                     'officialEmail': this.$.officeEmailId.value
             }).then(function(value) {
               console.log("lead/work/set called successfully");
               console.log(value);
             });

             self.$.workflow.execute('lead', 'person', 'set-number', {
                 'mobile': this.$.mobileNumber.value
               })
               .then(function(value) {
                 console.log("lead/person/set-number called successfully");
                 console.log(value);
               });

               this.$.firstName.value="NITIN";
               this.$.lastName.value="JAIN";
               this.$.panNumber.value="AFUPJ7365N";
           this.$.workflow.execute('lead', 'person','set',
           {
             'title': 'Mr',
             'firstName': this.$.firstName.value,
             'middleName':this.$.middleName.value,
             'lastName': this.$.lastName.value,
             'email': this.$.emailId.value
           })
           .then(function (value) {
             console.log("lead/person/set called successfully");
             console.log(value);
           });

               //Personal Info Saving Service
             self.$.workflow.execute('lead', 'details', 'set', {
                 'dateOfBirth': this.$.dateOfBirth.value,
                 'PAN': this.$.panNumber.value,
                 'adhar': this.$.aadharNumber.value,
                 'address': this.$.address.value,
                 'locality': this.$.locality.value,
                 'city': this.$.city.value,
                 'state': this.$.state.value,
                 'pin': this.$.pincode.value
             }).then(function(value) {
               console.log("lead/details/set called successfully");
               console.log(value);
                 if (!value['city-is'].valid) {
                   console.log("City is invalid ");
                   //  alert('City is invalid');
                   //  return;
                 } else if (!(value['pan-is'] && value['pan-is'].valid)) {
                     console.log("Pan is invalid ");
                   //  alert('pan is invalid');
                   //  return;
                 }
                 window.location = '/#/app-view';
             });
         }
     })
 </script>
</dom-module>
