<dom-module id="select-input">
    <template>
        <select id="select" class="form-control" disabled$="{{ disabled }}">
            <template is="dom-repeat" items="{{ items }}">
                <option value="{{ getValue(item) }}" disabled$="{{ item.disabled }}" selected$="{{ item.selected }}">
                    {{ getLabel(item) }}
                </option>
            </template>
        </select>
        <style>
            .form-control {
                height: 3em;
                border: 2px solid #cdcdcd;
                border-radius: 10px;
            }

            .form-control:focus {
                border: 2px solid #03426b !important;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "select-input",

            // Sets default select value when select-input is attached twice as a content child
            attached: function() {
                var self = this;

                // Expected to run on 2nd attached
                // If temp value is set, set select value to temp value
                self.async(function () {
                    if (self.temp != null) {
                        self.$.select.value = self.temp
                    }
                });

                // Expected to run on 1st attached
                // If temp value is not set, obtain value from select element
                self.async(function () {
                    if (self.temp == null) {
                        self.temp = self.$.select.value;
                    }
                });
            },
            
            properties: {
                items: {
                    value: function () {
                        return []
                    },
                    type: Array
                },
                placeholder: String,
                disabled: {
                    type: Boolean,
                    value: false
                }
            },

            getValue: function (item) {
                if (typeof item.value === "string") {
                    return item.value;
                } else if (item.label) {
                    return item.label
                } else {
                    return item
                }
            },

            getLabel: function (item) {
                if (typeof item.label === "string") {
                    return item.label;
                } else if (item.value) {
                    return item.value
                } else {
                    return item
                }
            }

        });
    </script>
</dom-module>