<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="not-interested-application">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="NotInterestedApplication">
                    <dynamic-form form-configuration={{Obj}} values="{{Obj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_notInterestedApp" raised>Not Interested</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "not-interested-application",
            properties: {
                Obj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            notInterestedReason: {
                                title: "Not Interested Reason",
                                type: "dropdown",
                                selectList: [],
                                selectedValue: "",
                                validations: {
                                    required: true
                                }
                            }
                        },
                        values: {
                            notInterestedReason: ""
                        }
                    }
                }
            },
            attached: function () {
                var self = this;
                self._loadReasonList();
            },
            _loadReasonList: function () {
                var self = this;
                var configurationEndPoint = window.config.services.configuration;
                var url = "/" + window.configName +"/notInterested-reasons";
                self.$.http.get(url, configurationEndPoint).then(function (result) {
                    if (result) {
                        var tempList = [];
                        var keys = Object.keys(result);
                        for (var i = 0; i < keys.length; i++) {
                            tempList.push({ key: keys[i], value: result[keys[i]] });
                        }
                        self.Obj.controls.notInterestedReason.selectList = tempList;
                    }
                })
                .fail(function (e) {
                    console.log("not able to load status configurations.", e);
                })
            },
            _notInterestedApp: function (e) {
                e.preventDefault();
                var self = this;
                var form = Polymer.dom(e).localTarget.parentElement;
                var statusEndPoint = window.config.services.statusManagement;
                var selectedReason = self.Obj.controls.notInterestedReason.selectedValue;
                if (form.validate()) {
                    var url = "/application/" + self.applicationNumber + "/200.14/" + selectedReason;
                    self.$.http.post(url, {}, statusEndPoint).then(function (data) {
                        console.log("application data is ", data);
                        $(e.target).parents().find('not-interested-application').parent().hide();
                        var listOfParentelements = $("loan-activity");
                        for (i = 0; i < listOfParentelements.length; i++) {
                            $(listOfParentelements[i]).children().first().show();
                        }
                        self.raiseAppRefreshEvent();
                    })
                    .fail(function (e) {
                        console.log("application error is ", e);
                    });
                }
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>
