<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="reject-application">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="rejectApplication">
                    <dynamic-form form-configuration={{rejectObj}} values="{{rejectObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_rejectApp" raised>Reject Application</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "reject-application",
            properties: {
                rejectObj : {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            rejectReason: {
                                title: "Reject Reason",
                                type: "dropdown",
                                selectList: [],
                                selectedValue: "",
                                validations: {
                                    required: true
                                }
                            }
                         },
                        values: {
                            rejectReason:""
                        }
                    }
                }
            },
            attached: function () {
                var self = this;
                self._loadReasonList();
            },
            _loadReasonList: function () {
                var self = this;
                var configurationEndPoint = window.config.services.configuration;
                var url = "/" + window.configName +"/reject-reasons";
                self.$.http.get(url, configurationEndPoint).then(function(result){
                    var rejectStatusObj = result;
                    if(rejectStatusObj){
                        var tempList = [];
                        var keys = Object.keys(rejectStatusObj);
                        for(var i=0; i < keys.length; i++){
                            tempList.push({key: keys[i], value: rejectStatusObj[keys[i]]});
                        }
                        self.rejectObj.controls.rejectReason.selectList = tempList;
                    }
                })
                .fail(function (e){
                    console.log("not able to load status configurations.", e);
                })
            },
            _rejectApp: function (e) {
                e.preventDefault();
                var self = this;
                var form = Polymer.dom(e).localTarget.parentElement;
                var offerEndPoint = window.config.services.appProcessor;
                var selectedReason = self.rejectObj.controls.rejectReason.selectedValue;
                if(form.validate()){
                    var url = "/status-management/" + self.applicationNumber + "/rejectApplication/" + selectedReason;
                    self.$.http.post(url, {}, offerEndPoint).then(function (data) {
                        console.log("application data is ", data);
                        $(e.target).parents().find('reject-application').parent().hide();
                        var listOfParentelements = $("loan-activity");
                        for (i = 0; i < listOfParentelements.length; i++) {
                            $(listOfParentelements[i]).children().first().show();
                        }
                        self.raiseAppRefreshEvent();
                    })
                    .fail(function (e) {
                        console.log("application error is ", e);
                    });
                }
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>