<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<dom-module id="my-greeting">
  <template>
    <style include="shared-styles">
      :host {
        display: table;
        margin: 0 auto !important;
      }
      span,
      input {
        @apply(--paper-font-body2);
      }



      .large-title{
        padding-bottom: 60px;
        padding-top: 10px;
        font-size: 40px;
      }

      .lend-logo{
        width:430px;
        height:120px;
      }

    </style>

    <http-request id="http"></http-request>

    <div on-click="next">
      <span style="padding: 150px"></span>
      <iron-image class="center lend-logo"  sizing="contain"
        src="../../images/lend.png"></iron-image>

        <h1 class="center large-title" >Qbera</h1>


        <p class="center" ><b>Smart</b> loans for a <b>smarter</b> India</p>
        <span style="padding: 150px"></span>
    </div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'my-greeting',
        next: function (event) {
          //page('/amount-required');
          this.$.http.get(
             '/borrower-portal',
             window.config.services.configuration,
              function success(data){
                alert( JSON.stringify(data));
              },
              function failed(){
                alert('boo!!');
              }
            );

        },
        properties: {
          greeting: {
            type: String,
            value: 'Welcome!',
            notify: true
          }
        }
      });
    })();
  </script>
</dom-module>
