<html-import html-href="services/workflow-service.html"></html-import>
<html-import html-href="progress-bar/index.html"></html-import>
<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="update-bank-details">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                    <dynamic-form form-configuration={{perEmpBankDetailObj}} values="{{perEmpBankDetailObj.values}}"></dynamic-form><br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <workflow-service id="workflow"></workflow-service>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "update-bank-details",
            properties: {
                employmentBankDetail: {
                    type: Object,
                    notify: true,
                },
                perEmpBankDetailObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "accountNumber": {
                                "title": "Account Number",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "bankName": {
                                "title": "Bank Name",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "ifscCode": {
                                "title": "IFSC Code",
                                "type": "ifsc",
                                "validations": {
                                    "required": true,
                                    "minLen": 11,
                                    "maxLen": 11
                                }
                            },
                            "addressLine1": {
                                "title": "AddressLine 1",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 128
                                }
                            },
                            "bdpinCode": {
                                "title": "Pin Code",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 6
                                }
                            },
                            "city": {
                                "title": "City",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "state": {
                                "title": "State",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 16
                                }
                            }

                        },
                        values: {
                            bankName: "",
                            accountNumber: "",
                            ifscCode: "",
                            addressLine1: "",
                            city: "",
                            state: "",
                            bdpinCode: ""
                        }
                    }
                }
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _makingGetObject: function () {
                return {
                    bankId: '',
                    bankName: '',
                    accountNumber: '',
                    ifscCode: '',
                    bankAddresses: {
                        addressLine1: '',
                        addressLine2: '',
                        addressLine3: '',
                        addressLine4: '',
                        landMark: '',
                        location: '',
                        city: '',
                        state: '',
                        pinCode: '',
                        country: '',
                        addressType: 'Bank',
                        isDefault: true
                    }
                }
            },
            _getEmploymentBankData: function () {
                var self = this;
                var url = "/" + self.applicationNumber;
                var applicationDetail = window.config.services.applicationDetail;
                self.$.http.get(url, applicationDetail).then(function (data) {
                    self.employmentBankDetail = self._makingGetObject();

                    if (data.bankInformation != null && (!self._checkIfNullObject(data.bankInformation))) {
                        self.employmentBankDetail = data.bankInformation;
                        if (self._checkIfNullObject(data.bankInformation.bankAddresses)) {
                            data.bankInformation.bankAddresses = {};
                        }
                        self.perEmpBankDetailObj.values["bankName"] = data.bankInformation.bankName;
                        self.perEmpBankDetailObj.values["accountNumber"] = data.bankInformation.accountNumber;
                        self.perEmpBankDetailObj.values["ifscCode"] = data.bankInformation.ifscCode;
                        self.perEmpBankDetailObj.values["addressLine1"] = data.bankInformation.bankAddresses.addressLine1;
                        self.perEmpBankDetailObj.values["city"] = data.bankInformation.bankAddresses.city;
                        self.perEmpBankDetailObj.values["state"] = data.bankInformation.bankAddresses.state;
                        self.perEmpBankDetailObj.values["bdpinCode"] = data.bankInformation.bankAddresses.pinCode;
                    } else {
                        if (self.perEmpBankDetailObj != null && self.perEmpBankDetailObj.values != undefined) {
                            self.perEmpBankDetailObj.values["bankName"] = "";
                            self.perEmpBankDetailObj.values["accountNumber"] = "";
                            self.perEmpBankDetailObj.values["ifscCode"] = "";
                            self.perEmpBankDetailObj.values["addressLine1"] = "";
                            self.perEmpBankDetailObj.values["city"] = "";
                            self.perEmpBankDetailObj.values["state"] = "";
                            self.perEmpBankDetailObj.values["bdpinCode"] = "";
                        }
                    }
                    self.set('perEmpBankDetailObj', $.extend({}, self.perEmpBankDetailObj));
                    self.set('employmentBankDetail', $.extend({}, self.employmentBankDetail));
                }).fail(function (e) {
                    console.log("_getEmploymentBankData error is " + e);
                });
            },
            _clearTextBox: function () {
                if (self.perEmpBankDetailObj != null && self.perEmpBankDetailObj.values != undefined) {
                    self.perEmpBankDetailObj.values["bankName"] = "";
                    self.perEmpBankDetailObj.values["accountNumber"] = "";
                    self.perEmpBankDetailObj.values["ifscCode"] = "";
                    self.perEmpBankDetailObj.values["addressLine1"] = "";
                    self.perEmpBankDetailObj.values["city"] = "";
                    self.perEmpBankDetailObj.values["state"] = "";
                    self.perEmpBankDetailObj.values["bdpinCode"] = "";
                }
            },
            _verifyForm: function (event) {
                event.preventDefault();
                var self = this;
                var perEmpBankDetailObj = self.perEmpBankDetailObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var offerEngine = window.config.services.appProcessor;
                var url = "/application/" + self.applicationNumber + "/bankInformation";
                if (form.validate()) {
                    //assign value from UI to Employee Detail object
                    if (self._checkIfNullObject(self.employmentBankDetail.bankAddresses)) {
                        self.employmentBankDetail.bankAddresses = {};
                    }
                    var ResultObj = self.employmentBankDetail;
                    ResultObj.bankName = self.perEmpBankDetailObj.values["bankName"];
                    ResultObj.accountNumber = self.perEmpBankDetailObj.values["accountNumber"];
                    ResultObj.ifscCode = self.perEmpBankDetailObj.values["ifscCode"];
                    ResultObj.bankAddresses.addressLine1 = self.perEmpBankDetailObj.values["addressLine1"];
                    ResultObj.bankAddresses.city = self.perEmpBankDetailObj.values["city"];
                    ResultObj.bankAddresses.state = self.perEmpBankDetailObj.values["state"];
                    ResultObj.bankAddresses.pinCode = self.perEmpBankDetailObj.values["bdpinCode"];
                    self.$.http.put(url, ResultObj, offerEngine).then(function (result) {
                        console.log(result);
                        //For hide Div after Update Detail
                        $(event.target).parents().find('update-bank-details').parent().hide();
                        //To get list of LoanActivity template and then display block for all Div.
                        var listOfParentelements = $("loan-activity");
                        for (i = 0; i < listOfParentelements.length; i++) {
                            $(listOfParentelements[i]).children().first().show();
                        }
                        self.raiseAppRefreshEvent();
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            _pincodeChanged: function () {
                var self = this;
                $("input[name = 'bdpinCode']").change(function () {
                    var _this = $(this);
                    self.$.workflow.execute('on-boarding', 'lookup', 'pincode-details', { "pincode": _this.val() }).then(function (result) {
                        if (result != undefined) {
                            self.perEmpBankDetailObj.values["city"] = result.cities[0];
                            self.perEmpBankDetailObj.values["state"] = result.state;
                            self.set('perEmpBankDetailObj', $.extend({}, self.perEmpBankDetailObj));
                        }
                    });
                });
            },
            _isfcCodeChanged: function () {
                var self = this;
                $("input[name = 'ifscCode']").change(function () {
                    var _this = $(this);
                    self.$.workflow.execute('on-boarding', 'lookup', 'bank-details', { "ifscCode": _this.val() }).then(function (result) {
                        if (value != "Not Found") {
                            self.perEmpBankDetailObj.values["addressLine1"] = value.ADDRESS;
                            self.perEmpBankDetailObj.values["city"] = value.DISTRICT;
                            self.perEmpBankDetailObj.values["state"] = value.STATE;
                            self.set('perEmpBankDetailObj', $.extend({}, self.perEmpBankDetailObj));
                        }
                    });
                });
            },
            ready: function () {
                var self = this;
                this._getEmploymentBankData();
            },
            init: function () {
                var self = this;

                setTimeout(function () {
                    self._pincodeChanged();
                }, 1000);

                setTimeout(function () {
                    self._isfcCodeChanged();
                }, 1000);
            },
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            }
        });
    </script>
</dom-module>