<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="save-funding">
    <template>
        <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="FudingApplication">
                    <dynamic-form form-configuration={{fundedObj}} values="{{fundedObj.values}}"></dynamic-form>
                    <br>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "save-funding",
            properties: {
                fundedObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            FundedAmount: {
                                title: "Disbursement Amount",
                                type: "number",
                                validations: {
                                    required: true
                                }
                            },
                            FundedDate: {
                                title: "Disbursed Date",
                                type: "date",
                                format: "DD-MM-YYYY",
                                validations: {
                                    required: true
                                }
                            },
                            EmiAmount: {
                                title: "EMI Amount",
                                type: "number",
                                validations: {
                                    required: true
                                }
                            },
                            FirstEmiDate: {
                                title: "First EMI Date",
                                type: "date",
                                format: "DD-MM-YYYY",
                                validations: {
                                    required: true
                                }
                            }
                        },
                        values: {
                            FundedAmount: 0,
                            FundedDate: new Date(),
                            EmiAmount: 0,
                            FirstEmiDate: new Date()
                        }
                    }
                }
            },
            attached: function () {
                this._getFundingData();
            },
            _formatDate: function (date){
                if(date !== "")
                    return moment.tz(date, window.config.timezone).format("YYYY-MM-DD");
                else
                    return moment.tz(window.config.timezone).format("YYYY-MM-DD");
            },
            _getFundingData: function () {
                var self = this;
                var fundedObj = self.fundedObj;
                var url = "/application/" + self.applicationNumber + "/loan-fundeddata";
                var dataAttrEndPoint = window.config.services.dataAttributes;
                self.$.http.get(url, dataAttrEndPoint).then(function (data) {
                    if (data) {
                        fundedObj.values = data;
                        fundedObj.values.FundedDate = self._formatDate(data.FundedDate);
                        fundedObj.values.FirstEmiDate = self._formatDate(data.FirstEmiDate);
                        self.set('fundedObj', $.extend({}, self.get('fundedObj'), fundedObj));
                    }
                })
                .fail(function (e) {
                    var fundedObj = self.get('fundedObj');
                    var Obj = {
                            FundedAmount: 0,
                            FundedDate: self._formatDate(""),
                            EmiAmount: 0,
                            FirstEmiDate: self._formatDate("")
                    };
                    fundedObj.values = Obj;
                    self.set('fundedObj', $.extend({}, self.get('fundedObj'), fundedObj));
                    console.log("get fundingdata error is ", e);
                });
            },
            _formReset: function (event) {
                var form = Polymer.dom(event).localTarget.parentElement;
                form.reset();
            },
            _verifyForm: function (e) {
                e.preventDefault();
                var self = this;
                var form = Polymer.dom(e).localTarget.parentElement;
                var offerEndPoint = window.config.services.appProcessor;
                var payload = self.fundedObj.values;
                if (form.validate()) {
                    payload.FundedDate = moment.tz(payload.FundedDate, window.config.timezone).format("YYYY-MM-DD");
                    payload.FirstEmiDate = moment.tz(payload.FirstEmiDate, window.config.timezone).format("YYYY-MM-DD");
                    var url = "/application/" + self.applicationNumber + "/loan-fundeddata";
                    self.$.http.post(url, payload, offerEndPoint).then(function (data) {
                        $(e.target).parents().find('save-funding').parent().hide();
                        var listOfParentelements = $("loan-activity");
                        for (i = 0; i < listOfParentelements.length; i++) {
                            $(listOfParentelements[i]).children().first().show();
                        }
                        self.raiseAppRefreshEvent();
                    })
                    .fail(function (e) {
                        console.log("save fundingdata error is ", e);
                    });
                }
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>
