<dom-module id="dynamic-form">
    <style>
        .row {
            margin: auto auto 10px auto;
        }
        
        .radioGroup {
            padding: 10px;
        }
        
        .col-md-12 {
            padding: 0 2px;
        }
        
        .twoColumn {
            display: inline-block;
            margin: 10px 10px;
            width: 23%;
        }
        
        .custom-date-picker {
            --vaadin-date-picker-overlay: {
                max-height: 400px !important;
                max-width: 500px !important;
            }
        }
    </style>
    <template>
        <template is="dom-repeat" items="{{_toArray(formConfiguration.controls)}}">
            <div class$="[[getClassName(item)]]">
                <div class="col-md-12">
                    <template is="dom-if" if="{{_isTextbox(item.value.type)}}">
                        <paper-input value="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" on-change="_stuffChanged" 
                        label="{{item.value.title}}" readonly$="[[item.value.readonly]]"  char-counter auto-validate maxlength="{{item.value.validations.maxLen}}" 
                            required$="[[item.value.validations.required]]"></paper-input>
                    </template>
                    <template is="dom-if" if="{{_isEmail(item.value.type)}}">
                        <paper-input type="email" value="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" on-change="_stuffChanged"
                            label="{{item.value.title}}" readonly$="[[item.value.readonly]]" char-counter auto-validate maxlength="{{item.value.validations.maxLen}}"
                            required$="[[item.value.validations.required]]" allowed-pattern="[\S]" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"></paper-input>
                    </template>
                    <template is="dom-if" if="{{_isPassword(item.value.type)}}">
                        <paper-input type="password" value="{{_getValue(item.name)}}" name="{{item.name}}" id="{{_autoNameGenerator(item.name)}}"
                            on-change="_stuffChanged" label="{{item.value.title}}" readonly$="[[item.value.readonly]]" char-counter auto-validate maxlength="{{item.value.validations.maxLen}}"
                            minlength="{{item.value.validations.minLen}}" allowed-pattern="[\S]" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$"
                            required$="[[item.value.validations.required]]"></paper-input>
                        <span class="" title="at least one lowercase letter, one uppercase letter, one numeric digit, and one special character">hint</span>
                    </template>
                    <template is="dom-if" if="{{_isIFSCCode(item.value.type)}}">
                        <paper-input value="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" readonly$="[[item.value.readonly]]" on-change="_stuffChanged" label="{{item.value.title}}"
                            required char-counter auto-validate maxlength="{{item.value.validations.maxLen}}" minlength="{{item.value.validations.minLen}}"
                            allowed-pattern="[\w]" pattern="^[a-zA-z]{4}\d{1}[a-zA-Z0-9]{6}$"></paper-input>
                    </template>
                    <template is="dom-if" if="{{_isPANBox(item.value.type)}}">
                        <paper-input value="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" on-change="_stuffChanged" label="{{item.value.title}}"
                            required readonly$="[[item.value.readonly]]" char-counter auto-validate maxlength="{{item.value.validations.maxLen}}" minlength="{{item.value.validations.minLen}}"
                            allowed-pattern="[\w]" pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$"></paper-input>
                    </template>
                    <template is="dom-if" if="{{_isAadhaarBox(item.value.type)}}">
                        <paper-input value="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" readonly$="[[item.value.readonly]]" on-change="_stuffChanged" label="{{item.value.title}}"
                            required char-counter auto-validate maxlength="{{item.value.validations.maxLen}}" minlength="{{item.value.validations.minLen}}"
                            allowed-pattern="[\w]" pattern="^[0-9]{12}$"></paper-input>
                    </template>
                    <template is="dom-if" if="{{_isNumber(item.value.type)}}">
                        <paper-input type="number" value="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" on-change="_stuffChanged"
                            label="{{item.value.title}}" readonly$="[[item.value.readonly]]" required$="[[item.value.validations.required]]"></paper-input>
                    </template>
                    <template is="dom-if" if="{{_isSingleDecimal(item.value.type)}}">
                        <paper-input pattern="\d+(\.\d{1})?" value="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" on-change="_stuffChanged"
                            label="{{item.value.title}}" readonly$="[[item.value.readonly]]" auto-validate required$="[[item.value.validations.required]]"></paper-input>
                    </template>
                    <template is="dom-if" if="{{_isDatePicker(item.value.type)}}">
                        <vaadin-date-picker class="custom-date-picker" i18n="[[i18n]]" label="{{item.value.title}}" value="[[_getValue(item.name)]]"
                            initial-position="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" placeholder="{{item.value.placeholder}}"
                            format="{{_getFormat(item.value)}}" required$="[[item.value.validations.required]]" readonly$="[[item.value.readonly]]"></vaadin-date-picker>
                    </template>
                    <template is="dom-if" if="{{_isCheckbox(item.value.type)}}">
                        <paper-checkbox checked="{{_getValue(item.name)}}" name="{{item.name}}" id="{{item.name}}" on-change="_stuffChanged" required$="[[item.value.validations.required]]">
                            {{item.value.title}}
                        </paper-checkbox>
                    </template>
                    <template is="dom-if" if="{{_isDropdown(item.value.type)}}">
                        <paper-dropdown-menu label="{{item.value.title}}" allowOutsideScroll required$="[[item.value.validations.required]]">
                            <paper-listbox name="{{item.name}}" class="dropdown-content" style="width:280px !important;" attr-for-selected="myid" selected="{{item.value.selectedValue}}"
                                on-iron-select="_stuffChanged" multi$="[[_isMultiDropDown(item)]]">
                                <template is="dom-repeat" items="[[item.value.selectList]]" as="dropItem">
                                    <paper-item myid="[[dropItem.key]]">[[dropItem.value]]</paper-item>
                                </template>
                            </paper-listbox>
                        </paper-dropdown-menu>
                    </template>
                    <template is="dom-if" if="[[_isComboBox(item.value.type)]]">
                        <vaadin-combo-box name="[[item.name]]" value="[[_getValue(item.name)]]" item-value-path="[[item.value.labelValue]]" item-label-path="[[item.value.label]]"
                            items="[[item.value.selectList]]" label="[[item.value.title]]" prevent-invalid-input="true" required$="[[item.value.validations.required]]"
                            on-change="_stuffChanged" on-vaadin-dropdown-opened="_comboBoxOpened">
                        </vaadin-combo-box>
                    </template>
                    <template is="dom-if" if="{{_isRadioGroup(item.value.type)}}">
                        <label id="{{item.name}}">{{item.value.title}}</label>
                        <paper-radio-group on-change="_stuffChanged" attr-for-selected="value" aria-labelledby="{{item.name}}" selected="{{_getValue(item.name)}}"
                            required>
                            <template is="dom-repeat" items="[[item.value.radioList]]" as="radioItem">
                                <paper-radio-button class="radioGroup" value="[[radioItem.key]]" name="[[item.name]]">[[radioItem.value]]</paper-radio-button>
                            </template>
                        </paper-radio-group>
                    </template>
                </div>
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: 'dynamic-form',
            properties: {
                'formConfiguration': {
                    type: Object
                },
                'values': {
                    type: Object,
                    notify: true,
                    reflectToAttribute: true,
                    observer: '_valueChanged'
                },
                i18n: {
                    type: Object,
                    notify: true,
                    value: {
                        monthNames: moment.months(),
                        weekdays: moment.weekdays(),
                        weekdaysShort: moment.weekdaysShort(),
                        firstDayOfWeek: moment.localeData().firstDayOfWeek(),
                        week: 'Week',
                        calendar: 'Calendar',
                        clear: 'Clear',
                        today: 'Today',
                        cancel: 'Cancel',
                        formatDate: function (d) {
                            return moment(d).format("MM/DD/YYYY");
                        },
                        parseDate: function (s) {
                            return moment(s, "MM/DD/YYYY").toDate();
                        },
                        formatTitle: function (monthName, fullYear) {
                            return monthName + ' ' + fullYear;
                        }
                    }
                }
            },
            init: function () {
                var self = this;
                setTimeout(function () {
                    document.querySelectorAll('vaadin-date-picker').forEach(function (element) {
                        //TODO: Optimize this code.
                        element.addEventListener('value-changed', function (event) {
                            if (self.values.hasOwnProperty(event.target.name)) {
                                self.set('values.' + event.target.name, event.target.value);
                            }
                        });
                    });
                }, 1000);
            },
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            _comboBoxOpened: function (e) {
                // customized the combo box styles.
                //Polymer.dom(e).localTarget.$.overlay;
                //overlay.style.backgroundColor = "#03466B";
            },
            getClassName: function (item) {
                if (item.value.hasOwnProperty('class') && item.value.class !== '')
                    return "row " + item.value.class;

                return "row"
            },
            _autoNameGenerator: function (name) {
                var timestamp = moment().unix();
                return timestamp + name + timestamp;
            },
            _valueChanged: function () {
                //console.log('value changed.', this.values);
            },
            extractValue: function (event) {
                switch (event.target.tagName) {
                    case "INPUT":
                        return event.target.value;
                    case "PAPER-CHECKBOX":
                        return event.target.checked;
                    case "PAPER-RADIO-BUTTON":
                        return event.target.value;
                    case "PAPER-LISTBOX":
                        if (event.target.multi)
                            return event.target.selectedValues;
                        else
                            return event.target.selected;
                    case "VAADIN-COMBO-BOX":
                        return event.target.value;
                    default:
                        return;
                }
            },
            _stuffChanged: function (event) {
                var tagName = event.target.tagName;
                var fieldName = event.target.name;
                var value = this.extractValue(event);
                this.set('values.' + fieldName, value);
            },
            _isEmail: function (type) {
                return type === 'email';
            },
            _isPassword: function (type) {
                return type === 'password';
            },
            _isMultiDropDown: function (item) {
                return item.value.hasOwnProperty('multi') && item.value.multi ? item.value.multi : false;
            },
            _isRadioGroup: function (type) {
                return type === 'radiogroup';
            },
            _isIFSCCode: function (type) {
                return type === 'ifsc';
            },
            _isPANBox: function (type) {
                return type === 'pan';
            },
            _isAadhaarBox: function (type) {
                return type === 'aadhaar';
            },
            _isDropdown: function (type) {
                return type === 'dropdown';
            },
            _isComboBox: function (type) {
                return type === 'combobox';
            },
            _isDatePicker: function (type) {
                return type === 'date';
            },
            _isTextbox: function (type) {
                return type === 'textbox';
            },
            _isNumber: function (type) {
                return type === 'number';
            },
            _isSingleDecimal: function (type) {
                return type === 'singleDecimal';
            },
            _isCheckbox: function (type) {
                return type === 'checkbox';
            },
            _getValue: function (name) {
                return this.values[name] === 0 ? 0 : this.values[name] || '';
            },
            _getFormat: function (obj) {
                return obj.format || 'MM/DD/YYYY';
            },
            _toArray: function (obj) {
                var ary = Object.keys(obj).map(function (key) {
                    return { name: key, value: obj[key] };
                });
                return ary;
            }
        });
    </script>
</dom-module>