<html-import html-href="services/workflow-service.html"></html-import>
<html-import html-href="progress-bar/index.html"></html-import>
<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="update-address">
    <style>
        .nav-tabs {
            margin-bottom: -1px;
        }
        
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus {
            color: #555555 !important;
            cursor: default;
            background: white;
            border-bottom: #f3f3f4;
            border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
            border-image: none;
            border-style: solid;
            border-width: 1px;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
        }
        
        .tab-content>.active {
            display: block;
            background: white;
        }
    </style>
    <template>
        <div>
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a data-target="#CurrentAddress" data-toggle="tab">Current Address</a></li>
                <li><a data-target="#PermanantAddress" data-toggle="tab">Permanant Address</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="CurrentAddress">
                    <div class="row">
                        <div class="col-md-12">
                            <form is="iron-form" class="form-horizontal" name="cashflowForm">
                                <dynamic-form form-configuration={{curAddressObj}} values="{{curAddressObj.values}}"></dynamic-form><br/>
                                <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyFormCurrent" raised>Submit</paper-button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="PermanantAddress">
                    <div class="row">
                        <div class="col-md-12">
                            <form is="iron-form" class="form-horizontal" name="cashflowForm">
                                <dynamic-form form-configuration={{perAddressObj}} values="{{perAddressObj.values}}"></dynamic-form><br/>
                                <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyFormPemanant" raised>Submit</paper-button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <workflow-service id="workflow"></workflow-service>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "update-address",
            properties: {
                cAddressDetail: {
                    type: Object,
                    notify: true
                },
                pAddressDetail: {
                    type: Object,
                    notify: true
                },
                curAddressObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "addressLine1": {
                                "title": "Address Line 1",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "addressLine2": {
                                "title": "Address Line 2",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 0,
                                    "maxLen": 64
                                }
                            },
                            "landMark": {
                                "title": "Land Mark",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 0,
                                    "maxLen": 64
                                }
                            },
                            "location": {
                                "title": "Locality",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "cpinCode": {
                                "title": "PinCode",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 6,
                                    "maxLen": 6
                                }
                            },
                            "city": {
                                "title": "City",
                                "type": "combobox",
                                "selectList": [],
                                "label": "value",
                                "labelValue": "key",
                                "validations": {
                                    "required": true
                                }
                            },
                            "state": {
                                "title": "State",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            }
                        },
                        values:
                        {
                            addressLine1: "",
                            addressLine2: "",
                            landMark: "",
                            location: "",
                            city: "",
                            state: "",
                            cpinCode: ""
                        }
                    }
                },
                perAddressObj: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "addressLine1": {
                                "title": "Address Line 1",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "addressLine2": {
                                "title": "Address Line 2",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 0,
                                    "maxLen": 64
                                }
                            },
                            "landMark": {
                                "title": "Land Mark",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 0,
                                    "maxLen": 64
                                }
                            },
                            "location": {
                                "title": "Locality",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "ppinCode": {
                                "title": "PinCode",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 6,
                                    "maxLen": 6
                                }
                            },
                            "city": {
                                "title": "City",
                                "type": "combobox",
                                "selectList": [],
                                "label": "value",
                                "labelValue": "key",
                                "validations": {
                                    "required": true
                                }
                            },
                            "state": {
                                "title": "State",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            }
                        },
                        values:
                        {
                            addressLine1: "",
                            addressLine2: "",
                            landMark: "",
                            location: "",
                            city: "",
                            state: "",
                            ppinCode: ""
                        }
                    }
                }
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _getAddressData: function () {
                var self = this;
                var url = "/" + self.applicationNumber;
                var applicationDetail = window.config.services.applicationDetail;
                self.$.http.get(url, applicationDetail).then(function (data) {
                    self.cAddressDetail = {};
                    self.pAddressDetail = {};
                    if (!self._checkIfNullObject(data.addresses)) {
                        var currentAddress = data.addresses[0];
                        var permanantAddress = data.addresses[1];
                        if (currentAddress.addressType == "Current") {
                            self.cAddressDetail.addressId = currentAddress.addressId;
                            self.cAddressDetail.addressLine1 = currentAddress.addressLine1;
                            self.cAddressDetail.addressLine2 = currentAddress.addressLine2;
                            self.cAddressDetail.addressLine3 = currentAddress.addressLine3;
                            self.cAddressDetail.addressLine4 = currentAddress.addressLine4;
                            self.cAddressDetail.landMark = currentAddress.landMark;
                            self.cAddressDetail.location = currentAddress.location;
                            self.cAddressDetail.city = currentAddress.city;
                            self.cAddressDetail.state = currentAddress.state;
                            self.cAddressDetail.pinCode = currentAddress.pinCode;
                            self.cAddressDetail.country = currentAddress.country;
                            self.cAddressDetail.addressType = currentAddress.addressType;
                            self.cAddressDetail.isDefault = currentAddress.isDefault;
                            self.curAddressObj.values["addressLine1"] = currentAddress.addressLine1;
                            self.curAddressObj.values["addressLine2"] = currentAddress.addressLine2;
                            self.curAddressObj.values["landMark"] = currentAddress.landMark;
                            self.curAddressObj.values["location"] = currentAddress.location;
                            self.curAddressObj.values["city"] = (currentAddress.city).toLowerCase();
                            self.curAddressObj.values["state"] = currentAddress.state;
                            self.curAddressObj.values["cpinCode"] = currentAddress.pinCode;
                            self.set('curAddressObj', $.extend({}, self.curAddressObj));
                            self._fetchPinCodeDetails(currentAddress.pinCode,'cpinCode');
                        }
                        if (permanantAddress.addressType == "Permanant") {
                            self.pAddressDetail.addressId = permanantAddress.addressId;
                            self.pAddressDetail.addressLine1 = permanantAddress.addressLine1;
                            self.pAddressDetail.addressLine2 = permanantAddress.addressLine2;
                            self.pAddressDetail.addressLine3 = permanantAddress.addressLine3;
                            self.pAddressDetail.addressLine4 = permanantAddress.addressLine4;
                            self.pAddressDetail.landMark = permanantAddress.landMark;
                            self.pAddressDetail.location = permanantAddress.location;
                            self.pAddressDetail.city = permanantAddress.city;
                            self.pAddressDetail.state = permanantAddress.state;
                            self.pAddressDetail.pinCode = permanantAddress.pinCode;
                            self.pAddressDetail.country = permanantAddress.country;
                            self.pAddressDetail.addressType = permanantAddress.addressType;
                            self.pAddressDetail.isDefault = permanantAddress.isDefault;
                            self.perAddressObj.values["addressLine1"] = permanantAddress.addressLine1;
                            self.perAddressObj.values["addressLine2"] = permanantAddress.addressLine2;
                            self.perAddressObj.values["landMark"] = permanantAddress.landMark;
                            self.perAddressObj.values["location"] = permanantAddress.location;
                            self.perAddressObj.values["city"] = (permanantAddress.city).toLowerCase();
                            self.perAddressObj.values["state"] = permanantAddress.state;
                            self.perAddressObj.values["ppinCode"] = permanantAddress.pinCode;
                            self.set('perAddressObj', $.extend({}, self.perAddressObj));
                            self._fetchPinCodeDetails(currentAddress.pinCode,'ppinCode');
                        }
                    }
                    else {
                        self.cAddressDetail.addressId = "";
                        self.cAddressDetail.addressLine1 = "";
                        self.cAddressDetail.addressLine2 = "";
                        self.cAddressDetail.addressLine3 = "";
                        self.cAddressDetail.addressLine4 = "";
                        self.cAddressDetail.landMark = "";
                        self.cAddressDetail.location = "";
                        self.cAddressDetail.city = "";
                        self.cAddressDetail.state = "";
                        self.cAddressDetail.pinCode = "";
                        self.cAddressDetail.country = "";
                        self.cAddressDetail.addressType = "Current";
                        self.cAddressDetail.isDefault = "true";
                        self.set('curAddressObj', $.extend({}, self.cAddressDetail));
                        self.pAddressDetail.addressId = "";
                        self.pAddressDetail.addressLine1 = "";
                        self.pAddressDetail.addressLine2 = "";
                        self.pAddressDetail.addressLine3 = "";
                        self.pAddressDetail.addressLine4 = "";
                        self.pAddressDetail.landMark = "";
                        self.pAddressDetail.location = "";
                        self.pAddressDetail.city = "";
                        self.pAddressDetail.state = "";
                        self.pAddressDetail.pinCode = "";
                        self.pAddressDetail.country = "";
                        self.pAddressDetail.addressType = "Permanant";
                        self.pAddressDetail.isDefault = "false";
                        self.set('perAddressObj', $.extend({}, self.pAddressDetail));
                    }
                }).fail(function (e) {
                    console.log("_getAddressData error is " + e);
                });
            },
            _verifyFormCurrent: function (event) {
                event.preventDefault();
                var self = this;
                var address = self.curAddressObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var offerEngine = window.config.services.offerEngine;
                var url = "/application/" + self.applicationNumber + "/address";
                if (form.validate()) {
                    //assign value from UI to addressDetail object
                    self.cAddressDetail.addressLine1 = self.curAddressObj.values["addressLine1"]
                    self.cAddressDetail.addressLine2 = self.curAddressObj.values["addressLine2"]
                    self.cAddressDetail.landMark = self.curAddressObj.values["landMark"]
                    self.cAddressDetail.location = self.curAddressObj.values["location"]
                    self.cAddressDetail.city = self.curAddressObj.values["city"]
                    self.cAddressDetail.state = self.curAddressObj.values["state"]
                    self.cAddressDetail.pinCode = self.curAddressObj.values["cpinCode"]
                    self.$.http.put(url, self.cAddressDetail, offerEngine).then(function (result) {
                        console.log(result);
                        //For hide Div after Update Detail
                        $(event.target).parents().find('update-address').parent().hide();
                        //To get list of LoanActivity template and then display block for all Div.
                        var listOfParentelements = $("loan-activity");
                        for (i = 0; i < listOfParentelements.length; i++) {
                            $(listOfParentelements[i]).children().first().show();
                        }
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            _verifyFormPemanant: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement;
                var offerEngine = window.config.services.offerEngine;
                var url = "/application/" + self.applicationNumber + "/address";
                if (form.validate()) {
                    //assign value from UI to addressDetail object
                    self.pAddressDetail.addressLine1 = self.perAddressObj.values["addressLine1"]
                    self.pAddressDetail.addressLine2 = self.perAddressObj.values["addressLine2"]
                    self.pAddressDetail.landMark = self.perAddressObj.values["landMark"]
                    self.pAddressDetail.location = self.perAddressObj.values["location"]
                    self.pAddressDetail.city = self.perAddressObj.values["city"]
                    self.pAddressDetail.state = self.perAddressObj.values["state"]
                    self.pAddressDetail.pinCode = self.perAddressObj.values["ppinCode"]
                    self.$.http.put(url, self.pAddressDetail, offerEngine).then(function (result) {
                        console.log(result);
                        //For hide Div after Update Detail
                        $(event.target).parents().find('update-address').parent().hide();
                        //To get list of LoanActivity template and then display block for all Div.
                        var listOfParentelements = $("loan-activity");
                        for (i = 0; i < listOfParentelements.length; i++) {
                            $(listOfParentelements[i]).children().first().show();
                        }
                        self.raiseAppRefreshEvent();
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            _convertListToObjectList: function (array) {
                var tempList = [];
                for (var i = 0; i < array.length; i++) {
                    tempList.push({ key: array[i], value: array[i] });
                }
                return tempList;
            },
            _fetchPinCodeDetails: function (pinCode, inputName) {
                var self = this;
                self.$.workflow.execute('on-boarding', 'lookup', 'pincode-details', { "pincode": pinCode }).then(function (result) {
                    if (result != undefined) {
                        if (inputName === 'cpinCode') {
                            self.curAddressObj.values["state"] = result.state;
                            self.curAddressObj.controls.city.selectList = self._convertListToObjectList(result.cities);
                            self.set('curAddressObj', $.extend({}, self.curAddressObj));
                        }
                        else if (inputName === 'ppinCode') {
                            self.perAddressObj.values["state"] = result.state;
                            self.perAddressObj.controls.city.selectList = self._convertListToObjectList(result.cities);
                            self.set('perAddressObj', $.extend({}, self.perAddressObj));
                        }
                    }
                });
            },
            _pincodeChanged: function () {
                var self = this;
                $("input[name='cpinCode'], input[name='ppinCode']").change(function () {
                    var _this = $(this);
                    if (self.cAddressDetail.pinCode !== _this.val()) {
                        self.curAddressObj.values["city"] = "";
                        self._fetchPinCodeDetails(_this.val(), _this.prop('name'));
                    }
                    else if (self.pAddressDetail.pinCode !== _this.val()) {
                        self.perAddressObj.values["city"] = "";
                        self._fetchPinCodeDetails(_this.val(), _this.prop('name'));
                    }
                });
            },
            ready: function () {
                var self = this;
            },
            init: function () {
                var self = this;
                setTimeout(function () {
                    self._pincodeChanged();
                }, 1000);
            },
            attached: function () {
                var self = this;
                this._getAddressData();
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            }
        });
    </script>
</dom-module>