<html-import html-href="services/utility-service.html"></html-import>
<dom-module id="update-income-expense">
    <template>
       <div class="row">
            <div class="col-md-12">
                <form is="iron-form" class="form-horizontal" name="cashflowForm">
                    <div class="row">
                        <div class="col-md-12">
                            <paper-dropdown-menu label="Select Residency Type" allowOutsideScroll required>
                                <paper-listbox id="ResidencyDDL" class="dropdown-content" style="width:100% !important;" attr-for-selected="myid" on-iron-select="_setSelectResiType" selected="{{SelectedresidenceType}}">
                                    <template is="dom-repeat" items="{{residenceType}}" as="residencyTypeDDL">
                                            <paper-item myid="[[residencyTypeDDL.key]]">[[residencyTypeDDL.value]]</paper-item>
                                        </template>
                                </paper-listbox>
                            </paper-dropdown-menu>
                        </div>
                    </div>
                    <dynamic-form form-configuration={{prefiosReportObj}} values="{{prefiosReportObj.values}}"></dynamic-form><br/>
                    <paper-button class="btn btn-primary activity-action-btn" on-click="_verifyForm" raised>Submit</paper-button>
                </form>
            </div>
        </div>
        <http-request id="http"></http-request>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "update-income-expense",
            properties: {
                SelectedresidenceType: {
                    type: String,
                    notify: true,
                    value: ""
                },
                residenceType: {
                    type: Array,
                    notify: true,
                    value: [
                            { "key": "OwnedSelf", "value": "Self Owned" },
                            { "key": "Owned-Family", "value": "Owned With Family" },
                            { "key": "Rented-Family", "value": "Rented With Family" },
                            { "key": "Rented-Alone", "value": "Rented Bachelor Staying Alone" },
                            { "key": "Rented-Friends", "value": "Rented With Friends" },
                            { "key": "PG/Hostel", "value": "PG or Hostel" },
                            { "key": "Company-Acco", "value": "Company Provided Accommodation" }
                        ]
                },
                dataAttributes: {
                    type: Object,
                    notify: true
                },
                prefiosReportObj : {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "monthlyRent": {
                                "title": "Monthly Rent / Housing EMI",
                                "type": "number",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "DebtPayments": {
                                "title": "Other EMI's",
                                "type": "number",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            },
                            "creditCardBalances": {
                                "title": "Credit Card Balances",
                                "type": "number",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 10
                                }
                            }
                        },
                    values: {
                        residenceType:"",
                        monthlyRent: 0,
                        DebtPayments: 0,
                        creditCardBalances: 0,
                        }
                    }
                }
            },
            _setSelectResiType: function (e, item) {
                    var selValue =this.SelectedresidenceType;
                    if(selValue === "OwnedSelf" || selValue === "Owned-Family")
                    {
                       $("input[name = 'DebtPayments']").parent().find('label').text('Total EMI Inclusing Housing')
                       $("#monthlyRent").hide();
                    }
                    else if(selValue === "Company-Acco")
                    {
                       $("input[name = 'DebtPayments']").parent().find('label').text("Other EMI's")
                       $("#monthlyRent").hide();
                    }
                    else
                    {
                        $("#monthlyRent").show();
                        $("input[name = 'DebtPayments']").parent().find('label').text("Other EMI's");
                        $("input[name = 'monthlyRent']").parent().find('label').text('Monthly rent');
                    }
                },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _SetLable:function()
            {
                var selValue =this.SelectedresidenceType;
                if(selValue === "OwnedSelf" || selValue === "Owned-Family")
                {
                    $("input[name = 'DebtPayments']").parent().find('label').text('Total EMI Inclusing Housing')
                    $("#monthlyRent").hide();
                }
                else if(selValue === "Company-Acco")
                {
                    $("input[name = 'DebtPayments']").parent().find('label').text("Other EMI's")
                    $("#monthlyRent").hide();
                }
                else
                {
                    $("#monthlyRent").show();
                    $("input[name = 'DebtPayments']").parent().find('label').text("Other EMI's");
                    $("input[name = 'monthlyRent']").parent().find('label').text('Monthly rent')
                }
            },
            _getIncomeExpenseData : function() {
                    var self = this;
                    var url = "/application/" + self.applicationNumber;
                    var dataAttributes = window.config.services.dataAttributes;
                    self.$.http.get(url, dataAttributes).then(function (data) {
                    if(data.application != undefined)
                    {
                        if(!self._checkIfNullObject(data.application)){
                            self.prefiosReportObj.values["monthlyRent"] = data.application.monthlyRent;
                            self.prefiosReportObj.values["DebtPayments"] = data.application.OtherEmi;
                            self.prefiosReportObj.values["creditCardBalances"] = data.application.creditCardBalance;
                            self.set('SelectedresidenceType', data.application.residenceType);
                            self.set('prefiosReportObj', $.extend({},self.prefiosReportObj));
                        }
                    }
                    }).fail(function (e) {
                        console.log("_getIncomeExpenseData error is " + e);
                    });
                    setTimeout(function () {
                        self._SetLable();
                    }, 1000);
            },
            _verifyForm: function (event){
                event.preventDefault();
                var self = this;
                var prefiosReportObj = self.prefiosReportObj;
                var form = Polymer.dom(event).localTarget.parentElement;
                var offerEngine = window.config.services.offerEngine;
                var url = "/application/" + self.applicationNumber + "/selfDeclaredExpense";
                if(self.SelectedresidenceType === "OwnedSelf" || self.SelectedresidenceType === "Owned-Family" || self.SelectedresidenceType === "Company-Acco")
                {
                    prefiosReportObj.values.monthlyRent=0;
                }
                var SelectedResiType=self.SelectedresidenceType;
                prefiosReportObj.values.residenceType=SelectedResiType;
                if(form.validate()){
                    self.$.http.put(url,prefiosReportObj.values, offerEngine).then(function (result) {
                        console.log(result);
                        $(event.target).parents().find('update-income-expense').parent().hide();
                        var listOfParentelements = $("loan-activity");
                            for (i = 0; i < listOfParentelements.length; i++) {
                                $(listOfParentelements[i]).children().first().show();
                            }
                            self.raiseAppRefreshEvent();
                    }).fail(function (e) {
                        console.log("loadConfig error is ", e);
                    });
                }
            },
            attached: function () {
               this._getIncomeExpenseData();
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            }
        });
    </script>
</dom-module>
