<dom-module id="event-hub">
	<template>
		<content select="event-subscription"></content>
	</template>
	<script>
		Polymer({
			is: "event-hub",
			behaviors: [eventHub],
		});
	</script>
</dom-module>