<html-import html-href="navigation/minimize-button.html"></html-import>
<html-import html-href="search/inline.html"></html-import>
<html-import html-href="profile/summary.html"></html-import>
<dom-module id="header-view">
    <style>
        .navbar-brand {
            padding-left: 35px;
        }
        
        .navbar-brand img {
            height: 200%;
            width: 100%;
        }
    </style>
    <template>
        <nav class="navbar navbar-static-top border-bottom white-bg" role="navigation" style="margin-bottom: 0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <img src="/images/{{nosearchlogo.img}}" alt="{{nosearchlogo.alt}}">
                    </div>
                </div>
                <profile-summary></profile-summary>
            </div>
        </nav>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer(
            {
                is: "header-view",
                properties: {
                    nosearchlogo: {
                        type: Object,
                        notify: true,
                        value: {}
                    }
                },
                loadLogoconfigs: function () {
                    var self = this;
                    self.$.http.get("/" + window.configName + "/images-config", window.config.services.configuration)
                        .then(function (data) {
                            if (data.nosearchlogo) {
                                self.set('nosearchlogo', data.nosearchlogo);
                            }

                        }).fail(function (e) {
                            console.log("loadLogoconfigs error is ", e);
                        });
                },
                ready: function () {
                    var self = this;

                    if (window.jQuery) {
                        self.loadLogoconfigs();
                    } else {
                        window.addEventListener("WebComponentsReady", self.loadLogoconfigs());
                    }
                }
            });
    </script>
</dom-module>