<dom-module id="event-listner">
    <template>
    </template>

    <script>
        Polymer({
            is: 'event-listner',
            init: function(cb) {
                var ws = new WebSocket('ws://localhost:8080');

                ws.onopen = function() {
                    ws.send(JSON.stringify({
                        'type': 'authenticate', 
                        'events': ['InitialOfferApplicationProcessed_012345'], 'token':'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJteS1hcHAiLCJpYXQiOiIyMDE1LTExLTE0VDAwOjUxOjE2LjI0MTczNTZaIiwiZXhwIjoiMjAxNi0xMS0xNFQwMDo1MDo1Ni43Njc0NzY0WiIsInN1YiI6ImpvaG5zbWl0aCIsInRlbmFudCI6Im15LXRlbmFudCIsInNjb3BlIjpbImFtb3J0aXphdGlvbi9zY2hlZHVsZSIsImxvYW5zL2RvY3VtZW50cy91cGxvYWQiXSwiSXNWYWxpZCI6ZmFsc2V9.F_0aDeBgLpNGBiD5IVVAgEN07swGpnbhg8-yTWFzqX0'}));
                }
                    
                ws.onmessage = function(message){ 
                        cb(JSON.parse(message.data));
                        console.log(JSON.parse(message.data));
                    }

            }
        });
    </script>
</dom-module>
