<dom-module id="nav-node">
	<template>
		<style>
			li.active {
				background: #03466B !important;
				border-left: 0px solid #D80109 !important;
			}
			li a:hover,
			li a:focus {
				background: #03466B !important;
			}
			.nav-2-level
			{
				margin-left:-10px
			}
			.nav-1-level
			{
				margin-left:-10px
			}
			.nav-1-level li a {
				padding: 14px 10px 14px 25px !important;
			}
			.nav li > a {
				font-size: 15px;
			}
			.nav li.active > a {
				font-size: 15px;
			}
			.nav-3-level li > a{
				font-size: 13px;
			}
			.nav-3-level li.active > a{
				font-size: 13px;
			}
			.nav-label.nav-node {
				display: inline-block;
			}
			.ApplicationICN
			{
				background: transparent url("../images/applications.png") no-repeat;
			    width:16px;
				display: inline-block;
				height: 16px;
			}
			.FollowupsICN
			{
				background: transparent url("../images/followup.png") no-repeat;
				width:16px;
				display: inline-block;
				height: 16px;
			}
			.ReviewICN
			{
				background: transparent url("../images/review.png") no-repeat;
				width:16px;
				display: inline-block;
				height: 16px;
			}
			.BankICN
			{
				background: transparent url("../images/bank.png") no-repeat;
				width:16px;
				display: inline-block;
				height: 16px;
			}
			.PostApprovalICN
			{
				background: transparent url("../images/postapproval.png") no-repeat;
				width:16px;
				display: inline-block;
				height: 16px;
			}
			.FailedICN
			{
				background: transparent url("../images/failedMenu.png") no-repeat;
				width:16px;
				display: inline-block;
				height: 16px;
			}
			.UserICN
			{
 				background: transparent url("../images/followup.png") no-repeat;
				width: 16px;
				display: inline-block;
				height: 16px;
			}
			.nav-label
			{
				display:block;
			}
		</style>
		<li class$="{{getActiveClass(active)}}" aria-expanded$="{{active}}">
			<a class='link' href$="{{node.url}}" data-title$="{{node.title}}" on-click="handleClick">
				<i hidden$="{{ !node.icon }}" class$="{{join('', '', '', node.icon)}}"></i>
				<span class="nav-label">{{node.title}}</span>
				<template is="dom-if" if="{{node.nodes}}">
					<span class="fa arrow"></span>
				</template>
			</a>
			<template is="dom-if" if="{{node.nodes}}">
				<ul class$="{{join('', 'nav ', 'nav-', level, '-level')}}">
					<template is="dom-repeat" items="{{node.nodes}}">
						<nav-node node="{{item}}" level="3"></nav-node>
					</template>
				</ul>
			</template>
		</li>
		<session-manager id="session"></session-manager>
		<http-request id="http"></http-request>
	</template>
	<script>
		Polymer({
			is: "nav-node",
			properties: {
				node: {
					type: Object,
					readOnly: false
				},
				level: Number,
				active: {
					type: Boolean,
					value: true
				}
			},
			ready: function () {
				var self = this;
				if (window.jQuery) {
					self.init()()
				} else {
					window.addEventListener("WebComponentsReady", self.init());
				}
			},
			init: function () {
				var self = this;

				return function () {
					if (self.node.nodes) {
						self.menuShowing = true;
					}
					self.checkIfActive();
				}
			},
			checkIfActive: function () {
				this.active = this.isActive();
				if (this.$$("ul") != undefined)
					this.$$("a.link").setAttribute("aria-expanded", this.active);

			},
			isActive: function () {
				var sameUrl = function (url) {
					//return url == document.location.hash;
					var searchText = url.substr((url.lastIndexOf("/") + 1), url.length);
					var urlParts = document.location.hash.split("/");
					for (var i = 0; i < urlParts.length; i++) {
						if (urlParts[i] === searchText) {
							return true;
						}
					}
					return false;
				};
				if (this.menuShowing) {
					return true;
				}
				return sameUrl(this.node.url) || (this.node.nodes != undefined && this.node.nodes.find(function (e) { return sameUrl(e.url); }) != undefined);
			},
			join: function (separator) {
				return Array.prototype.slice.call(arguments, 1).join(separator);
			},
			getActiveClass: function (active) {
				return active ? "active" : "";
			},
			processClick: function (userObj) {
				var $navList = $(this).parents("navigation-list");
				if (!this.node.nodes) {
					$navList.find("nav-node").each(function (index, node) {
						if (node.active && !node.node.nodes) {
							node.active = false;
						}
					});
				}
				$('ul', this).toggleClass("collapse");
				if (this.menuShowing != null) {
					this.menuShowing = !this.menuShowing;
				}
				if (this.node.nodes) {
					this.active = !this.active;
				} else {
					this.active = true;
				}
			},
			handleClick: function (event) {
				var self = this;
				var token = self.$.session.get('token');
				window.jQuery.ajax({
					type: "GET",
					url: window.config.services.security,
					mimeType: "text/html",
					beforeSend: function (xhr) {
						xhr.setRequestHeader('Authorization', "Bearer " + token);
					},
					success: function (data) {
						self.processClick(data);
					},
					error: function (xhr, status, errorThrown) {
						if (xhr.status === 404) {
							window.location.href = "#/securityLogin";
						}
					}
				});
			}
		});
	</script>
</dom-module>