<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="ui-elements/sk-wave.html"></html-import>
<dom-module is="auth-login">
    <style>
        .sk-spinner .sk-rect {
            background-color: #88BF40;
        }
    </style>
    <template>
        <div class="ce-loan-apply-container">
            <div class="col-sm-12">
                <div class="ce-loan-apply-slides">
                    <div class="ce-loan-apply-slide">
                        <h2>Sign In</h2>
                        <p class="short-decription"></p>
                        <form id="login-form">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                            <div class="slide-box slide-loan-amount">
                            <div class="form-group input-label-anim">
                                <label class="control-label" for="">User Name</label>
                                <input id="username" type="text" name="mobile" placeholder="User Name" data-m-dec="0" data-v-max="9999999999" data-d-group="0" value="{{username::input}}" class="form-control" autocomplete="off">
                            </div>
                            <div class="form-group input-label-anim">
                                <label class="control-label" for="">Password</label>
                                <input id="password" name="password" type="password" placeholder="Password" maxlength="15" class="form-control" value="{{password::input}}" autocomplete="off">
                                <div class="help-block text-right"><a href="javascript:;" on-click="resetPassword">Forgot the password?</a></div>
                            </div>
                            <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
                            </div>
                            <div class="slide-action"><a id="log-in" hidden$="{{spin}}" on-click="authenticateUser"  class="btn btn-primary activity-action-btn">Sign In</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <identity-service id="identity"></identity-service>
    </template>
    <script>
        Polymer({
            is: "auth-login",
            properties: {
                authenticationInfo: {
                    type: Object,
                    notify: true
                }
            },
            attached: function() {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                self.spin = false;
                self.hasError = false;
                self.url = "/";
                self.username = "";
                self.password = "";
                self.portal = window.portal;

                return function() {
                    //  $('#username').autoNumeric({
                    //      aSep: ''
                    //  });

                    $("#username").on("blur keydown", function(e) {
                        if (e.which !== 13 && e.type !== "blur") {
                            return;
                        } else if (e.which === 13 && e.type !== "blur") {
                            return $(this).trigger("blur");
                        }
                        $("#password").focus();
                    });

                    // Username label animation not working for autonumeric,
                    // hence added keypress event here explicitly.
                    $("#username").on("keypress", function(e) {
                        $(this).parents('.form-group').find('label').addClass('label-up');
                    });

                    $("#password").on("keydown", function(e) {
                        if (e.which === 13) {
                            self.authenticateUser();
                        }
                    });

                    function validate_form() {
                        $("#login-form").validate({
                            rules: {
                                mobile: {
                                    required: true
                                },
                                password: {
                                    required: true
                                }
                            },
                            messages: {}
                        });
                    }
                    setTimeout(validate_form, 100);
                }
            },
            resetPassword: function() {
                window.location.hash = "#/securityRequest";
            },
            authenticateUser: function(e) {
                if (!$('#login-form').valid()) {
                    return;
                }
                var self = this;
                if (e) {
                    e.preventDefault();
                }
                self.spin = true;
                self.$.identity.login(self.username, self.password,self.portal)
                    .done(function() {
                        self.spin = false;
                    })
                    .fail(function(err) {
                        self.spin = false;
                        return self.setErrorMessage("Your Mobile Number or password was incorrect");
                    })
            },
            resetLogin: function() {
                this.forgotPassword = false;
                this.resettingPassword = false;
            },
            setErrorMessage: function(message, field) {
                $(field).addClass("error");
                $("#error-message", this).text(message);
                this.hasError = true;
            }
        })
    </script>
</dom-module>