<html-import html-href="fact-verification/fact-modal.html"></html-import>
<html-import html-href="fact-verification/fact-details.html"></html-import>
<html-import html-href="ui-elements/color-status.html"></html-import>
<dom-module is="verification-details">
    <style>
        .table>tbody>tr>td {
            vertical-align: middle;
        }
        
        td .btn {
            margin: 0 !important;
        }
    </style>
    <template>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fact</th>
                    <th>Status</th>
                    <th>Verification Result</th>
                    <th>Verified By</th>
                    <th>Verified On</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{facts}}">
                    <tr>
                        <td>{{item.displayName}}</td>
                        <td>{{item.status}}</td>
                        <td>
                            <color-status display-Text="{{item.verificationResult}}"></color-status>
                        </td>
                        <td>{{item.verifiedBy}}</td>
                        <td>{{item.verifiedDate}}</td>
                        <td>
                            <template is="dom-if" if="[[_checkFactInfo(item)]]">
                                <fact-modal id="[[generateId(item)]]" fact-obj="[[item]]" application-number="{{applicationNumber}}" fire-event="{{getEvents('VerificationDashboard')}}"></fact-modal>
                                <button on-click="showFactModal" class="btn btn-primary">Detail</button>
                            </template>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "verification-details",
            properties: {
                facts: {
                    type: Array,
                    notify: true,
                    value: []
                }
            },
            _checkFactInfo: function (item) {
                if (item.manualForm) {
                    return true;
                }
                return false;
            },
            generateId: function (item) {
                return item.fact + item.displayOrder;
            },
            showFactModal: function (e) {
                this.$$('#' + this.generateId(e.model.__data__.item)).show();
            },
            formatDate: function (date) {
                if (date !== undefined && date !== null && date !== "") {
                    return moment.tz(date, window.config.timezone).format("MM-DD-YYYY LT z");
                }
                return "";
            },
            _checkIfNullObject: function (obj) {
                return Object.keys(obj).length === 0 && obj.constructor === Object;
            },
            _getFactByFactName: function (array, propName, factName) {
                var Obj = array.filter(function (e) {
                    return e[propName] === factName;
                })[0];
                return Obj || {};
            },
            _checkVerificationStatus: function (factObj, requiredObj) {
                var self = this;
                if (!self._checkIfNullObject(factObj)) {
                    requiredObj.attempts = factObj.attempts;
                    requiredObj.verificationSources = factObj.verificationSources;
                    if (factObj.hasOwnProperty("verificationStatus")) {
                        if (factObj.verificationStatus === "None") {
                            requiredObj.initiated = true;
                            requiredObj.verifyButton = false;
                        }
                        if (factObj.verificationStatus === "Failed") {
                            requiredObj.initiated = false;
                            requiredObj.verifyButton = true;
                        }
                        if (factObj.verificationStatus === "Passed") {
                            requiredObj.initiated = false;
                            requiredObj.verifyButton = false;
                        }
                    }
                }
                return requiredObj;
            },
            _checkVerificationStatusForSource: function (sourceName, sources, status) {
                var attemptObj = sources.filter(function (e) {
                    return e.sourceName === sourceName && e.result === status;
                });
                return attemptObj.length > 0 ? true : false;
            },
            _checkVerificationStatusBasedOnTabs: function (factConfig, factObj, requiredObj) {
                var self = this;
                var tempObj = self._checkVerificationStatus(factObj, requiredObj);
                if (factConfig.tabs.length <= 1) {
                    return tempObj;
                }
                else {
                    //checking the status of first Method if its failed then need to display second method form if its not passed.
                    var tab1 = factConfig.tabs[0];
                    var tab2 = factConfig.tabs[1];
                    if (tempObj.attempts.length > 0 && self._checkVerificationStatusForSource(tab1.source, tempObj.attempts, "Failed")) {
                        tempObj.initiated = true;
                        tempObj.verifyButton = false;
                    }
                    if (tempObj.attempts.length > 0 && self._checkVerificationStatusForSource(tab2.source, tempObj.attempts, "Passed")) {
                        requiredObj.initiated = false;
                        requiredObj.verifyButton = false;
                    }
                    return tempObj;
                }
            },
            _verificationDetails: function (facts) {
                var self = this;
                var verificationEngine = window.config.services.verificationEngine;
                self.$.http.get("/application/" + self.applicationNumber, verificationEngine).then(function (data) {
                    for (var i = 0; i < facts.length; i++) {
                        var factObj = self._getFactByFactName(data, 'factName', facts[i].fact);
                        if (!self._checkIfNullObject(factObj)) {
                            var requiredObj = { initiated: false, verifyButton: true };
                            facts[i].status = factObj.currentStatus;
                            facts[i].verificationResult = factObj.verificationStatus;
                            facts[i].verifiedBy = factObj.lastVerifiedBy;
                            facts[i].verifiedDate = self.formatDate(factObj.lastVerifiedDate);
                            facts[i].attempts = factObj.attempts;
                            facts[i].verificationSources = factObj.verificationSources;
                            facts[i] = $.extend({}, facts[i], self._checkVerificationStatusBasedOnTabs(facts[i], factObj, requiredObj));
                        }
                    }
                    self.set('facts', $.extend([], facts));
                }).fail(function (ex) {
                    console.log("loadConfig error is ", ex);
                });
            },
            checkIfObjectIsAlreadyAddedInArray: function (objArray, propName, value) {
                for (var i = objArray.length - 1; i > -1; i--) {
                    var propObj = objArray[i];
                    if (propObj[propName] === value) {
                        return true;
                    }
                }
                return false;
            },
            _FetchMethodsInfoForManualFact: function (factConfig, facts, factName) {
                var fact = this._getFactByFactName(facts, 'name', factName);
                var methodList = fact.methods.filter(function (e) {
                    return (e.sources = e.sources.filter(function (e) {
                        return e.type === 'Form';
                    })).length > 0;
                });
                var tabs = methodList.map(function (t) {
                    return {
                        tabName: t.name,
                        method: t.name,
                        source: t.sources[0].name,
                        document: t.sources[0].settings.hasOwnProperty('documentRequired') ? t.sources[0].settings.documentRequired : '',
                        values: factConfig[t.name] != undefined ? factConfig[t.name].values : {},
                        controls: factConfig[t.name] != undefined ? factConfig[t.name].controls : {}
                    };
                });
                return (tabs.length > 0 && factName !== "EmploymentVerification") ? tabs : [];
            },
            _transformFacts: function (facts, factConfig) {
                var self = this;
                var factList = [];
                var keys = Object.keys(factConfig);
                for (var i = 0; i < keys.length; i++) {
                    var factObj = factConfig[keys[i]];
                    var tabs = self._FetchMethodsInfoForManualFact(factConfig, facts, factObj.fact);
                    var tempObj = {};
                    tempObj.fact = factObj.fact;
                    tempObj.displayName = factObj.displayName;
                    tempObj.displayOrder = factObj.displayOrder;
                    tempObj.status = "-";
                    tempObj.verificationResult = "-";
                    tempObj.verifiedBy = "-";
                    tempObj.verifiedDate = "-";
                    tempObj.attempts = [];
                    tempObj.verificationSources = [];
                    tempObj.tabs = tabs;
                    tempObj.manualForm = (tabs.length > 0 || factObj.fact === "EmploymentVerification") ? true : false;
                    tempObj.initiated = false;
                    tempObj.verifyButton = true;
                    if (!self.checkIfObjectIsAlreadyAddedInArray(factList, 'fact', factObj.fact)) {
                        factList.push(tempObj);
                    }
                    tempObj = {};
                }
                return factList;
            },
            _getMasterData: function (factsInfo) {
                var self = this;
                var normObjArr = [];
                var normObjArrSort = [];
                var configEndpoint = window.config.services.backofficeconfiguration;
                var url = "/" + window.configName + "/facts";
                self.$.http.get(url, configEndpoint).then(function (data) {
                    var facts = self._transformFacts(factsInfo, data);
                    facts = facts.sort(function (obj1, obj2) {
                        return obj1.displayOrder - obj2.displayOrder;
                    });
                    self._verificationDetails(facts);
                }).fail(function (e) {
                    console.log("load config error is ", e);
                });
            },
            _loadFacts: function () {
                var self = this;
                var verificationEngine = window.config.services.verificationEngine;
                self.$.http.get("/application", verificationEngine).then(function (data) {
                    self._getMasterData(data);
                }).fail(function (e) {
                    console.log("_loadFacts error is ", e);
                });
            },
            attached: function () {
                this._loadFacts();
                this.addEventListener("VerificationDashboardRefresh", this.verificationDashboardRefresh.bind(this));
            },
            verificationDashboardRefresh: function () {
                this._loadFacts();
            },
            getEvents: function (tab) {
                if (window.config.events) {
                    var event = window.config.events[tab];
                    return event;
                }
            }
        });
    </script>
</dom-module>