<dom-module id="email-input">
    <style>
    </style>
    <template>
        <input id="email" type="text" class="form-control" value="{{inputValue::input}}">
    </template>
    <script>
        Polymer({
            is: "email-input",
            properties: {
                inputValue: {
                    type: String,
                    notify: true
                }
            },
            attached: function() {
                var self = this;
                
                if (window.jQuery && $.fn.mask) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                    $(self.$.email).mask("A", {
                       translation: {
                           "A": { pattern: /[\w@\-.+]/, recursive: true }
                       } 
                    });
                }
            },
            validate: function() {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                var valid = re.test(this.inputValue);
                
                if (!valid) {
                    $("input", this).addClass("error");
                    return false;
                }
                return true;
            },
            val: function() {
                if (arguments[0] != undefined) {
                    this.inputValue = arguments[0];
                }
                return this.inputValue || "";
            }
        });
    </script>
</dom-module>