<dom-module id="add-funding-request">
    <template>
        <http-request id="http"></http-request>
        <div class="slide-action">
            <button id="addfundingrequest" on-click="addfunding" class="btn btn-primary activity-action-btn">Add Funding Request</button>
        </div>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "add-funding-request",
            addfunding: function () {
                var self = this;
                var url = '/application/' + self.applicationNumber + '/add/fundingrequest'
                var appProcessorEndpoint = window.config.services.appProcessor;
                self.$.http.post(url,{}, appProcessorEndpoint
                ).then(function (data) {
                    console.log("addfunding data is ", data);
                    self.raiseAppRefreshEvent();
                }).fail(function (e) {
                    console.log("addfunding error is " + e);
                });
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            },
            ready: function () {
            },
            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>