<html-import html-href="app/dynamic-form/dynamic-form.html"></html-import>
<html-import html-href="ui-elements/grid-component.html"></html-import>
<dom-module id="bankurptcy-review">
    <template>
        <http-request id="http"></http-request>
        <div class="slide-action">
            <http-request id="http"></http-request>
            <div class="slide-action">
                <form id="bankurptcySearchForm" is="iron-form" class="form-horizontal" name="bankurptcySearchForm">
                    <dynamic-form form-configuration={{bankurptcySearchConfiguration}} values="{{bankurptcySearchConfiguration.values}}">
                    </dynamic-form>
                    </br>
                    <button id="searchCompanies" on-click="searchBnkruptcy" class="btn btn-primary activity-action-btn">Bankurptcy Search</button>
                </form>
                <div id="bankurptcySearchGridId" style="display: none;">
                    <grid-component grid-Id="bankurptcySearchGrid" column-Headers="{{columnHeaders}}" column-Definations="{{columnDefinations}}"
                        grid-Data="{{records}}" selected-Rowdata="{{selectedBnkruptcydata}}"></grid-component>
                    <br/>
                    <button id="call_Bankruptcy" on-click="callBankruptcy" class="btn btn-primary activity-action-btn">Call Bankruptcy Report</button>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "bankurptcy-review",
            properties: {
                columnHeaders: {
                    type: Array,
                    notify: true,
                    value: ['debtors.0.names.0.first','debtors.0.names.0.last','debtors.0.ssn','caseNumber' ]
                },
                columnDefinations: {
                    type: Array,
                    notify: true,
                    value: [{ name:'debtors.0.names.0.first'},{ name:'debtors.0.names.0.last'},{ name:'debtors.0.ssn'},{ name: "caseNumber" }]
                },
                records: {
                    type: Array,
                    notify: true,
                    observer: '_showBankruptcySearchList'
                },
                FullName: {
                    type: Array,
                    notify: true                   
                },
                selectedBnkruptcydata: {
                    type: Object,
                    notify: true
                },
                bankurptcySearchConfiguration: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "Ssn": {
                                "title": "Ssn",
                                "type": "textbox",
                                "validations": {
                                    "required": true
                                }
                            },                           
                            "FirstName": {
                                "title": "FirstName",
                                "type": "textbox",
                                "validations": {
                                    "required": true
                                }
                            },                                                      
                            "LastName": {
                                "title": "LastName",
                                "type": "textbox",
                                "validations": {
                                    "required": false
                                }
                            }
                        },
                        values:
                        {
                            Ssn: "",                           
                            FirstName: "",
                            LastName: ""                                                       
                        }
                    }
                }
            },
            _initialView: function () {
                this.set("records", []);
                $('#bankurptcySearchGridId').hide();
                $('#bankurptcySearchForm').show();
            },
            _reportView: function () {
                $('#bankurptcySearchGridId').show();
                $('#bankurptcySearchForm').hide();
            },
            _checkNullUndefined: function (obj) {
                if (obj && obj != null) {
                    return obj;
                }
                return '';
            },            
            _loadDataAttributes: function () {
                var self = this;
                var url = "/application/" + self.applicationNumber;
                var dataAttributes = window.config.services.dataAttributes;
                self.$.http.get(url, dataAttributes).then(function (data) {
                    var appDetails = data.application;
                    var owners = data.application.owners[0];
                    self.bankurptcySearchConfiguration.values['Ssn'] = owners.SSN;                   
                    self.bankurptcySearchConfiguration.values['FirstName'] = appDetails.owners[0].FirstName;
                    self.bankurptcySearchConfiguration.values['LastName'] = appDetails.owners[0].LastName;              
                    self.set('bankurptcySearchConfiguration', $.extend({}, self.bankurptcySearchConfiguration));
                }).fail(function (e) {
                    console.log("loadDataAttributes error is ", e);
                });
            },
            _showBankruptcySearchList: function () {
                var self = this;
                if (self.records && self.records != null && self.records.length > 0)
                    $('#bankurptcySearchGridId').show();
                else $('#bankurptcySearchGridId').hide();
            },           
            searchBnkruptcy: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement;               
                var url = '/application/' + self.applicationNumber + '/bankruptcy/search'
                var appProcessorEndpoint = window.config.services.appProcessor;
                if (form.validate()) {                   
;
                    var request = {};
                    request.Ssn = self.bankurptcySearchConfiguration.values['Ssn'];
                    request.FirstName = self.bankurptcySearchConfiguration.values['FirstName'];
                    request.LastName = self.bankurptcySearchConfiguration.values['LastName'];                   
                    self.$.http.post(url, request, appProcessorEndpoint
                    ).then(function (data) {
                        console.log("bankruptcy Search data is ", data);
                        if (data && data != null) {
                            self._reportView();
                            self.set("records", data.records);
                        }
                    }).fail(function (e) {
                        self._initialView();
                        console.log("bankruptcy Search error is " + e);
                    });
                }
            },
            callBankruptcy: function () {
                var self = this;
                var request = {};
                request.UniqueId = self.selectedBnkruptcydata.debtors[0].uniqueId;
                request.QueryId = self.selectedBnkruptcydata.tmsId;             
                var url = '/application/' + self.applicationNumber + '/bankruptcy/report'
                var appProcessorEndpoint = window.config.services.appProcessor;
                self.$.http.post(url, request, appProcessorEndpoint
                ).then(function (data) {
                    self.raiseAppRefreshEvent();
                    console.log("bankruptcy Report data is ", data);
                }).fail(function (e) {
                    self._reportView();
                    console.log("bankruptcy Report error is " + e);
                });
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            },
            init: function () {
                var self = this;
                self._loadDataAttributes();
            },
            ready: function () {
            },
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            }
        });
    </script>
</dom-module>