<link rel="import" href="../ui-elements/grid-component.html">
<html-import html-href="app/dynamic-form/dynamic-form.html"></html-import>
<dom-module id="business-credit-report">
    <template>
        <http-request id="http"></http-request>
        <div class="slide-action">
            <form id="experianSearchBusinessForm" is="iron-form" class="form-horizontal" name="experianSearchForm">
                <dynamic-form form-configuration={{experianBusinessSearchConfiguration}} values="{{experianBusinessSearchConfiguration.values}}">
                </dynamic-form>
                <br/>
                <button id="listofSimilersbtn" on-click="getListOfSimilars" class="btn btn-primary activity-action-btn">Get Similars</button>
            </form>
            <div id="listOfSimilarsGridId" style="display: none;">
                <grid-component grid-Id="listOfSimilarsGrid" column-Headers="{{columnHeaders}}" column-Definations="{{columnDefinations}}"
                    grid-Data="{{listOfSimilars}}" selected-Rowdata="{{selectedCompany}}"></grid-component>
                    <br/>
                    <button id="perform_credit_review" on-click="getExperianBusinessreport" class="btn btn-primary activity-action-btn">Call Experian Business</button>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "business-credit-report",
            properties: {
                columnHeaders: {
                    type: Array,
                    notify: true,
                    value: ['Experian File Number', 'Business Name']
                },
                columnDefinations: {
                    type: Array,
                    notify: true,
                    value: [{ name: "businessName" }, { name: "experianFileNumber" }]
                },
                listOfSimilars: {
                    type: Array,
                    notify: true,
                    observer: '_showCompanyList'
                },
                businessReportRequest: {
                    type: Object,
                    notify: true,
                },
                inquiryTransactionNumber: {
                    type: String,
                    notify: true,
                    value: ''
                },
                selectedCompany: {
                    type: Object,
                    notify: true,
                    observer: '_preparebusinessReportRequest'
                },
                experianBusinessSearchConfiguration: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "LegalBusinessName": {
                                "title": "Legal Business Name",
                                "type": "textbox",
                                "validations": {
                                    "required": true
                                }
                            },
                            "DBA": {
                                "title": "Doing Business As",
                                "type": "textbox",
                                "validations": {
                                    "required": false
                                }
                            },
                            "AddressLine1": {
                                "title": "Address",
                                "type": "textbox",
                                "validations": {
                                    "required": false,
                                    "minLen": 0,
                                    "maxLen": 64
                                }
                            },
                            "City": {
                                "title": "City",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "State": {
                                "title": "State",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "ZipCode": {
                                "title": "Zip Code",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 6,
                                    "maxLen": 6
                                }
                            }
                        },
                        values:
                        {
                            LegalBusinessName: "",
                            DBA: "",
                            AddressLine1: "",
                            City: "",
                            State: "",
                            ZipCode: ""
                        }
                    }
                }
            },
            _initialView: function () {
                this.set("listOfSimilars", []);
                $('#listOfSimilarsGridId').hide();
                $('#experianSearchBusinessForm').show();
            },
            _reportView: function () {
                $('#listOfSimilarsGridId').show();
                $('#experianSearchBusinessForm').hide();
            },
            _checkNullUndefined: function (obj) {
                if (obj && obj != null) {
                    return obj;
                }
                return '';
            },
            _getFullBusinessAddess: function (businessAddress) {
                var address = '';
                if (businessAddress && businessAddress != null) {
                    address = this._checkNullUndefined(businessAddress.AddressLine1) + ' ' + this._checkNullUndefined(businessAddress.AddressLine2);
                }
                return address;
            },
            _loadDataAttributes: function () {
                var self = this;
                var url = "/application/" + self.applicationNumber;
                var dataAttributes = window.config.services.dataAttributes;
                self.$.http.get(url, dataAttributes).then(function (data) {
                    var appDetails = data.application;
                    var businessAddress = data.application.businessAddress
                    self.experianBusinessSearchConfiguration.values['LegalBusinessName'] = appDetails.legalBusinessName;
                    self.experianBusinessSearchConfiguration.values['DBA'] = appDetails.dBA;
                    self.experianBusinessSearchConfiguration.values['ZipCode'] = businessAddress.ZipCode;
                    self.experianBusinessSearchConfiguration.values['AddressLine1'] = self._getFullBusinessAddess(businessAddress);
                    self.experianBusinessSearchConfiguration.values['City'] = businessAddress.City;
                    self.experianBusinessSearchConfiguration.values['State'] = businessAddress.State;
                    self.set('experianBusinessSearchConfiguration', $.extend({}, self.experianBusinessSearchConfiguration));
                }).fail(function (e) {
                    console.log("loadDataAttributes error is ", e);
                });
            },
            _preparebusinessReportRequest: function () {
                var self = this;
                if (self.selectedCompany && self.selectedCompany != null) {
                    var businessRptRequest = {};
                    businessRptRequest.TransactionNumber = self.inquiryTransactionNumber;
                    businessRptRequest.BisListNumber = self.selectedCompany.experianFileNumber + self.selectedCompany.recordSequenceNumber;
                    businessRptRequest.DBA = self.selectedCompany.BusinessName;
                    businessRptRequest.LegalBusinessName = self.selectedCompany.BusinessName;
                    businessRptRequest.AddressLine1 = self.selectedCompany.StreetAddress;
                    businessRptRequest.City = self.selectedCompany.City;
                    businessRptRequest.State = self.selectedCompany.State;
                    businessRptRequest.ZipCode = self.selectedCompany.Zip;
                    self.set('businessReportRequest', $.extend({}, businessRptRequest));
                }
            },
            _showCompanyList: function () {
                var self = this;
                if (self.listOfSimilars && self.listOfSimilars != null && self.listOfSimilars.length > 0)
                    $('#listOfSimilarsGridId').show();
                else $('#listOfSimilarsGridId').hide();
            },
            getListOfSimilars: function (event) {
                event.preventDefault();
                var self = this;
                var url = '/application/' + self.applicationNumber + '/experian/business/search'
                var appProcessorEndpoint = window.config.services.appProcessor;
                var form = Polymer.dom(event).localTarget.parentElement;
                if (form.validate()) {
                    self.$.http.post(url, self.experianBusinessSearchConfiguration.values, appProcessorEndpoint
                    ).then(function (data) {
                        if (data && data.products
                            && data.products.premierProfile
                            && data.products.premierProfile
                            && data != null && data.products != null
                            && data.products.premierProfile != null
                            && data.products.premierProfile != null) {
                            self._reportView();
                            var resultModel = data.products.premierProfile[0];
                            if (resultModel.inputSummary && resultModel.inputSummary != null) {
                                self.inquiryTransactionNumber = resultModel.inputSummary[0].inquiryTransactionNumber;
                            }
                            if (resultModel.listOfSimilars && resultModel.listOfSimilars != null && resultModel.listOfSimilars.length > 0) {
                                self.set("listOfSimilars", resultModel.listOfSimilars);
                            } else {
                                self._initialView();
                            }
                        }
                        console.log("Experian listof similars data is ", data);

                    }).fail(function (e) {
                        self._initialView();
                        console.log("Experian listof similars error is " + e);
                    });
                }
            },
            getExperianBusinessreport: function () {
                var self = this;
                var url = '/application/' + self.applicationNumber + '/experian/business/report'
                var appProcessorEndpoint = window.config.services.appProcessor;
                self.$.http.post(url, self.businessReportRequest, appProcessorEndpoint
                ).then(function (data) {
                    self.raiseAppRefreshEvent();
                }).fail(function (e) {
                    self._reportView();
                    console.log("Experian Get Business report error is " + e);
                });
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            },
            init: function () {
                var self = this;
                self._loadDataAttributes();
            },
            ready: function () {
            },
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            }
        });
    </script>
</dom-module>