<link rel="import" href="../ui-elements/grid-component.html">
<html-import html-href="app/dynamic-form/dynamic-form.html"></html-import>
<dom-module id="call-paynet">
    <template>
        <http-request id="http"></http-request>
        <div class="slide-action">
            <form id="paynetSearchCompanyForm" is="iron-form" class="form-horizontal" name="paynetSearchForm">
                <dynamic-form form-configuration={{paynetSearchConfiguration}} values="{{paynetSearchConfiguration.values}}">
                </dynamic-form>
                </br>
                <button id="searchCompanies" on-click="searchCompany" class="btn btn-primary activity-action-btn">Search Companies</button>
            </form>
            <div id="paynetCompaniesGridId" style="display: none;">
                <grid-component grid-Id="paynetCompaniesGrid" column-Headers="{{columnHeaders}}" column-Definations="{{columnDefinations}}"
                    grid-Data="{{companiesList}}" selected-Rowdata="{{selectedCompany}}"></grid-component>
                    <br/>
                    <button id="call_Paynet" on-click="callPaynet" class="btn btn-primary activity-action-btn">Call Paynet</button>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "call-paynet",
            properties: {
                columnHeaders: {
                    type: Array,
                    notify: true,
                    value: ['Paynet Id', 'Company Name']
                },
                columnDefinations: {
                    type: Array,
                    notify: true,
                    value: [{ name: "payNetId" }, { name: "name" }]
                },
                companiesList: {
                    type: Array,
                    notify: true,
                    observer: '_showCompanyList'
                },
                selectedCompany: {
                    type: Object,
                    notify: true
                },
                paynetSearchConfiguration: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "CompanyName": {
                                "title": "Legal Business Name",
                                "type": "textbox",
                                "validations": {
                                    "required": true
                                }
                            },
                            "TaxId": {
                                "title": "Business Tax ID",
                                "type": "textbox",
                                "validations": {
                                    "required": true
                                }
                            },
                            "Alias": {
                                "title": "Doing Business As",
                                "type": "textbox",
                                "validations": {
                                    "required": false
                                }
                            },
                            "Address": {
                                "title": "Address",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 0,
                                    "maxLen": 64
                                }
                            },
                            "City": {
                                "title": "City",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "State": {
                                "title": "State",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 1,
                                    "maxLen": 64
                                }
                            },
                            "Phone": {
                                "title": "Phone",
                                "type": "textbox",
                                "validations": {
                                    "required": true,
                                    "minLen": 10,
                                    "maxLen": 10
                                }
                            }
                        },
                        values:
                        {
                            CompanyName: "",
                            TaxId: "",
                            Alias: "",
                            Address: "",
                            City: "",
                            State: "",
                            Phone: ""
                        }
                    }
                }
            },
            _initialView: function () {
                this.set("companiesList", []);
                $('#paynetCompaniesGridId').hide();
                $('#paynetSearchCompanyForm').show();
            },
            _reportView: function () {
                $('#paynetCompaniesGridId').show();
                $('#paynetSearchCompanyForm').hide();
            },
            _checkNullUndefined: function (obj) {
                if (obj && obj != null) {
                    return obj;
                }
                return '';
            },
            _getFullBusinessAddess: function (businessAddress) {
                var address = '';
                if (businessAddress && businessAddress != null) {
                    address = this._checkNullUndefined(businessAddress.AddressLine1) + ' ' + this._checkNullUndefined(businessAddress.AddressLine2);
                }
                return address;
            },
            _loadDataAttributes: function () {
                var self = this;
                var url = "/application/" + self.applicationNumber;
                var dataAttributes = window.config.services.dataAttributes;
                self.$.http.get(url, dataAttributes).then(function (data) {
                    var appDetails = data.application;
                    var businessAddress = data.application.businessAddress
                    self.paynetSearchConfiguration.values['CompanyName'] = appDetails.legalBusinessName;
                    self.paynetSearchConfiguration.values['TaxId'] = appDetails.businessTaxID;
                    self.paynetSearchConfiguration.values['Alias'] = appDetails.dBA;
                    self.paynetSearchConfiguration.values['Phone'] = appDetails.businessPhone;
                    self.paynetSearchConfiguration.values['Address'] = self._getFullBusinessAddess(businessAddress);
                    self.paynetSearchConfiguration.values['City'] = businessAddress.City;
                    self.paynetSearchConfiguration.values['State'] = businessAddress.State;
                    self.set('paynetSearchConfiguration', $.extend({}, self.paynetSearchConfiguration));
                }).fail(function (e) {
                    console.log("loadDataAttributes error is ", e);
                });
            },
            _showCompanyList: function () {
                var self = this;
                if (self.companiesList && self.companiesList != null && self.companiesList.length > 0)
                    $('#paynetCompaniesGridId').show();
                else $('#paynetCompaniesGridId').hide();
            },
            searchCompany: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement;
                var url = '/application/' + self.applicationNumber + '/paynet/search'
                var appProcessorEndpoint = window.config.services.appProcessor;
                if (form.validate()) {;
                    var request = {};
                    request.CompanyName = self.paynetSearchConfiguration.values['CompanyName'];
                    request.TaxId = self.paynetSearchConfiguration.values['TaxId'];
                    request.Alias = self.paynetSearchConfiguration.values['Alias'];
                    request.Address = self.paynetSearchConfiguration.values['Address'];
                    request.City = self.paynetSearchConfiguration.values['City'];
                    request.State = self.paynetSearchConfiguration.values['State']
                    request.Phone = self.paynetSearchConfiguration.values['Phone']
                    self.$.http.post(url, request, appProcessorEndpoint
                    ).then(function (data) {
                        console.log("paynet searchCompany data is ", data);
                        if (data && data != null) {
                            self._reportView();
                            self.set("companiesList", data.companyList);

                        }
                    }).fail(function (e) {
                        self._initialView();
                        console.log("paynet searchCompany error is " + e);
                    });
                }
            },
            callPaynet: function () {
                var self = this;
                var paynetId = self.selectedCompany.payNetId;
                var url = '/application/' + self.applicationNumber + '/' + paynetId + '/paynet/report'
                var appProcessorEndpoint = window.config.services.appProcessor;
                self.$.http.get(url, appProcessorEndpoint
                ).then(function (data) {
                    self.raiseAppRefreshEvent();
                    console.log("paynet searchCompany data is ", data);
                }).fail(function (e) {
                    self._reportView();
                    console.log("paynet searchCompany error is " + e);
                });
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            },
            init: function () {
                var self = this;
                self._loadDataAttributes();
            },
            ready: function () {
            },
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            }
        });
    </script>
</dom-module>