<dom-module id="compute-ca-offer">
    <template>
        <http-request id="http"></http-request>
        <div class="slide-action">
            <button id="computecaoffers" on-click="computeOffer" class="btn btn-primary activity-action-btn">Compute Offers</button>
        </div>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "compute-ca-offer",
            computeOffer: function () {
                var self = this;
                var url = '/application/' + self.applicationNumber + '/compute/offer'
                var appProcessorEndpoint = window.config.services.appProcessor;
                self.$.http.get(url, appProcessorEndpoint
                ).then(function (data) {
                    console.log("computeOffer data is ", data);
                    self.raiseAppRefreshEvent();
                }).fail(function (e) {
                    console.log("computeOffer error is " + e);
                });
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            },
            ready: function () {
            },
            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>