<html-import html-href="app/dynamic-form/dynamic-form.html"></html-import>
<html-import html-href="ui-elements/grid-component.html"></html-import>
<dom-module id="criminalrecord-review">
    <template>
        <http-request id="http"></http-request>
        <div class="slide-action">
            <http-request id="http"></http-request>
            <div class="slide-action">
                <form id="CriminalRecordForm" is="iron-form" class="form-horizontal" name="CriminalRecordForm">
                    <dynamic-form form-configuration={{criminalrecordSearchConfiguration}} values="{{criminalrecordSearchConfiguration.values}}">
                    </dynamic-form>
                    </br>
                    <button id="searchCompanies" on-click="searchCriminalRecord" class="btn btn-primary activity-action-btn">CriminalRecord Search</button>
                </form>
                <div id="criminalrecordSearchGridId" style="display: none;">
                    <grid-component grid-Id="CriminalRecordSearchGrid" column-Headers="{{columnHeaders}}" column-Definations="{{columnDefinations}}"
                        grid-Data="{{records}}" selected-Rowdata="{{SelectCriminalRecorddata}}"></grid-component>
                    <br/>
                    <button id="call_Paynet" on-click="callCriminalRecord" class="btn btn-primary activity-action-btn">Call Bankruptcy Report</button>
                </div>
            </div>
        </div>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "criminalrecord-review",
            properties: {
                columnHeaders: {
                    type: Array,
                    notify: true,
                    value: ['name.first','name.last','ssn','caseNumber']
                },
                columnDefinations: {
                    type: Array,
                    notify: true,
                    value: [{ name: "name.first" }, { name: "name.last" },{ name: "ssn" },{ name: "caseNumber"}]
                },
                records: {
                    type: Array,
                    notify: true,
                    observer: '_showBCriminalRecordSearchList'
                },
                QueryId: {
                    type: String,
                    notify: true,
                    value: ''
                },
                SelectCriminalRecorddata: {
                    type: Object,
                    notify: true
                },
                criminalrecordSearchConfiguration: {
                    type: Object,
                    notify: true,
                    value: {
                        controls: {
                            "Ssn": {
                                "title": "Ssn",
                                "type": "textbox",
                                "validations": {
                                    "required": true
                                }
                            },
                            "FirstName": {
                                "title": "FirstName",
                                "type": "textbox",
                                "validations": {
                                    "required": true
                                }
                            },
                            "LastName": {
                                "title": "LastName",
                                "type": "textbox",
                                "validations": {
                                    "required": false
                                }
                            }
                        },
                        values:
                        {
                            Ssn: "",                           
                            FirstName: "",
                            LastName: ""                            
                        }
                    }
                }
            },
            _initialView: function () {
                this.set("records", []);
                $('#criminalrecordSearchGridId').hide();
                $('#CriminalRecordForm').show();
            },
            _reportView: function () {
                $('#criminalrecordSearchGridId').show();
                $('#CriminalRecordForm').hide();
            },
            _checkNullUndefined: function (obj) {
                if (obj && obj != null) {
                    return obj;
                }
                return '';
            },            
            _loadDataAttributes: function () {
                var self = this;
                var url = "/application/" + self.applicationNumber;
                var dataAttributes = window.config.services.dataAttributes;
                self.$.http.get(url, dataAttributes).then(function (data) {
                    var appDetails = data.application;  
                    var owners = data.application.owners[0];                  
                    self.criminalrecordSearchConfiguration.values['Ssn'] = appDetails.owners[0].SSN;
                    self.criminalrecordSearchConfiguration.values['FirstName'] = appDetails.owners[0].FirstName;
                    self.criminalrecordSearchConfiguration.values['LastName'] = appDetails.owners[0].LastName;                   
                    self.set('criminalrecordSearchConfiguration', $.extend({}, self.criminalrecordSearchConfiguration));
                }).fail(function (e) {
                    console.log("loadDataAttributes error is ", e);
                });
            },
            _showBCriminalRecordSearchList: function () {
                var self = this;
                if (self.records && self.records != null && self.records.length > 0)
                    $('#criminalrecordSearchGridId').show();
                else $('#criminalrecordSearchGridId').hide();
            },
            searchCriminalRecord: function (event) {
                event.preventDefault();
                var self = this;
                var form = Polymer.dom(event).localTarget.parentElement;
                var url = '/application/' + self.applicationNumber + '/criminalrecord/search'
                var appProcessorEndpoint = window.config.services.appProcessor;
                if (form.validate()) {            
;
                    var request = {};
                    request.Ssn = self.criminalrecordSearchConfiguration.values['Ssn'];
                    request.FirstName = self.criminalrecordSearchConfiguration.values['FirstName'];
                    request.LastName = self.criminalrecordSearchConfiguration.values['LastName'];                   
                    self.$.http.post(url, request, appProcessorEndpoint
                    ).then(function (data) {
                        console.log("CriminalRecord Search data is ", data);
                        if (data && data != null) {
                            self.QueryId=data.header.transactionId;
                            self._reportView();
                            self.set("records", data.records);
                        }
                    }).fail(function (e) {
                        self._initialView();
                        console.log("CriminalRecord Search error is " + e);
                    });
                }
            },
            callCriminalRecord: function () {
                var self = this;
                var request = {};
                request.UniqueId = self.SelectCriminalRecorddata.uniqueId;
                request.QueryId = self.QueryId;                
                var url = '/application/' + self.applicationNumber + '/criminalrecord/report'
                var appProcessorEndpoint =window.config.services.appProcessor;
                self.$.http.post(url, request, appProcessorEndpoint
                ).then(function (data) {
                    self.raiseAppRefreshEvent();
                    console.log("CriminalRecord Report data is ", data);
                }).fail(function (e) {
                    self._reportView();
                    console.log("CriminalRecord Report error is " + e);
                });
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            },
            init: function () {
                var self = this;
                self._loadDataAttributes();
            },
            ready: function () {
            },
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            }
        });
    </script>
</dom-module>