<html-import html-href="personal-details/application-details.html"></html-import>
<dom-module id="edit-application">
    <template>
        <http-request id="http"></http-request>
        <div class="slide-action">
            <application-details id="customDetails" application-number="{{applicationNumber}}"></application-details>
            <button id="editmode" raised onclick="animated.open()" class="btn btn-primary activity-action-btn">Edit Details</button>
        </div>
    </template>
    <script>
        Polymer({
            is: "edit-application",

            ready: function () {
            },

            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>