<dom-module id="generate-send-loanagreement">
    <template>
         <http-request id="http"></http-request>
         
        <div class="slide-action">
            <button id="sendLoanagreement" on-click="generatesendloanagreement" class="btn btn-primary activity-action-btn">Send</button>
        </div>
        <div id="sendLoanagreementMessge" style="display: none;">
            <p>{{message}}</p>
        </div>
        <url-parser id="url"></url-parser>
        <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "generate-send-loanagreement",
            properties: {
                message: {
                    type: String,
                    notify: true,
                    value: ''
                },
                messageList: {
                    type: Object,
                    notify: false,
                    value: {
                        Failed: "Unable to send loanagreement",
                        Completed: "Loanagreement send successfuly"
                    }
                }
            },
            generatesendloanagreement: function () {
                var self = this;
                var url = '/application/' + self.applicationNumber + '/generate/agreement'
                var appProcessorEndpoint = window.config.services.appProcessor;
                self.$.http.get(url,appProcessorEndpoint
                ).then(function (data) {
                    console.log("generatesendloanagreement data is ", data);
                    self.raiseAppRefreshEvent();
                }).fail(function (e) {
                    var message = self.messageList['Failed'];
                    self.set('message', message);
                    $('#sendLoanagreement').hide();
                    $('#sendLoanagreementMessge').show();
                    console.log("generatesendloanagreement error is " + e);
                });
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            },
            ready:function(){
            },

            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>