<dom-module id="perform-risk-review">
    <template>
        <http-request id="http"></http-request>
        <div class="slide-action">
            TBD
        </div>
        <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "perform-risk-review",
            properties: {

            },
            ready: function () {
            },
            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>