<dom-module id="resend-bank-linking">
    <template>
        <http-request id="http"></http-request>
        <div class="slide-action">
            <button id="resendbanklink" on-click="resendBankLinkMail" class="btn btn-primary activity-action-btn">Send Bank Link Mail</button>
        </div>
        <url-parser id="url"></url-parser>
         <utility-service id="utility"></utility-service>
    </template>
    <script>
        Polymer({
            is: "resend-bank-linking",
            resendBankLinkMail: function () {
                var self = this;
                var url = '/application/' + self.applicationNumber + '/resend/banklink'
                var appProcessorEndpoint = window.config.services.appProcessor;               
                self.$.http.post(url, {}, appProcessorEndpoint
                ).then(function (data) {
                    console.log("resnd bank link mail data is ", data);
                    self.raiseAppRefreshEvent();
                }).fail(function (e) {
                    console.log("resnd bank link mail error is " + e);
                });
            },
            raiseAppRefreshEvent: function() {
              this.$.utility.raiseEvent(this.fireEvent,{});
            },
            ready: function () {
            },
            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>