<dom-module id="sponsor-credit-pull">
    <template>
        <div>
            TBD
        </div>
    </template>
    <script>
        Polymer({
            is: "sponsor-credit-pull",

            ready:function(){
            },

            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>