<dom-module id="status-management">
  <style>
    .activity-action-btn {
      padding: 10px;
      width: 100%;
      font-size: inherit;
    }
  </style>
  <template>
    <http-request id="http"></http-request>
    <div>
      <div class="panel panel-default">
        <div class="row">
          <div class="col-md-12">
            <form is="iron-form" class="form-horizontal" name="rejectApplication">
              <paper-dropdown-menu label="select status" allowOutsideScroll required>
                <paper-listbox class="dropdown-content" attr-for-selected="myid" selected="{{selectedStatus}}">
                  <template is="dom-repeat" items="{{statusList}}" as="status">
                    <paper-item myid="[[status.code]]">[[status.name]]</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>
              <br>
              <paper-dropdown-menu label="select reason" allowOutsideScroll>
                <paper-listbox class="dropdown-content" attr-for-selected="myid" selected="{{selectedReason}}">
                  <template is="dom-repeat" items="[[reasonList]]" as="reason">
                    <paper-item myid="[[reason.key]]">[[reason.value]]</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>
              <br>
              <paper-button class="btn btn-primary activity-action-btn" on-click="updateStatus" raised>Update Status</paper-button>
            </form>
          </div>
        </div>
        <!--<div class="row">
              <template is="dom-repeat" items="{{statusList}}" as="item">
                  <button type="button" on-click="updateStatus" class="btn btn-primary btn-xs activity-action-btn">{{item.name}}</button>
              </template>
            </div>-->
      </div>
    </div>
    <url-parser id="url"></url-parser>
  </template>
  <script>
    Polymer({
      is: "status-management",
      properties: {
        reasonList: {
          type: Array,
          notify: true,
          value: []
        },
        selectedStatus: {
          type: Object,
          notify: true,
          value: {},
          observer: '_loadReasonList'
        },
        selectedReason: {
          type: Object,
          notify: true,
          value: {}
        }
      },
      _getSelectedStatus: function (statusList) {
        var self = this;
        var objList = statusList.filter(function (e) {
          return e.code === self.selectedStatus;
        });
        return objList[0] || {};
      },
      _loadReasonList: function () {
        var self = this;
        var configurationEndPoint = window.config.services.configuration;
        var url = "/status-management/entityTypes";
        self.$.http.get(url, configurationEndPoint).then(function (result) {
          var rejectStatusObj = self._getSelectedStatus(result.application.statuses);
          if (rejectStatusObj) {
            var tempList = [];
            var reasonObj = rejectStatusObj.reasons;
            if (reasonObj && reasonObj != null) {
              var keys = Object.keys(reasonObj);
              for (var i = 0; i < keys.length; i++) {
                tempList.push({ key: keys[i], value: reasonObj[keys[i]] });
              }
              self.set('reasonList', tempList);
            }
          }
        })
          .fail(function (e) {
            console.log("not able to load status configurations.", e);
          })
      },
      _showReason: function () {
        return this.reasonList && this.reasonList.length > 0 ? true : false;
      },
      updateStatus: function (e) {
        var self = this;
        var params = this.$.url.getParams();
        var statusCode = self.selectedStatus;
        console.log("appNummber is " + this.appNumber);
        history.pushState({}, "", "/#/app-view/filter:" + params.filter + "/app:" + params.app + "/code:" + statusCode);
        var event = e;
        var form = Polymer.dom(e).localTarget.parentElement;
        var resonValidation = (self.reasonList && self.reasonList.length > 0) ? (typeof self.selectedReason === 'string') : true
        if (form.validate() && resonValidation) {
          self.$.http.post(
            '/application/' + this.appNumber + '/' + self.selectedStatus + '/' + self.selectedReason,
            undefined,
            window.config.services.statusManagement
            //'http://192.168.1.59:6002'
          ).then(function (data) {
            console.log("status data is ", data);

            window.location.reload();
            self._reloadStatusList(event);
            //self._reloadFilterItems();
          }).fail(function (e) {
            console.log("Filter error is " + e);
          });
          //http://localhost:5000/application/APP_0000000002_SUF/200.01/Jignesh.j
          console.log("filter openLoanView called ");
        }
      },
      _reloadStatusList: function (e) {
        this.fire("loadStatusList", {
          statusCode: e.model.__data__.item.code
        });
      },
      _reloadFilterItems: function () {
        this.fire("reinitializeFilterItems", {});
      }
    });
  </script>
</dom-module>