<dom-module id="submit-application">
    <template>
            <http-request id="http"></http-request>
            <div class="slide-action">
                <button id="submitApp" on-click="submitApplication" class="btn btn-primary activity-action-btn">Submit</button>
            </div>
            <div id="submitAppMessge" style="display: none;">
                <p>{{message}}</p>
            </div>
            <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "submit-application",
            properties: {
                message: {
                    type: String,
                    notify: true,
                    value: ''
                },
                messageList: {
                    type: Object,
                    notify: false,
                    value: {
                        Failed: "Unable to submit application",
                        Completed: "Application submited successfully"
                    }
                }
            },
            submitApplication:function(){
                var self = this;
                var url = '/application/' + self.applicationNumber + '/submitApplication'
                var appProcessorEndpoint = window.config.services.appProcessor;
                var message = self.messageList["Completed"];
                self.set('message', message);
                $('#submitApp').hide();
                $('#submitAppMessge').show();
                // self.$.http.post(url, {}, appProcessorEndpoint
                // ).then(function (data) {
                //     console.log("submitApp data is ", data);
                //     var message = self.messageList[data.status];
                //     if (data.status == "Failed") {
                //         message += ". Reason: " + data.reasons[0];
                //     };
                //     var message = self.messageList[data.status];
                //     self.set('message', message);
                //     $('#submitApp').hide();
                //     $('#submitAppMessge').show();
                // }).fail(function (e) {
                //     console.log("submitApp error is " + e);
                // });
            },
            ready: function () {
                console.log("submit-application loaded");
            },
            attached: function () {
                var self = this;
            }
        });
    </script>
</dom-module>