<dom-module id="upload-docs">
    <style is="custom-style">
        :root {
            --vaadin-upload-buttons-primary: display: inline-block;
        }
    </style>
    <style>
        .panel-body {
            min-height: 200px;
        }
        
        .nav-tabs {
            margin-bottom: -1px;
        }
        
        .cell {
            margin: 5px;
            padding: 5px;
        }
        
        .show {
            display: block;
        }
        
        .hide {
            display: none;
        }
        
        .uploadDocWrapper {
            padding: 10px;
            border-style: dotted;
            border-width: 1px;
        }
    </style>
    <template>
        <div class="panel-body">
            <h4 id="uploadSuccessMessage" style="display: none;">Document Uploaded successfully.</h4>
            <div id="uploadDocument">
                <div class="panel-body">
                    <div class="row uploadDocWrapper">
                        <h3>Additional Document</h3>
                        <vaadin-upload id="OtherDocUpload" on-upload-request="_uploadRequest" on-upload-success="_uploadSuccess" on-upload-before="_changeServerUrl" 
                            method="POST"></vaadin-upload>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "upload-docs",
            properties: {
                defaultDocCategory: {
                    type: String,
                    notify: true,
                    value: 'other'
                },
                documentsReceived: {
                    type: Boolean,
                    notify: true,
                    value: false
                }
            },
            _uploadSuccess: function (event) {
                if (event.detail.xhr.status === 200) {
                    var res = $.parseJSON(event.detail.xhr.response);
                    console.log(res);
                    $(event.target).prev().hide();
                    $(event.target).hide();
                    $('#uploadSuccessMessage').show();
                    this.raiseAppRefreshEvent();
                }
            },
            _changeServerUrl: function (event) {
                // Changing the Upload Target
                event.detail.file.uploadTarget = this._getServerUrl();
                $('#uploadSuccessMessage').hide();
            },
            raiseAppRefreshEvent: function () {
                this.$.utility.raiseEvent(this.fireEvent, {});
            },
            _uploadRequest: function (event) {
                event.detail.xhr.setRequestHeader('Authorization', "Bearer " + window.defaultAppToken);
            },
            _getServerUrl: function () {
                var baseUrl = window.config.services.appProcessor + "/application/";
                var suburl = this.applicationNumber + "/" + this.defaultDocCategory;
                return baseUrl + suburl;
            },
            attached: function () {
            }
        });
    </script>
</dom-module>