<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/forms/activity-form.html"></html-import>
<html-import html-href="ui-elements/inputs/date-input.html"></html-import>
<html-import html-href="ui-elements/inputs/number-input.html"></html-import>
<html-import html-href="ui-elements/selectable-table.html"></html-import>
<style>
    textarea {
      resize: none;
    }
    .well {
        text-align: center;
    }
</style>
<dom-module id="reverse-payment">
    <template>
        <activity-form id="reverse-form">
            
            <table hidden$="{{!selectedPayment}}" class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td><strong>Date</strong></td>
                        <td>{{selectedPayment.date}}</td>
                    </tr>
                    <tr>
                        <td><strong>Payment Amount</strong></td>
                        <td>{{selectedPayment.amount}}</td>
                    </tr>
                    <tr>
                        <td><strong>Code</strong></td>
                        <td>{{selectedPayment.code}}</td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td>{{selectedPayment.description}}</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="well" hidden$="{{selectedPayment}}">Please select a transaction from the <strong>Transactions</strong> tab.</div>
            
            <div class="form-group">
                <h4><strong>Date</strong></h4>
                <date-input input-value="{{selectedDate}}"></date-input>
            </div>
            
            <h4><b>Account</b></h4>
            <selectable-table id="select-table" table-items="{{items}}" table-headers="{{headers}}"
            select-type="false" selected-row="{{selectedAccount}}"></selectable-table>
            
            <h4><b>Notes</b></h4>
            <div class="form-group">
                <textarea id="notes" rows="6" form="ach-form" class="form-control" value="{{notes::input}}"></textarea>
            </div>
            
            <input id="submit" type="submit" class="btn btn-primary" on-click="submitForm">
            or <span><a href="javascript:;" on-click="resetApp">Cancel</a></span>
        </activity-form>
        <event-hub id="hub">
            <event-subscription event="reverse-payment:loaded" on-handle="loadActivity"></event-subscription>
        </event-hub>
    </template>
    <script>
        Polymer({
            is: "reverse-payment",
            properties: {
                selectedPayment: Object
            },
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },
            init: function() {
                var self = this;
                
                self.selectedPayment = false;
                self.selectedDate = self.getCurrentDate();
                self.selectedAccount;
                self.headers = {
                    bankName: self.getBankName(),
                    routingNumber: "Routing #",
                    accountNumber: "Account #",
                    paymentType: "Type"
                };
                return function() {
                    self.items = [];
                }
            },
            properties: {
                currentLoan: {
                    type: Object,
                    notify: true
                }
            },
            observers: [
                "updateCurrentLoan(currentLoan)"
            ],
            updateCurrentLoan: function() {
                var self = this;
                self.set("loan", self.currentLoan);
                if (self.loan && self.loan.terms) {
                    var item = {
                        bankName : "Chase",
                        routingNumber : self.loan.bankInfo.routingNumber,
                        accountNumber : self.loan.bankInfo.accountNumber,
                        paymentType : self.loan.bankInfo.accountType,
                        isPrimary : true
                    };
                    self.set("items", [item]);
                    self.set("selectedAccount", item);
                }
            },
            submitForm: function() {
                var self = this;
                
                var data = {
                    date: self.selectedDate,
                    account: self.selectedAccount
                }
                
                if (!self.selectedAccount || !self.selectedDate || !self.selectedPayment) {
                    self.$["reverse-form"].displayErrorMessage("Date and account required.")
                    return
                }
                
                self.$.hub.publish("notification:show", {type: "success", message: "Reverse Payment successfully submitted."});
                this.resetApp();
            },
            resetApp: function() {
                this.selectedDate = this.getCurrentDate();
                this.$.hub.publish("activity:close", {
                    activity: "reverse-payment"
                });
                this.$["reverse-form"].clearErrorMessages();
            },
            getCurrentDate : function() {
                var date = new Date();
                var month = (date.getMonth() < 9) ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = (date.getDate() < 9) ? "0" + date.getDate() : date.getDate();
                var year = date.getFullYear();
                return [month, day, year].join("/");
            },
            loadActivity: function(e, activity) {
                if (!activity) { return }
                if (Object.keys(activity).length === 0) { return }
                this.init();
                    
                this.selectedPayment = activity.data;
            },
            getBankName: function() {
                //TODO: API Call to get bank name
                return "Chase"
            }
        })
    </script>
</dom-module>