<dom-module id="ui-view-collection">
    <template>
        <div class="well" hidden$="{{ shouldHideLoadingMessage }}">Loading...</div>
        <div hidden$="{{ shouldHideContent }}"><content></content></div>
        <div class="alert alert-danger" hidden$="{{ shouldHideError }}">
            <h2>Unable to load.<br>Retry?<br><a on-click="onReloadClicked"><i class="fa fa-refresh"></i></a></h2>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-view-collection",

            behaviors: [eventHub, ensureDependenciesBehavior],

            properties: {
                fetchCount: {
                    value: 0,
                    type: Number
                },
                isFetching: Boolean,
                fetchDidSucceed: Boolean,
                shouldHideLoadingMessage: {
                    value: true,
                    type: Boolean
                },
                shouldHideContent: {
                    value: true,
                    type: Boolean
                },
                shouldHideError: {
                    value: true,
                    type: Boolean
                }
            },

            listeners: {
                "attached": "onChildAttached"
            },

            attached: function () {
                this.fetchData();
            },

            onReloadClicked: function (e) {
                e.stopPropagation();
                e.preventDefault();
                this.fetchData();
            },

            fetchData: function () {
                this.fetchCount += 1;
                this.resetFlags();
                this.set("isFetching", true);
                this.set("shouldHideLoadingMessage", false);
                this.domHost.fetchData()
                    .then(function (response) {
                        this.set("isFetching", false);
                        this.set("fetchDidSucceed", true);
                        this.set("shouldHideLoadingMessage", true);
                        this.set("shouldHideContent", false);
                        this.set("data", response);
                        this.getContentChildren().forEach(function (child) {
                            new Promise(function (resolve) {
                                child.is && child.setData ?
                                    resolve(child) :
                                    this.addEventListener("attached", this.onChildAttached(resolve));
                            }.bind(this)).then(function (child) {
                                child.setData(this.data);
                            }.bind(this))
                        }.bind(this));
                    }.bind(this))
                    .catch(function (error) {
                        this.set("isFetching", false);
                        this.set("fetchDidSucceed", false);
                        this.set("shouldHideLoadingMessage", true);
                        this.set("shouldHideError", false);
                    }.bind(this));
            },

            resetFlags: function () {
                this.set("shouldHideLoadingMessage", true);
                this.set("shouldHideContent", true);
                this.set("shouldHideError", true);
            },

            onChildAttached: function (resolve) {
                return function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    resolve(e.target);
                }
            },

            detached: function () {
                this.removeEventListener("attached", this.onChildAttached);
            }
        })
    </script>
</dom-module>