<html-import html-href="services/workflow-service.html"></html-import>

<dom-module id="identity-service">
    <template>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <workflow-service id="workflow"></workflow-service>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        (function () {
            Polymer({
                is: "identity-service",

                baseUrl: window.config.services.security,
                ready: function () {
                    console.log('Having fun');
                },
                login: function (username, password, portal) {
                    var self = this;

                    var securityBase = window.config.services.security;
                    var data = {
                        username: username,
                        password: password,
                        portal: portal
                    }

                    return self.$.http.post("/login", data, securityBase)
                        .done(function (token) {
                            self.updateIgnoreLoaderUrls();
                            token = token.token;
                            self.$.session.set("token", token);
                            self.$.workflow
                                .associateWith(JSON.parse(atob(token.split('.')[1])).sub);
                            window.location = self.configuration.private.url;
                        })
                },
                updateIgnoreLoaderUrls: function () {
                    var configEndpoint = window.config.services.backofficeconfiguration;
                    var url = "/" + window.configName + "/ignoreLoaderUrls";
                    this.$.http.get(url, configEndpoint).then(function (data) {
                        if (!data) {
                            return;
                        }
                        window.Pace.options.ajax.ignoreURLs = data;
                    });
                },
                logout: function () {
                    var self = this;
                    var token = self.$.session.get("token");
                    var securityBase = window.config.services.security;

                    return self.$.http.get("/logout", securityBase)
                        .done(function () {
                            self.$.session.remove("token");
                            self.$.session.remove(token);
                            self.$.session.remove("is_review_done");
                            self.$.session.remove("workflowId");
                            window.location = self.configuration.public.url;
                        })
                },

                /**
                 * Create a new user account
                 * @param {Object} payload Object describing user
                 * @param {string} payload.username
                 * @param {string} payload.password
                 * @param {string} payload.email
                 * @param {string[]} payload.roles
                 */
                createUser: function (payload) {
                    // for mocking
                    //                return new Promise(function (resolve, reject) {
                    //                    resolve(payload);
                    //                });

                    return this.$.http.put("", payload, this.baseUrl);
                },

                validateUsername: function (username) {
                    var self = this;
                    var url = "check/";
                    var payload = { username: username };
                    var baseUrl = this.baseUrl;

                    return new Promise(function (resolve, reject) {
                        self.$.http.post(
                            url,
                            payload,
                            baseUrl,
                            function success(response) {
                                resolve(response.available);
                            },
                            function failure(error) {
                                reject(error)
                            });
                    });
                },


                requestToken: function (username) {
                    var self = this;

                    var securityBase = window.config.services.security;
                    var payload = {
                        username: username,
                        portal: window.portal
                    }
                    return self.$.http.post("/request-token", payload, securityBase);
                },
                resetPassword: function (username, password, token) {
                    var self = this

                    var securityBase = window.config.services.security;
                    var data = {
                        username: username,
                        password: password
                    }

                    return self.$.http.post("/reset-password/" + token, data, securityBase);
                },

                /**
                 * Fetch all users
                 * @param id
                 * @returns UserResponse[]
                 */
                getAllUsers: function () {
                    return promise.resolve([new UserResponse("HaroldSpeed", "123", "h@s.com", ["Admin"])])
                },

                /**
                 * Fetch a user by id
                 * @param id
                 * @returns {UserResponse}
                 */
                getUserById: function (id) {
                    return promise.resolve(new UserResponse("HaroldSpeed", "123", "h@s.com", ["Admin"]))
                },

                /**
                 * Add a new role to the specified user
                 * @param username
                 * @param role
                 */
                addRole: function (username, role) {
                    var url = ["users", username, "roles", role].join("/");

                    //                    return this.$.http.post(url,null,this.baseUrl);
                    //                    return delayResolve(null, 1000);
                    return Promise.reject({
                        error: {
                            message: "An error occurred while adding your role."
                        }
                    });
                },

                /**
                 * Remove a role from the specified user
                 * @param username
                 * @param role
                 */
                removeRole: function (username, role) {
                    var url = [users, username, roles, role].join("/");

                    //                    return this.$.http.delete(url, null, this.baseUrl)
                    return delayResolve(null, 1000);
                },

                /**
                 * Change the password of the specified user
                 * @param username
                 * @param newPassword
                 */
                changePassword: function (username, newPassword) {
                    return delayResolve(null, 1000);
                },

                /**
                 * Change the email of the specified user
                 * @param username
                 * @param newEmail
                 */
                changeEmail: function (username, newEmail) {
                    return delayResolve(null, 1000);
                },

                /**
                 * Change the status of the specified user
                 * @param username
                 * @param newStatus
                 */
                changeStatus: function (username, newStatus) {
                    return delayResolve(null, 1000)
                },

                /**
                 * Fetch status of the specified user
                 * @param username
                 */
                getUserStatus: function (username) {
                    return delayResolve(new UserStatusResponse("Active"), 1000);
                },

                /**
                 * Fetch roles associated with a specified user name
                 * @param username
                 * @returns {|Promise<UserRolesResponse>}
                 */
                getUserRoles: function (username) {
                    return delayResolve(new UserRolesResponse(["User", "Admin"]), 1000);
                }
            });

            function delayResolve(value, delay) {
                return new Promise(function (r) {
                    setTimeout(r(value), delay);
                })
            }

            /**
             * UserResponse
             * @param {string} username
             * @param {string} id
             * @param {string} email
             * @param {Array<string>} roles
             * @param {ResponseError} error
             * @constructor
             */
            function UserResponse(username, id, email, roles, error) {
                this.username = username;
                this.id = id;
                this.email = email;
                this.roles = roles;
                if (error) {
                    this.error = error;
                }
            }

            /**
             * UserRolesResponse
             * @param roles
             * @param error
             * @constructor
             */
            function UserRolesResponse(roles, error) {
                this.roles = roles;
                if (error) {
                    this.error = error;
                }
            }

            /**
             * ResponseError
             * @param type
             * @param message
             * @constructor
             */
            function ResponseError(type, message) {
                this.type = type;
                this.message = message;
            }

            /**
             * UserStatusResponse
             * @param status
             * @param error
             * @constructor
             */
            function UserStatusResponse(status, error) {
                this.status = status;
                if (error) {
                    this.error = error;
                }
            }

        })();
    </script>
</dom-module>