<script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>

<dom-module is="spinner-loader">
    <style></style>
    <template></template>
    <script>
        Polymer({
            is: "spinner-loader",

            ready: function(){
            },

            loadingOn: function(){
                $.LoadingOverlay("show");
            },

            loadingOff: function(){
                $.LoadingOverlay("hide");
            }
        });
    </script>
</dom-module>